@charset "utf-8";

.header{
    align-items:center;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    color-scheme: light;
    display:flex;
    flex-wrap:wrap;
    font-size: 14px;
    line-height: 21px;
    overflow-wrap:break-word;
    padding-left: 16px;
    padding-right: 16px;
    text-size-adjust: 100%;
    z-index: 32;
    width: auto;
    height: 100px;
    padding-left: 10%;
}