@charset "utf-8";


:root {
    /*화면을 줄이거나 늘렸을 때 글자 크기조절 하는 기능*/
    --font-size-lg: calc(1rem + 3vw);
    --font-size-md: calc(0.8rem + 1.5vw);
    --font-size-sm: calc(0.6rem + 1vw);
    --font-size-vsm: calc(0.4rem + 0.1vw);
  }
  
  h1 {
    font-size: var(--font-size-lg);
  }
  
  h2 {
    font-size: var(--font-size-md);
  }
  
  h3{font-size: var(--font-size-sm);}
  
  p {
    font-size: var(--font-size-sm);
  }
  
  /*출처표기 인용구의 css*/
  blockquote {
    font-size: var(--font-size-md);
  }
  
  a {
    font-size: var(--font-size-sm);
  }



/* "{max-width: 100%;
    height: auto;}"를 사용한 이유
    -> 페이지 전체적으로 화면을 줄이거나 늘렸을 때 반응형처럼 보이게 하기 위해 사용, 화면을 줄이거나 늘렸을 때 밑에서 준 
    .box{}의 길이인 최대 가로 길이:80vw로 고정, 세로는 늘어난 만큼 보여짐  */
* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    max-width: 100%;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
	font: inherit;
    box-sizing: border-box;
}

/*리스트들의 특수기호 제거*/
li {
    list-style: none;
}


/*하이퍼링크 전체 밑줄 제거*/
a {
    text-decoration: none;
}

/*사용할 페이지 전체 범위(가로폭은 보이는 화면의 80%고정, 세로폭은 내용물이 많아지면 자동 증가)*/
body {
    max-width: 80vw;
    border: 1px solid red;
    margin: auto;
   
}  

/*전체 페이지 틀 설정*/
.box{
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 6rem auto 3rem;
    grid-template-areas:
    'a a'
    'b b'
    'c c' 
}
header{
    grid-area: a;
}

main{
    grid-area: b;
}

footer{
    grid-area: c;
}

.body{
   
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto;
   
}



/**********메인 header(header 부분 전체)************/
.box header {
    display: flex; 
    border: 5px solid orange;
    padding: 0.5rem 2rem;
    position: relative;
    justify-content: space-between;
}


.box header .header_logo {
    display: flex;
    border: 1px solid purple;
    align-items: center;
    justify-items: center;
    
    
}  


.box header .header_menu {
    display: flex; 
    border: 3px solid yellow;
    
    justify-content: space-evenly;
}

.box header .header_menu li {
    border: 1px solid blue;border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.2rem;
    display:flex; 
    align-items: center;
    
}



.box header .header_mypage {
    border: 5px solid purple;
    display: flex;
    align-items: center;
   
    height: auto;
    justify-content: center;
    object-fit: cover;
    
}


.box header .header_hamburger{
    display: none;
    position: absolute;
    font-size: 1rem;
    top: 8px;
    left: auto;
    right: 8px;
    width:30px;
    height:30px;
    font-size: 1.5rem;
}

@media screen and (max-width:768px) {
    .box header{
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem;
    }

    .box header .header_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .box header .header_menu li{
        width: 100%;
        
    }

    .box header .header_mypage{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .box header .header_hamburger{
        display: block;
       
    }

    .header_menu.active,
    .header_mypage.active{
        display: flex;
    }
}


/*********메인 슬라이드이미지*********/
.box .slide {
   
    height: 70vh;
    border: 1px solid rgb(1, 1, 1);
}


/*********메인 바디***********/
.box main .body {
    
    border: 1px solid orange;
  
}

.box main .body .body_center{
    border: 1px solid rgb(158, 90, 2);
    
    
}

.box main .body .aside_l{
    border: 1px solid rgb(0, 255, 76);
    display: flex;
    flex-direction: row;

}

.box main .body .aside_r{
    border: 1px solid rgb(0, 64, 255);
    display: flex;
    flex-direction: row;
    
}

/******메인 물품판매박스*******/
.box main .body .body_center .container{
    border: 5px solid rgba(0, 0, 0, 0.656);
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(3rem, auto);
    gap: 1rem;
    
}

.box main .body .body_center .container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*물품박스의 글씨*/

.box main .body .body_center .prod_goods .container .item {
    text-align: center;
    margin-bottom: 1rem;
} 





/*메인 리뷰*/
.box main .body .body_center .review{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.box main .body .body_center .review .checkup{
    justify-items: center;width: 100px;
}


.box main .body .body_center .review .container1{
   
    
}

.box main .body .body_center .review .container1 .box1{
    
    
    
}

.box main .body .body_center .review .container1 .box1 .item{
   
   

    
}