/*********메인 바디***********/
main .body {
    display: flex;

    /* display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto; */
    flex-direction: row;
    justify-content: center;
}

/*메인 바디 왼쪽*/
main .body .aside_l {
    display: flex;
    flex-basis: 10%;



}

/*메인 바디 오른쪽*/
main .body .aside_r {
    display: flex;
    flex-basis: 10%;


}

/*메인 바디 가운데 */
main .body .body_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 80%;
}

/*sec1*/
.sec1 {
   display: flex;
    flex-basis: auto;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
}

.sec1 .titlebox {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.sec1 .titlebox .title{
  text-align: center;
}


/*선 길이 조절*/
.sec1 .line {
    display: flex;
    justify-content: center;
    width: 100%
}

hr {
    width: 100%;
}

/*물건 종류 박스*/
.sec1 .producttypebox {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec1 .producttypebox .allselect, .tent, .pole, .hammer,.caravan  {
    flex-basis: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



/*전체선택 글씨 굵기 조절하기*/
.sec1 .producttypebox>.item {
    font-weight: bold;
    font-size: large;
    min-width: 100px;
}


/*가격박스 전체선택 글씨 굵기 조절하기*/
.sec1 .priceorderbox .allselect {
    font-weight: bold;
    font-size: large;
}

/*캠핑 종류 박스*/
.sec1 .campingtypebox{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*sec2*/
.sec2 .dropdownsearchbox {
   width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

@media screen and (max-width:1024px){
   

    /*'가격 종류' 목록 세로축으로 정렬*/
    .sec1 .priceorderbox{
        flex-direction: column;
    }

    .sec1 .campingtypebox{
        flex-direction: column;
    }
   
    /*드롭다운 메뉴 만들기*/ 
    /* 메뉴 숨기기*/
    .sec1 .producttypebox .tent .tentitem {
        display: none;
    }  
    /* 메뉴 보이기 */
    .sec1 .producttypebox .tent:hover .tentitem{
      display: flex;
    
      width: 100%;
      justify-content: center;
      
    }
   
    .sec1 .producttypebox .pole .poleitem {
        display: none;
    }
  
    .sec1 .producttypebox .pole .poleitem{
        display: none;
      
    }
    .sec1 .producttypebox .pole:hover .poleitem{
        display: flex;
        width: 100%;
        justify-content: center;
        
      }
    
    .sec1 .producttypebox .hammer .hammeritem {
        display: none;
    }
    .sec1 .producttypebox .hammer:hover .hammeritem{
      display: flex;
     
      width: 100%;
      justify-content: center;
      
    }
    .sec1 .producttypebox .caravan .caravanitem {
        display: none;
    }
    .sec1 .producttypebox .caravan:hover .caravanitem{
      display: flex;
      
      width: 100%;
      justify-content: center;
      
    }

    /*드롭다운 메뉴 꾸미기*/
    .sec1 .producttypebox .tent, .pole, .hammer, .caravan{
        border-radius : 4px;
        color : rgb(37, 37, 37);
        padding : 12px;
        text-align: left;
        cursor : pointer;
        font-size : 12px;
    }

}

@media screen and (max-width:768px){
  .sec1{
    height: auto;
  }

   /*1024이하 일때 '상품 종류별' 목록의 가로축에서 세로축으로 변경*/
    .sec1 .producttypebox{
        width:100%;
        display: flex;
        flex-direction: column;
    }
    /*1024px이하 일때 텍스트들 가로 중앙 정렬*/
    .sec1 .producttypebox .tent, .pole, .hammer, .caravan{
        display:flex;
        flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: auto;
    }
}





/*sec2*/
.sec2 .dropdownsearchbox {
   width: 100%;
    display: flex;
    flex-direction: row-reverse;

}


/*sec2*/
.sec2 .dropdownsearchbox {
   width: 100%;
    display: flex;
    flex-direction: row-reverse;

}


/*드롭다운 메뉴 만들기*/
.dropdownbox {
  width: 150px;
  position: relative;
  
}

.dropdown {
  border: 1px solid #333;
  padding: 3px;
  border-radius: 5px;
  background-color: #6D8EAA;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--color-a) !important;
}

.subdropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: #0000ff05;
  
}

.subdropdown a {
  color: var(--color-a);
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  transition: background-color 0.2s ease-in-out;
}

.subdropdown a:hover {
  color: #fff;
  background-color: #9299C5;
}

.dropdown:hover .subdropdown {
  display: flex;
  flex-direction: column;
}

.dropitem {
  background-color: #6D8EAA;
  border: 1px solid #333;
  border-radius: 5px;
}

  @media screen and (max-width: 480px) {
    .dropdownbox {
      max-width: 150px;
      width: 100%;
    }
  }
  
  


.sec2 .dropdownsearchbox .searchbox{
   width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 2.9rem;
}

.sec2 .dropdownsearchbox .searchbox .search{
     width: 30%;
    height: 100%;
    min-width: 6rem;
    border-radius: 5px;
}

/*판매상품의 사진+조회수+찜+별점*/
.sec3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(10rem, auto);
    gap: 1rem;
    margin: 1rem;
    color: black;
    font-size: 12px;
    
}

.sec3 .productbox {
   border: gray 1px solid;
    text-align: center;
    cursor: pointer;
}

.sec3 .productbox:hover {
   background-color: #80808030;
   border: gray 2px solid
}

.sec3 .productbox1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.sec3 .productbox6{
    
    grid-column-start:3;
    grid-column-end: 5;
}

.sec3 .productbox11{
    
    grid-column-start:1;
    grid-column-end: 4;
} 

.sec3 .productbox .p_contentbox{
    display: flex;
    flex-direction: column;
}

.sec3 .productbox .p_explan {
    margin: 0.4rem;
}

.sec3 .p_contentbox .p_reviewheartbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sec3 .p_contentbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.boardpage {
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
}

.boardpage a {
  display: flex;
  min-width: 20px;
  min-height: 20px;
  box-sizing: border-box;
  border-left: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 3rem;
  height: 3rem;
  background: #ddd;
  border-radius: 10%;
}

.boardpage a.button {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.boardpage a.num {
  font-size: 1.4rem;
}

.boardpage a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}


.pagingEl ul .active a{
   background-color: #7d86c3;
   display: flex;
    min-width: 20px;
    min-height: 20px;
    box-sizing: border-box;
    border-left: 0;
    align-items: center;
    justify-content: space-evenly;
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
}


@media screen and (max-width:1024px){
    .sec3{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: minmax(10rem, auto);
        gap: 1rem;
        margin: 1rem;
        background-color: white;
        color:rgb(0, 0, 0);
    }
    
    .sec3 .productbox {
      border: gray 1px solid;
       text-align: center;
       cursor: pointer;
   }

   .sec3 .productbox:hover {
      background-color: #80808030;
      border: gray 2px solid
   }

    .sec3 .productbox1{
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .sec3 .productbox6{
        
        grid-column-start:1;
        grid-column-end: 1;
    }
    
    .sec3 .productbox11{
        
        grid-column-start:1;
        grid-column-end: 1;
    } 

}

@media screen and (max-width:768px){
  .boardpage {
    flex-wrap: wrap;
  }
}




@media screen and (max-width:480px){
    .sec3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(1rem, auto);
        gap: 1rem;
        margin: 1rem;
        background-color: white;
        color:rgb(0, 0, 0);
    }
    .sec3 .productbox {
      border: gray 1px solid;
       text-align: center;
       cursor: pointer;
   }

   .sec3 .productbox:hover {
      background-color: #80808030;
      border: gray 2px solid
   }

  


}



/*판매 상품 등록*/
.sec4{
    display: flex;
    flex-direction: row;
}

.sec4 .product_registration{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  
}

.sec4 .p_explanbox {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
   
}


.sec4 .p_explanbox .explan{
    width: 100%;
    height: 100%;
    padding: 3rem;
}

@media screen and (max-width:1024px){
   
    .sec4{
        flex-direction: column;
    }

    .sec4 .product_registration{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
.tentitem1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background-color: #A2C4E1;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  min-width: 105px
}

button[class="itemadd"] {
   color: black;
}

/* 버튼 호버 스타일 */
.tentitem1:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #0062cc;
}

/* 버튼 액티브 스타일 */
.tentitem1:active {   
  transform: translateY(0);
  box-shadow: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #A2C4E1;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out;
}

.custom-file-upload:hover {
  background-color: #0062cc;
}

.custom-file-upload i {
  margin-right: 5px;
}

.footer {
    color: aliceblue;
}