/*********메인 바디***********/
main .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*메인 바디 가운데 */
main .body .body_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 80%;
}

.body_center hr {
	width: 60vw;
}



/*sec1*/
.sec1 {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.sec1 .titlebox {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-lg);
  margin: 3rem;
}

/*제목 하트 한 줄에 채우기*/
.cg_title_heartbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-md);
}
/*--*/

.sec1 .imgtextbox{
  display: flex;
  gap: 5%;
}

.sec1 .imgtextbox .imgbox{
  width: 50%;
}

/*상품의 왼쪽*/

.sec1 .campgroundimgbox {
	min-width: 10rem;
    width: 100%;
}

.sec1 .campgroundimg {
  width: 100%;
    display: flex;
    min-width: 200px;
}
.sec1 .campgroundimgbox {
  min-width: 10rem;
  width: 100%;
}


.sec1 .titlebox {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.sec1 .cg_explainbox{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 55vw;
}

.sec1 .cg_explain{
    width: 100%;
}


/*버튼 두개 정렬*/
.cg_cart, .cg_explain_btn {
  background-color: #444;
  color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  margin: 0 5px;
  padding: 8px 16px;
  min-width: 85px;
  }
  
  /*장바구니 버튼*/
  .cg_cart {
  margin-right: 0;
  background-color: #ffa500; 
  border: none;
  }

  .cg_cart:hover {
    background-color: #ff8c00;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  }

  .cg_starbox{
    flex-basis: 8%;
  }

  /*구매하기 버튼*/
  .cg_explain_btn{
    background-color: #007bff;
    border: none;
  }
  
  .cg_explain_btn:hover {
    background-color:  #0069d9;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
  }


  .sec1 .imgtextbox .textbox .cg_btn_box{
  display: flex;
  flex-direction: row; 
  justify-content: space-between; /* 버튼 사이 간격을 벌리기 위해 추가 */
  align-items: center;
  width: 100%;
  }

  
  .cg_cartbox{
    flex: 1;
    margin-right: 10px; /* 버튼 사이 간격을 벌리기 위해 추가 */
  }

    /*가격*/
    .cg_price{
      text-align: end;
      flex-basis: 20%;
      font-size: var(--font-size-lg);
    }
  
  /*하트*/
  .sec1 .cg_heart{
    width: 50px;
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  


  
  @media screen and (max-width:768px) {
  .sec1 .imgtextbox .textbox .cg_btn_box {
  flex-direction: row; /* 768px 이상의 화면에서는 버튼을 가로로 정렬 */
  }
  
  .cg_cartbox {
  margin-bottom: 0;
  margin-right: 10px; /* 장바구니 버튼 오른쪽 여백 설정 */
  }
  
  .cg_cartbox, .cg_explainbox {
  max-width: none; /* 버튼 최대 너비 설정 해제 */
  }
  }

  @media screen and (max-width:480px){
    .sec1 .imgtextbox {
      flex-direction: column;
      display: flex;
      align-items: center;
    }
  }


.section2 {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	width: 70%;
}

.section2 .cal-info {
	margin: 2rem 2rem 10rem 2rem;
}

.section3 {
	width: 70%;
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.section3 .box3 {
	margin-left: 4rem;
}

.sec2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}



.sec2 .mapbox {
    display: flex;
    flex-basis: 30%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.cal-title {
	text-align: center;
	margin-top: 2rem;
}

@media screen and (max-width:1024px) {
    .sec2{
        flex-direction: column;
    }
}

/*후기*/

.sec3 .reviewwritebox {
    display: flex;
    justify-content: end;
    margin-right: 3rem;
}

.sec4 .rv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3rem;
}

.sec4 .rv_l {
  display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    padding: 20px;
}

.sec4 .rv_r {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 80%;
    margin: 1rem;
}


.sec4 .rv_l .box_l {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;

}

.sec4 .rv_l .box_r {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: space-between;
    align-items: center;

}

.sec4 .rv_r .box_l {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;

}

.sec4 .rv_r .box_r {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
}

.sec4 .rv_img {
    height: 7rem;
}


.sec4 .rv .rv_r .box_r .comment {
    width: 100%;
}


.sec4 .rv .rv_lbox {
    display: flex;
    align-items: center;
    flex-basis: 10%;
}

.sec4 .rv .rv_lbox .rv_like {
    width: 50%;
}


@media screen and (max-width:1024px) {
    .sec4 .rv_l {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}
.sec4 .rv_r {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}
}




/*중간단계 건너띄고 지정*/
.sec4 .rv .write{
    text-align: center;
}


  .item-modal-btn-box{
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 3rem 0;
  }
  .item-modal-btn-box button{
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  p{
    margin-top:10px;
  }
  .container{
    width:100%;
  }
  .modal-btn-box{
    width:100%;
    text-align:center;
  }
  .modal-btn-box button{
    display:inline-block;
    width:150px;
    height:50px;
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    cursor:pointer;
    padding-top:8px;
    color: black;
    margin-bottom: 2rem;
  }

/* star 부분*/
.cg_star {
  display: inline-block; }
  .cg_star a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }
    
/*모달을 감쌀 박스의 css*/
.popup-wrap{
    background-color:rgba(0,0,0,.3);  /*배경색과 투명도로 살짝 어둡지만 투명한 배경*/
    justify-content:center; /*수평 중앙정렬*/
    align-items:center;     /*수직 중앙정렬*/
    position:fixed;         /*포지션 픽스, 화면이 스크롤되더라도 고정되기 위함*/ 
    top:0;
    left:0;
    right:0;
    bottom:0;               /*모든 방향에 0을 주면 화면에 꽉차게 됩니다.*/
    display:none;  /*이벤트가 발생할 때 띄우기 위해 숨김*/
    padding:15px; 
  }
  
.modify-popup{
    width:100%;
    max-width:600px;          /*팝업의 최대 크기지정*/
    border-radius:10px;     
    overflow:hidden;          /*각을 없앴을 때 내부 영역이 튀어나오는걸 방지*/
    background-color:rgb(54, 54, 54);/*배경색*/
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); /*팝업이 허공에 떠있는 듯한 느낌을 주기 위한 그림자 효과.*/
  }

  /*모달의 몸체*/
  .popup{
    width:100%;
    max-width:600px;          /*팝업의 최대 크기지정*/
    border-radius:10px;     
    overflow:hidden;          /*각을 없앴을 때 내부 영역이 튀어나오는걸 방지*/
    background-color:rgb(54, 54, 54);/*배경색*/
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); /*팝업이 허공에 떠있는 듯한 느낌을 주기 위한 그림자 효과.*/
  }
  
  /*모달의 헤더(로고) 부분*/
  .popup-head{
    width:100%;
    /*부모요소를 따라가기 때문에 굳이 가로값을 주지 않아도 되지만 일부 ie에서 인식 못하는 문제가 있음*/
    height:9vh;  /*헤드 영역 높이*/
    display:flex; /*로고 이미지나 텍스트를 중앙 정렬하기 위한 flex 및 정렬*/
    align-items:center;
    justify-content:center;
    min-height: 50px;
    max-height: 100px;
    color: #ffffff;
  }

  /*모달의 몸통 부분*/
  .popup-body{                /*몸통*/
    width:100%;
    background-color:#ffffff; /*컨텐츠 영역의 배경색*/
    overflow-y: auto;
}
  .body-content{              /*몸통 내부 컨텐츠 영역*/
    width:100%;
    padding:30px;             /*좌우에 내용이 붙으면 보기 안좋기 때문에 간격 띄움*/
  }
  .body-titlebox{             /*컨텐츠 타이틀 영역*/
    font-size: var(--font-size-sm);
    font-weight: bold;
    width:100%;
    height: 6vh;
    min-height: 50px;
    max-height: 100px;
    margin-bottom:10px;       /*내용과 간격 조정*/

  }
  .body-contentbox{           /*컨텐츠 내용 영역*/
    word-break:break-word;    /*단어가 짤리지 않음*/
    overflow-y:auto;          /*내부요소가 지정한 세로 값보다 클 경우 스크롤 생성*/
    min-height:10vh;         /*최소 높이*/
    max-height:60vh;         /*최대 높이*/
  }
    /*푸터*/
  .popup-foot{                      
    width:100%;
    height: 6vh;
    min-height: 50px;
    max-height: 100px;
  } 
  
  /*각각의 버튼*/
  .pop-btn{
    display:inline-flex;            /*한줄로 나열하기 위한 inline속성과 flex속성 혼합*/
    width:50%;                      /*2개 버튼 각각 50% 영역*/
    height:100%;                    /*50px*/
    justify-content:center;         /*수평정렬*/
    align-items:center;             /*수직정렬*/
    float:left;                     /*좌측배치*/
    color:#ffffff;                  /*글자색*/
    cursor:pointer;                 /*마우스 포인터 효과*/
  }
  
  /*확인버튼*/
  .pop-btn.close{                 
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
  }


  /*******컨텐츠 부분********/

  /*선 크기 조절*/
  hr{
    margin: 1rem 0;
    
  }

/*캠핑 사진, 설명 박스*/
.body-contentbox .campgroundsbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-contentbox .campgroundsbox .campimgbox{
    
    width: 10rem;
    height: 6rem;
}

.body-contentbox .campgroundsbox .campimgbox .campimg{
   
    width: 100%;
    height: 100%;
}


.body-contentbox .campgroundsbox .campexplainbox{
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  width: 50%;
}

/*캠핑 별점*/
.body-contentbox .starbox{
    display: flex;
    flex-direction: column;
   
}

.body-contentbox .starbox .star_title{
    font-weight: bold;
}

.body-contentbox .starbox .starsizeupbox{
   display: flex;
   width: 100%;
    height: 8rem;
   
}


.body-contentbox .starbox .starsizeupbox .star{
    width: 100%;
    height: 100%;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*캠핑 리뷰글 작성박스*/
.body-contentbox .textreviewbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-contentbox .textreviewbox .tr_texttitle{
    font-weight: bold;
    margin-bottom: 1rem;
}

.body-contentbox .textreviewbox .tr_text{
    
    height: 13vh;
}

@media screen and (max-width:480px) {
    .body-contentbox .campgroundsbox{
        display: flex;
        flex-direction: column;
    }

}

/* TEST */

.start-day{
	width: 50%;
	text-align : center;
	float: left;
	line-height: 20px;
}

.end-day{
	width: 50%;
	text-align : center;
	float: right;
	line-height: 20px;
}

#calendar {
  width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
}

#month-year {
  font-size: 24px;
  text-align: center;
  margin: 10px;
}

#weekdays {
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 5px;
}

#weekdays div {
  width: 40px;
  text-align: center;
}

#days {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

#days div {
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

#days div:hover {
  background-color: #f7f7f7;
}

#buttons {
  text-align: center;
  margin-bottom: 10px;
}



#reservation{
  background-color: #0000ff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

#reset{
  background-color: red;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}
/* 텍스트 영역 스타일 */
textarea {
  width: 100%;
  height: 150px;
  padding: 14px 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
  resize: none;
}

/* 텍스트 영역 포커스 스타일 */
textarea:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 텍스트 영역 레이블 스타일 */
label {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  margin-bottom: 6px;
  display: block;
}

/* 텍스트 영역 에러 스타일 */
.error {
  color: #ff4136;
  font-size: 14px;
  margin-top: 6px;
  display: block;
}

/* 입력 필드 스타일 */
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 14px 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

/* 입력 필드 포커스 스타일 */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 입력 필드 레이블 스타일 */
label {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  margin-bottom: 6px;
  display: block;
}

/* 입력 필드 에러 스타일 */
.error {
  color: #ff4136;
  font-size: 14px;
  margin-top: 6px;
  display: block;
}



/* 버튼 호버 스타일 */
button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #0062cc;
  color: white;
}

/* 버튼 액티브 스타일 */
button:active {
  transform: translateY(0);
  box-shadow: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #A2C4E1;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out;
}

.custom-file-upload:hover {
  background-color: #0062cc;
}

.custom-file-upload i {
  margin-right: 5px;
}

/* 날씨 관련 css*/
.weather-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.weather-re {
  width: 120px;
  text-align: center;
  margin: 0.5rem;
}

.weather-re:last-child {
  margin-right: 0;
}

.weatherbox {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.weatherbox:hover {
  transform: translateY(-5px);
}

.weather-img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
}

.weather {
  font-size: 1rem;
  font-weight: bold;
}

.wind {
  font-size: 0.8rem;
  color: #666;
}

