  p{
    margin-top:10px;
  }
  .modal-btn-box{
    width:100%;
    text-align:center;
  }
  .modal-btn-box button{
    display:inline-block;
    width:150px;
    height:50px;
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    cursor:pointer;
    padding-top:8px;
    margin-bottom: 15px;
  }

/*모달을 감쌀 박스의 css*/
.popup-wrap{
    background-color:rgba(0,0,0,.3);  /*배경색과 투명도로 살짝 어둡지만 투명한 배경*/
    justify-content:center; /*수평 중앙정렬*/
    align-items:center;     /*수직 중앙정렬*/
    position:fixed;         /*포지션 픽스, 화면이 스크롤되더라도 고정되기 위함*/ 
    top:0;
    left:0;
    right:0;
    bottom:0;               /*모든 방향에 0을 주면 화면에 꽉차게 됩니다.*/
    display:none;  /*이벤트가 발생할 때 띄우기 위해 숨김*/
    padding:15px; 
    z-index: 100;
  }

  /*모달의 몸체*/
  .popup{
    width:100%;
    max-width:600px;          /*팝업의 최대 크기지정*/
    border-radius:10px;     
    overflow:hidden;          /*각을 없앴을 때 내부 영역이 튀어나오는걸 방지*/
    background-color:rgb(54, 54, 54);/*배경색*/
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3); /*팝업이 허공에 떠있는 듯한 느낌을 주기 위한 그림자 효과.*/
    height: 90vh;
  }

  /*모달의 헤더(로고) 부분*/
  .popup-head{
    width:100%;
    /*부모요소를 따라가기 때문에 굳이 가로값을 주지 않아도 되지만 일부 ie에서 인식 못하는 문제가 있음*/
    height:10%;  /*헤드 영역 높이*/
    display:flex; /*로고 이미지나 텍스트를 중앙 정렬하기 위한 flex 및 정렬*/
    align-items:center;
    justify-content:center;
    min-height: 50px;
    max-height: 100px;
    color: #ffffff;
  }



  /*모달의 몸통 부분*/
  .popup-body{                /*몸통*/
    width:100%;
    background-color:#ffffff; /*컨텐츠 영역의 배경색*/
    overflow-y: auto;
    height: 80%;
}
  .body-content{              /*몸통 내부 컨텐츠 영역*/
    width:100%;
    padding:30px;             /*좌우에 내용이 붙으면 보기 안좋기 때문에 간격 띄움*/
  }
  .body-titlebox{             /*컨텐츠 타이틀 영역*/
    font-size: var(--font-size-sm);
    font-weight: bold;
    width:100%;
    height: auto;
   
    margin-bottom:10px;       /*내용과 간격 조정*/

  }
  .body-contentbox{           /*컨텐츠 내용 영역*/
    word-break:break-word;    /*단어가 짤리지 않음*/
    overflow-y:auto;          /*내부요소가 지정한 세로 값보다 클 경우 스크롤 생성*/
    min-height:10vh;         /*최소 높이*/
    max-height:60vh;         /*최대 높이*/
  }
    /*푸터*/
  .popup-foot{                      
    width:100%;
    height: 10%;
    
  } 
  
  /*각각의 버튼*/
  .pop-btn{
    display:inline-flex;            /*한줄로 나열하기 위한 inline속성과 flex속성 혼합*/
    width:50%;                      /*2개 버튼 각각 50% 영역*/
    height:100%;                    /*50px*/
    justify-content:center;         /*수평정렬*/
    align-items:center;             /*수직정렬*/
    float:left;                     /*좌측배치*/
    color:#ffffff;                  /*글자색*/
    cursor:pointer;                 /*마우스 포인터 효과*/
  }
  
  /*확인버튼*/
  .pop-btn.close{                 
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
  }


  /*******컨텐츠 부분********/
  /*div class말고 다른 선택자로 속성 지정하기*/
  table{
    width: 100%;
    border-collapse: collapse;
   
  }

  table:nth-last-child(1){
    border-bottom: 2px solid black;
    
  }
  table td{
    border-top: 1px solid #000000;
  }

  table tr{
    display: flex;
    
  }

  table tr .select{
    text-align: center;
  }

  table th{
     background-color: #8d8d8d;
     border-collapse: collapse;
     border-top: 2px solid black;
  }


  /******div 클래스로 속성 지정하기*****/
 
  /*테이블 헤더 부분*/
  table .selectall{
    flex-basis: 5%;
  }

  table .productinfoheader{
    flex-basis: 60%;
  }

  table .amountheader{
    flex-basis: 10%;
  }

  table .amountallheader{
    flex-basis: 25%;
  }


  /*테이블 td 부분*/
  table .select{
    flex-basis: 5%;
  }
  table .productinfobox{
    display:flex;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
  }

  table .amountbox{
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  table .amount{
    width: 3rem;
  }

  table .amountallbox{
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table .productinfobox .productimgbox{
    width: 3rem;
    height: auto;
    flex-basis: 20%;
  }

  table .productinfobox .productimgbox .productimg{
    width: 100%;
    height: 100%;
    
  }

  table .productinfobox .producttextbox{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;

  }

  


 .sumbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8d8d8d;
    height:auto;
    align-items: center;
 }

.btnbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;  
    
}

.btnbox .delete{
  width: 40%;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnbox .selectorder{
    background-color: #8d8d8d;
    border-radius: 2rem;
    width: 40%;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
    
}


@media screen and (max-width:480px){
  table .amountheader{
    flex-basis: 20%;
  }

  table .productinfoheader{
    flex-basis: 50%;
  }

  table .amountallheader{
    flex-basis: 25%;
  }
  
  table .productinfobox{
    flex-direction: column;
    flex-basis: 50%;
  }
  table .amountbox{
    flex-basis: 20%;     

  }

  table .amountallbox{
    flex-basis: 25%;
  }

  .sumbox{
    flex-direction: column;
  }

  .btnbox .delete{
    font-size: var(--font-size-vm);
    height: 2rem;
  }

  .btnbox .selectorder{
    font-size: var(--font-size-vm);
  }


}
