:root {
    --font-size-lg: clamp(1rem, 4vw, 3.5rem);
    --font-size-md: clamp(1.5rem, 3vw, 2.5rem);
    --font-size-sm: clamp(1rem, 2vw, 1.5rem);
}

h1 {
    font-size: var(--font-size-lg);
}

h2 {
    font-size: var(--font-size-md);
}

p {
    font-size: var(--font-size-sm);
    
}

blockquote {
    font-size: var(--font-size-md);
}

a {
    font-size: var(--font-size-sm);
}


* {
    padding: 0;
    margin: 0;
    font-size: 0.5rem;
    left: 0;
    top: 0;
    max-width: 100%;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Varela Round', sans-serif;
	word-wrap: break-word;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

/*리스트들의 특수기호 제거*/
li {
    list-style: none;
}


/*하이퍼링크 전체 밑줄 제거*/
a {
    text-decoration: none;
    /*부모개체의 속성 그대로*/

}



/*사용할 페이지 전체 범위(가로폭은 보이는 화면의 80%고정, 세로폭은 내용물이 많아지면 자동 증가)*/
body {
    display: flex;
    max-width: 100vw;
    border: 1px solid red; 
    justify-content: center;
    
    height: 100vh;
}  

/*container 전체 틀 잡기*/
body .container{
    border: 1px solid yellow;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction:column;
    margin: 2rem;
    justify-content:space-between;
    
}


/*sec1*/
.sec1{
    border: 1px solid orange;
    justify-content: space-evenly;
    display: flex;
    flex-direction:column;
    text-align: center;
    flex-basis: 25%;
    
}


.sec1 .title{
    margin-bottom: 1rem;
    
}

/*sec2*/
.sec2{
    display: flex;
    border: 1px solid green;
    margin: 0 0 4rem 0;
    flex-direction:column;
    
   
    
}

/*소셜로그인 글자 가운데 정렬*/
.sec2 .loginapitext{
    text-align: center;
   
}

/*sns로그인*/
.sec2 .loginapi{
    display: flex;
    justify-content:center;
  
    
    
}


/*buttonbox 모음*/
.sec2 .loginapi .box3{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
   
}


.sec2 .loginapi .buttonbox_g{
    border: 1px border #DC4A38;
    flex-basis: 30%;
}

.sec2 .loginapi .buttonbox_n{
    border: 1px border #00C300;
    flex-basis: 30%;
}

.sec2 .loginapi .buttonbox_k{
    border: 1px border #F7E409;
    flex-basis: 30%;
}
/*----------*/


/*logimg 모음*/

.sec2 .loginapi .buttonbox_g .button_g .logoimg_gw{
    height: 4.5rem;
    display: flex;
    
}

.sec2 .loginapi .buttonbox_n .button_n .logoimg_nw{
    display: flex;
    height: 4.5rem;
}
.sec2 .loginapi .buttonbox_k .button_k .logoimg_kw{
    display: flex;
    height: 4.5rem;
}
/*----------*/








/*화면 480 이상일 때 가릴 것들 모음*/
.sec2 .loginapi .box3 .box4 .item_3{
    display: none;
}


.sec2 .loginapi .box3 .box4 .item_2{
    display: none;
}
/*----------*/






@media screen and (max-width:768px) {
    .sec2{
        border: 1px solid green;
        display: flex;
        flex-direction:column;
        justify-content:center;
        
        
    }
    
    
    .sec2 .loginapi{
        display: flex;
        height: auto;
        flex-direction:column;
        justify-content: center;
        
        align-items: center;
    }
    
    .sec2 .loginapi .box3 .box4{
  
        display: flex;
        justify-content: center;
        margin: 0.3rem;
        flex-basis: 35%;
        height: 4.5rem;
    }

    .sec2 .loginapi .box3 .box4 .logotext{
        display: none;
    }
}

@media screen and (max-width:480px) {
    .sec2{
        border: 1px solid green;
        display: flex;
        flex-direction:column;
        
        
        
        
    }

    .sec2 .loginapi{
        display: flex;
       
        flex-direction:row;
        
    }
    
    .sec2 .loginapi .box3{
        display: flex;
        justify-content:center;
        align-items: center;
       
}

    .sec2 .loginapi .box3 .box4{
        display: flex;
        
        
       

}




/**/
.sec2 .loginapi .buttonbox_g .button_g{
    border: 1px solid #DC4A38;
    margin: 0;
    
}

.sec2 .loginapi .buttonbox_n .button_n{
    border: 1px solid #00C300;
    margin: 0;
    
   
    
}


.sec2 .loginapi .buttonbox_k .button_k{
    border: 1px solid #F7E409;
    margin: 0;
}


/*이미지 아이콘 보이기*/
.sec2 .loginapi .buttonbox_g .button_g .logoimg_g {
   display: flex;
   width: 3rem;
    flex-basis: 25%;
   
}

.sec2 .loginapi .buttonbox_n .button_n .logoimg_n {
    display: flex;
   width: 3rem;
   flex-basis: 25%;
    
 }

 .sec2 .loginapi .buttonbox_k .button_k .logoimg_k {
    display: flex;
   width: 3rem;
   flex-basis: 25%;
    
 }



 /*와이드 이미지 숨기기*/
 .sec2 .loginapi .buttonbox_g .button_g .logoimg_gw {
    display: none;
    flex-direction: row;
    
 }
 .sec2 .loginapi .buttonbox_n .button_n .logoimg_nw {
    display: none;
    flex-direction: row;
    
 }
 .sec2 .loginapi .buttonbox_k .button_k .logoimg_kw {
    display: none;
    flex-direction: row;
    
 }


}





/*섹션 크기 80%로 나누기*/    
.sectionbreak{
    display: flex;
    border: 1px dotted pink;
    flex-basis: 65%;
    padding: 0 8%;
    justify-content: space-between;
    flex-direction: column;
    
}


/*sec3*/
.sectionbreak .sec3{
    border: 1px solid blue;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: space-between;
    flex-basis: 5%;
    
    align-items: center;

}

.sectionbreak .sec3 .line{
    border: 1px dotted rgb(167, 167, 233);
    max-width: 100vw;
    height: auto;
    flex-basis: 25%;
}

.sectionbreak .sec3 .logintitle{
    font-size: 1rem;
}

/*sec4*/
.sectionbreak .sec4{
    border: 1px solid navy;
    display: flex;
    flex-direction:column;
    justify-content: start;
    flex-basis: 45%;
}


.sectionbreak .sec4 .idbox{
    text-align: center;
}

.sectionbreak .sec4 .idbox .idtext{
    
    width: 100%;
    border: 1px solid purple;
    

}

.sectionbreak .sec4 .idbox .id{
    width: 100%;
    height: 3rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    padding: 3rem;
    max-width: 400px;
}

.sectionbreak .sec4 .passwordbox{
    text-align: center;
}


.sectionbreak .sec4 .passwordbox .passwordtext{
    border: 1px solid purple;
   
}

.sectionbreak .sec4 .passwordbox .password{
    width: 100%;
    border-radius: 0.2rem;
    height: 3rem;
    padding: 3rem;
    max-width: 400px;
}


/*sec5*/
.sectionbreak .sec5{
    display: flex;
    border: 1px solid rgb(0, 121, 64);
    max-width: 100vw;
    height: auto;
    flex-direction:column;
    text-align: center;
    justify-content: start;
    flex-basis: 70%;
    align-items: center;
}

.sectionbreak .sec5 .findaccountbox{
    display: flex;
    border: 1px solid rgb(243, 178, 243);
    max-width: 92%;
    height: auto;
    flex-direction:row-reverse;
    text-align: center;
    color: #3498DB;
    flex-basis:10%;
    align-items: center;
}

.sectionbreak .sec5 .findaccountbox .findaccount{
    font-size: 0.5rem;
    -webkit-transform:scale(0.9); 
  display: inline-block;
} 

.sectionbreak .sec5 .loginbuttonbox{
    display: flex; 
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    flex-basis:10%;
    margin: 0 0  8% 0;
    max-width: 300px;
    text-align: center;
    width: 100%;
}


.sectionbreak .sec5 .loginbuttonbox .loginbutton{
    background-color:#3498DB;
    
    border-radius: 0.5rem;
    padding: 1.2rem;
    flex-basis:70%;
    
}
    



.sectionbreak .sec5 .registerlinkbox{
   
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-basis: 50%;
    align-items: baseline;
}

.sectionbreak .sec5 .registertext{
    font-size: 10.5%;
  -webkit-transform:scale(0.9); 
  display: inline-block;
}


.sectionbreak .sec5 .register{
    display: flex;
    text-decoration:dashed;
    font-size: 1.5rem;
    text-decoration:solid;
    
}

.sectionbreak .sec5 .registerlinkbox .register .a{
    text-decoration:underline;
    
}