:root {
    --font-size-lg: clamp(1rem, 4vw, 3.5rem);
    --font-size-md: clamp(1.5rem, 3vw, 2.5rem);
    --font-size-sm: clamp(1rem, 2vw, 1.5rem);
}

h1 {
    font-size: var(--font-size-lg);
}

h2 {
    font-size: var(--font-size-md);
}

p {
    font-size: var(--font-size-sm);
    
}

blockquote {
    font-size: var(--font-size-md);
}

a {
    font-size: var(--font-size-sm);
}


* {
    padding: 0;
    margin: 0;
    font-size: 0.5rem;
    left: 0;
    top: 0;
    max-width: 100%;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Varela Round', sans-serif;
	word-wrap: break-word;
    box-sizing: border-box;
    border-radius: 0.5rem;
}

/*리스트들의 특수기호 제거*/
li {
    list-style: none;
}


/*하이퍼링크 전체 밑줄 제거*/
a {
    text-decoration: none;
    /*부모개체의 속성 그대로*/

}



/*사용할 페이지 전체 범위(가로폭은 보이는 화면의 80%고정, 세로폭은 내용물이 많아지면 자동 증가)*/
body {
    display: flex;
    max-width: 100vw;
    
    height: 100vh;
    justify-content: center;
    
}  

/*container 전체 틀 잡기*/
body .container{
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction:column;
    margin: 2rem;
    justify-content:center;
    
}


/*sec1*/
.sec1{
    justify-content: space-evenly;
    display: flex;
    flex-direction:column;
    text-align: center;
    flex-basis: 25%;
    
}


.sec1 .title{
    margin-bottom: 1rem;
    
}

/*sec2*/
.sec2{
    display: flex;
    margin: 0 0 4rem 0;
    flex-direction:column;
    
   
    
}

/*소셜로그인 글자 가운데 정렬*/
.sec2 .loginapitext{
    text-align: center;
   
}

/*sns로그인*/
.sec2 .loginapi{
    display: flex;
    justify-content:center;
  
    
    
}


/*buttonbox 모음*/
.sec2 .loginapi .box3{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
   
}


.sec2 .loginapi .buttonbox_g{
    flex-basis: 30%;
}

.sec2 .loginapi .buttonbox_n{
    flex-basis: 30%;
}

.sec2 .loginapi .buttonbox_k{
    flex-basis: 30%;
}
/*----------*/


/*logimg 모음*/

.sec2 .loginapi .buttonbox_g .button_g .logoimg_gw{
    height: 4.5rem;
    display: flex;
    
}

.sec2 .loginapi .buttonbox_n .button_n .logoimg_nw{
    display: flex;
    height: 4.5rem;
}
.sec2 .loginapi .buttonbox_k .button_k .logoimg_kw{
    display: flex;
    height: 4.5rem;
}
/*----------*/








/*화면 480 이상일 때 가릴 것들 모음*/
.sec2 .loginapi .box3 .box4 .item_3{
    display: none;
}


.sec2 .loginapi .box3 .box4 .item_2{
    display: none;
}
/*----------*/






@media screen and (max-width:768px) {
    .sec2{
        display: flex;
        flex-direction:column;
        justify-content:center;
        
        
    }
    
    
    .sec2 .loginapi{
        display: flex;
        height: auto;
        flex-direction:column;
        justify-content: center;
        
        align-items: center;
    }
    
    .sec2 .loginapi .box3 .box4{
  
        display: flex;
        justify-content: center;
        margin: 0.3rem;
        flex-basis: 35%;
        height: 4.5rem;
    }

    .sec2 .loginapi .box3 .box4 .logotext{
        display: none;
    }
}

@media screen and (max-width:480px) {
    .sec2{
        display: flex;
        flex-direction:column;
        
        
        
        
    }

    .sec2 .loginapi{
        display: flex;
        justify-content: center;
        flex-direction:row;
        margin: 1rem;
    }
    
    .sec2 .loginapi .box3{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        max-width: 5rem;
}

    .sec2 .loginapi .box3 .box4{
        display: flex;
        
        

}




/**/
.sec2 .loginapi .buttonbox_g .button_g{
    margin: 0;
    
}

.sec2 .loginapi .buttonbox_n .button_n{
    margin: 0;

}


.sec2 .loginapi .buttonbox_k .button_k{
    margin: 0;
}


/*이미지 아이콘 보이기*/
.sec2 .loginapi .buttonbox_g .button_g .logoimg_g {
    display: flex;
    flex-basis: 33%;

}

.sec2 .loginapi .buttonbox_n .button_n .logoimg_n {
    display: flex;
   flex-basis: 33%;
    
 }

 .sec2 .loginapi .buttonbox_k .button_k .logoimg_k {
    display: flex;
   flex-basis: 33%;
    
 }



 /*와이드 이미지 숨기기*/
 .sec2 .loginapi .buttonbox_g .button_g .logoimg_gw {
    display: none;
    flex-direction: row;
    
 }
 .sec2 .loginapi .buttonbox_n .button_n .logoimg_nw {
    display: none;
    flex-direction: row;
    
 }
 .sec2 .loginapi .buttonbox_k .button_k .logoimg_kw {
    display: none;
    flex-direction: row;
    
 }


}





/*섹션 크기 80%로 나누기*/    
.sectionbreak{
    display: flex;
    flex-basis: 80%;
    padding: 0 8%;
    justify-content: center;
    flex-direction: column;
    
}


/*sec3*/
.sectionbreak .sec3{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    flex-basis: 25%;
    align-items: center;
   
}

.sectionbreak .sec3 .line {
    width: 100%;
    height: auto;
    flex-basis: 30%;
    
}

.sectionbreak .sec3 .logintitle{
    font-size: 1rem;
    flex-basis: 70%;
}

.sectionbreak .sec3 .logintitle_mobile{
   display:none
}
@media screen and (max-width:480px) {
   /*480px 이하일 때 login 제목 바꾸기 (logintitle, logintitle_mobile의 display 속성 바꾸기)*/
    .sectionbreak .sec3 .logintitle{
        display: none;
    }
    /*480px 이하일 때 <hr> 선 간격 벌리기*/
    .sectionbreak .sec3 .logintitle_mobile{
        display: flex;
        flex-basis: 60%;
        justify-content: center;
    }

   
    .sectionbreak .sec3 .line {
        width: 100%;
        height: auto;
        flex-basis: 30%;
    }

   

}


/*sec4*/
.sectionbreak .sec4{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 2rem;
    
}



.sectionbreak .sec4 .idbox{
    text-align: center;
    flex-basis: 30%;
    
}

.sectionbreak .sec4 .idbox .idtext{
    display: flex;
    justify-content: start;
    width: 100%;
    

}

.sectionbreak .sec4 .idbox .id{
    width: 100%;
    height: 3rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    padding: 2rem;
    max-width: 400px;
}

.sectionbreak .sec4 .passwordbox{
    text-align: center;
    flex-basis: 30%;
}


.sectionbreak .sec4 .passwordbox .passwordtext{
    display: flex;
    justify-content: start;
}

.sectionbreak .sec4 .passwordbox .password{
    width: 100%;
    border-radius: 0.2rem;
    height: 3rem;
    padding: 2rem;
    max-width: 400px;
}


/*sec5*/
.sectionbreak .sec5{
    display: flex;
    max-width: 100vw;
    height: auto;
    flex-direction:column;
    flex-basis: 55%;
    display: flex;
    align-items: center;
}

 .findaccountbox{
    display: flex;
   
    max-width: 100vw;
    height: auto;
    flex-direction:row-reverse;
    text-align: center;
    color: #3498DB;
}

/* .sectionbreak .sec5 .findaccountbox{
    display: flex;
    border: 5px solid rgb(243, 178, 243);
    max-width: 100vw;
    height: auto;
    flex-direction:row-reverse;
    text-align: center;
    color: #3498DB;
    
   
} */

.sectionbreak .sec5 .findaccountbox .findaccount{
    font-size: 0.5rem;
    -webkit-transform:scale(0.9); 
  display: flex;
  
 
} 

.sectionbreak .sec5 .loginbuttonbox{
    display: flex; 
    border: 5px solid rgb(243, 178, 243);
    background-color:#3498DB;
    width: 100%;
    max-width: 200px;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    text-align: center;
    
}


.sectionbreak .sec5 .loginbuttonbox .loginbutton{
    
    
    border-radius: 0.5rem;
    padding: 1.2rem;
    width: 100%;
    justify-content: center;
}
    



.sectionbreak .sec5 .registerlinkbox{
    
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-basis: 50%;
    align-items: baseline;
    margin:1rem;
}

.sectionbreak .sec5 .registerlinkbox .registertext{
    font-size: 10.5%;
  -webkit-transform:scale(0.9); 
  display: inline-block;
}


.sectionbreak .sec5 .registerlinkbox .register{
    display: flex;
    text-decoration:dashed;
    font-size: 1.5rem;
    text-decoration:solid;
    
}

.sectionbreak .sec5 .registerlinkbox .register .a{
    text-decoration:underline;
    
}