/*네비 바로 밑 사진에 추가할 내용*/
main .navimageadd{
    height: 60vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
}

main .navimageadd .ni_textbox{
    height: 71%;
    font-size: var(--font-size-md);
    display: flex;
    align-items: flex-end;
}

main .navimageadd .ni_textbox .ni_text{
    margin: 0 0 3rem 2rem;
    color: var(--color-a);
    
}

main .navimageadd .ni_btnbox .ni_btn{
    color: black;
    background-color: var(--color-a);
    padding: 1rem 2rem;
    margin:2rem;
    font-size:var(--font-size-smpx)
}


/*======swiper=======*/
 /*   html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    } */
  
  
.nav-mySwiper {
  width: 100%;
  height: 60vh;
}

.nav-swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-button-next{
	display:none;
}



/*첫번째 섹션나누기 상자*/
.sectext1{
    height: 40vh;
    width: 100%;
   
}

.sectext1 .iconbox img{
    z-index: -10;
    position: relative;
    top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}









/*********메인 바디***********/
main .body {
    display: flex;
    justify-content: center;
   }
 


/*메인 바디 가운데 */
main .body .body_center{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 80%;
    
}




/******메인 캠핑용품박스*******/
.body_center .cp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    min-height: 50vh;
    align-items: center;
}



.body_center .cp .cp_textbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-basis: 45%;
    align-items: flex-start;
    justify-content: center;
}

.body_center .cp .cp_textbox .cp_link{
    padding: 10px 1.5rem;
    
    background-color: var(--color-g);
}


.body_center .cp .cp_imgbox { 
    height: 100%;
    width: 100%;
    flex-basis: 45%;
} 

.body_center .cp .cp_imgbox .cp_img{ 
   display: flex; 
   height: 100%;
   width: 100%;
}




@media screen and (max-width:768px) {
    .body_center .cp {
        display: flex;
        flex-direction: column;
       
    }
    .body_center .cp .cp_textbox {
       order:2
    }
    .body_center .cp .cp_imgbox {
        order:1
     }
}



@media screen and (max-height:480px){
    main .navimageadd {
        height: 60vh;
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: row;
        align-items: baseline;
}

}



.sectext2{
    min-height: 30vh;
}


/*캠핑장 바로가기*/
body .body_center .cg{
    display: flex;
    min-height: 50vh;
    justify-content: space-between;
}

body .body_center .cg .cg_textbox{
    flex-basis: 45%;
    height: 100%;
    justify-content: center;
    align-items: end;
    display: flex;
    flex-direction: column;
}

body .body_center .cg .cg_textbox .campregisterbox{
    background-color: var(--color-d);
}

body .body_center .cg .cg_textbox .cg_link{
    padding: 10px 1.5rem;

    background-color: var(--color-g);
    justify-content: center;
    display: flex;
}



body .body_center .cg .cg_imgbox{
    flex-basis: 45%;
    
    
}

body .body_center .cg .cg_imgbox .cp_link img{
    height: 100%;
    
}

@media screen and (max-width:768px) {
    .body_center .cg {
        display: flex;
        flex-direction: column;
       
    }

  

    .body_center .cg .cg_comment{
        text-align: end;
       
    }
}


.sectext3{
    min-height: 30vh;
}

main .body .body_center .cger .cg .cg_reserve{
    display: flex;

    margin: 1rem;
    flex-direction: column;
    justify-content: space-between; 
    width: 40%;
    
}


main .body .body_center .cger .cg .cg_reserve .imgbox{
    
    height: auto;
    
}

@media screen and (max-width:768px) {
   
    
    main .body .body_center .cger .cg .cg_reserve{
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: space-between; 
        width: 100%;
        
    }
    
    
    main .body .body_center .cger .cg .cg_reserve .imgbox{
        
        height: auto;
        
    }
}


/*********메인 슬라이드이미지*********/

.swiper {
    width: 80vw;
    height: 100%;
    background: #000;
  }

  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
  
  }

  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130% !important;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    max-width: 130%;
    opacity: 0.3;
  
 
  }

  .swiper-slide .title {
    font-size: var(--font-size-md);
    font-weight: 300;
    font-weight: bold;
  }

  .swiper-slide .subtitle {
    font-size: 21px;
  }

  .swiper-slide .text {
    font-size: var(--font-size-sm);
    max-width: 400px;
    line-height: 1.3;
  }


  /*푸터*/

/*푸터*/
footer {
  background-color: var(--color-g);
  color: var(--color-a);
  font-size: 14px;
  padding: 20px;
  }
  
  .footerbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .logobox {
    margin-right: 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .ph_emboxbox {
    margin-right: 20px;
  }
  
  .phone,
  .email {
    margin-bottom: 10px;
  }
  
  .log_regbox {
    display: flex;
    align-items: center;
  }
  
  .log_regbox a {
    
    color: var(--color-a);
  }
  
  .log_regbox span {
    margin: 0 5px;
  }
  
  .cc {
    text-align: center;
  }
  
  @media screen and (max-width:768px) {
    .footerbox {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .logobox {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .centerbox {
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width:480px) {
    .ph_emboxbox {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width:320px) {
    .logo {
      font-size: 20px;
    }
  }
  


