/*********메인 바디***********/
main .body {
    display: flex;
    
    /* display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto; */
    border: 1px solid orange;
    flex-direction: row;
    justify-content: center;
}

/*메인 바디 왼쪽*/
main .body .aside_l{
    display: flex;
    flex-basis: 10%;
  
   

}

/*메인 바디 오른쪽*/
main .body .aside_r{
   display: flex;
   flex-basis: 10%;
  
    
}
/*메인 바디 가운데 */
main .body .body_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 80%;
    flex-basis: 80vw;
    max-width: 1000px;
}

/*=======게시글 가리기, .sec1, .sec2, .sec3, .sec4화면 크기 정하는 구간========*/
.sec1, .sec2, .sec3 {
  display: none; 
  height: auto;
  font-size: var(--font-size-xsm);  
  flex-direction: column;
} 

.sec4 .pagingEl ul .active a{
   background-color: #7d86c3;
   display: flex;
    min-width: 20px;
    min-height: 20px;
    box-sizing: border-box;
    border-left: 0;
    align-items: center;
    justify-content: space-evenly;
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
}

/*게시판 목록*/
strong {
  font-size: 3rem;
  justify-content: center;
}

.sec5{
  padding: 2%;
}

#sideBar {
   padding: 3px;
   top: -60px;
}

.btnendbox{
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-bottom: 1%;
}

.btnendbox .explain{
}

.btnendbox .button{
  display: flex;
  justify-content: end;
  flex-basis: 10%;
  align-items: center;
}


.btnendbox .button .on{
  background-color: #1F2550;
  color: rgb(255, 255, 255);
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 7rem;
  min-height: 3rem;
  cursor: pointer;
}

.boardlist{
  width: 100%;
  border-top: 2px solid #000;
}

.boardlist > div.top {
  display: flex;
  background-color: #EAEAEA;
}

.boardlist > div:last-child {
  border-bottom: 1px solid #000;
}

.boardlist > div > div {
  display: inline-block;
  padding: 15px 0;
  padding-inline-start: 5px;
  font-size: 1rem;
}

.boardlist > div.top > div {
  font-weight: 600;
}

.boardlist .num {
  width: 10%;
  text-align: center;
}

.boardlist .title {
  width: 55%;
  padding-right: 5px;
}

.boardlist .top .title {
  text-align: center;
}

.boardlist > title item_2 {
   padding-inline-start: 5px;
}

.writer item_3 {
  text-align: end;
}

.boardlist .date {
  width: 15%;
}

.boardlist .count {
  width:5%;
  
}

.boardlist .strong{
   text-align: center;
}

table {
     width: 100%;
     border-collapse: seperate;
     border-spacing: 0px 0px;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     font-family: 'MICEGothic Bold';
     table-layout: fixed;
}

table tr {
   border-bottom: 1px dashed #808080;
}

table, th, td {
   border-bottom: 1px solid #808080;
}

th {
   background-color: #efefef;
   padding : 10px 5px;
   font-size: small;
}

td {
   padding: 10px;
}

.num.item {
   width: 5%;
   border-right: 1px dashed #DCDCDC;
}

.title.item_2 {
   width: 35%;
   padding-right: 10px;
   border-right: 1px dashed #DCDCDC;
}

.writer.item_3 {
   overflow:hidden;
   white-space : nowrap;
   text-overflow: ellipsis;
   width: 12%;
   text-align: center;
   border-right: 1px dashed #DCDCDC;
}

.date.item_4 {
   text-align: center;
   border-right: 1px dashed #DCDCDC;
}

.count.item_5 {
   text-align: center;
   width: 5%;
}

@media screen and (max-width:768px){
  .boardlist .count {
    display: none;
  }
  
  .boardlist .date {
    display: none;
  }

  .boardlist .writer {
    width: 15%;
    text-align: end;
  }

  .boardlist .title {
    width: 70%;
    text-align: left;
  }

  .boardlist .num {
    width: 15%;
    text-align: center;
  }
  
  .boardlist > title item_2 {
   padding-inline-start: 5px;
  }
}

#readList .heart-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 1rem;
}
#readList .heart {
   align-self: center;
   width: 22px;
   height: 22px;
   background-size: 22px 22px;
}
.img > h6 {
   margin-left: 0;
}
.heart.h-on {
   background-image: url("/img/full_heart.png");
}
.heart.h-off {
   background-image: url("/img/empty_heart.png");
}

/*검색*/
#search {
   width: 83%;
}

#search #searchForm input{
   width: 25vw;
   min-width: 110px; 
}
/**/

/*숫자 버튼*/
.boardpage {
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: center;
  color: #000;
  align-items: center;
}

.boardpage a {
  display: flex;
  min-width: 20px;
  min-height: 20px;
  box-sizing: border-box;
  border-left: 0;
  align-items: center;
  justify-content: space-evenly;
  width: 3rem;
  height: 3rem;
  background: #ddd;
  border-radius: 10%;
}

.boardpage a.button {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.boardpage a.num {
  font-size: 1.4rem;
}

.boardpage a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}

.boardpage a:first-child {
  border-left: 1px solid #ddd;
} 

/*게시글 작성*/
.boardwrite {
  border-top: 2px solid #000;
}

.boardwrite .titlebox{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #000;
}

.titlebox .box4 {
   align-items: center;
   text-align: center;
   background-color: red; 
}
div.titleStrong{
   width: 100%;
    text-align: center;
    margin-top: 2rem;
}

div.titleStrong read{
   margin-bottom: 30px; 
}

.boardwrite .titlebox dl {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}



.boardwrite .titlebox dt,
.boardwrite .titlebox dd{
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
}

.boardwrite .titlebox dt {
   width: 10vw;
}

/* 비어있음
.boardwrite .titlebox dd {
    
} */

.boardwrite .titlebox input[type="text"] {
    padding: 5px;
    
}

.boardwrite .titlebox input[type="text"] {
    width: 100%;
}

.boardwrite .content {
   
}

.boardwrite .content textarea {
  display: flex;
  width: 100%;
  min-height: 50vh;
  padding: 15px;
  border: 0;
  flex-direction: column;
  border-bottom: 1px solid #000;
  font-size: 1.4rem;
}

.boardwrite .content .imguploadbox{
   display: flex;
   flex-direction: row ;
   align-items:center;
}

.boardwrite .content .imguploadbox .imguploadtitle{
       display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.boardwrite .content .imguploadbox input{
  display: flex;
  justify-content: baseline;
}

.boardwrite .buttonbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.boardwrite .buttonbox .cancel{
  border: 1px solid rgb(0, 0, 0);
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 7rem;
  min-height: 3rem;
  margin: 1rem;
}

.boardwrite .buttonbox .on{
  background-color: #1F2550;
  color: rgb(255, 255, 255);
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 7rem;
  min-height: 3rem;
  margin: 1rem;
}

#readList > .titlebox box4 {
   padding: 10px 5px;
}

@media screen and (max-width:768px){
  .sec1{
    align-items: center;
  }

  .sec1 .boardwritebox{
    width: 100%;
  }


.boardwrite .titlebox {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


}

@media screen and (max-width:480px){
  .boardwrite .titlebox{
border-top: 1px dashed #ddd;
border-bottom: 1px solid #000;
display: flex;
flex-direction: column;
align-items: center;
  }


  .boardwrite .titlebox{
  display: flex;
  align-items: center;
  flex-direction: column;

}


.boardwrite .titlebox dl{
  flex-direction: column;
}

.boardwrite .titlebox dt{
  width: 12vw;
}



.boardwrite .content .imguploadbox{
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.boardwrite .content .imguploadbox .imguploadtitle{
  display: flex;
  flex-basis: 40%;
}
}






/*게시글 상세보기*/
.boardviewbox .button{
     display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

.boardviewbox .button .modify{
  background-color: #1F2550;
  color: rgb(255, 255, 255);
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 7rem;
  min-height: 3rem;
  margin: 1rem;
}

.boardviewbox .button .on{
  border: 1px solid #1F2550;
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 7rem;
  min-height: 3rem;
  margin: 1rem;
}


.boardview {
  width: 100%;
  border-top: 2px solid #000;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.boardview .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
  flex-basis: 20%;
}

.boardview .infobox {
  padding: 15px;
  border-bottom: 1px solid #999;
  flex-basis: 20%;
}

.boardview .infobox dl {
  position: relative;
  display: inline-block;
  padding: 0 7px;
  
}

.boardview .infobox dl:first-child {
  padding-left: 0;
}

.boardview .infobox dl::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.boardview .infobox dl:first-child::before {
  display: none;
}

.boardview .infobox dl dt,
.boardview .infobox dl dd {
  display: inline-block;
  font-size: 1.4rem;
}

.boardview .infobox dl dd {
  margin-left: 10px;
  color: #777;
}

.boardview .content {
  padding: 15px;
  border-bottom: 1px solid #000;
  min-height: 50vh;
  font-size: 1.4rem;
  
}



/*댓글 등록*/

.commentbox{
  display: flex;
  flex-direction: column;
}

.commenttextbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/*댓글 입력창이며, 댓글 등록 버튼 누르면 display:none을 display:flex로 바꾸는 js 필요*/
.ct_reg_btnbox{
  display: flex;
  flex-direction: row;
  margin-top: 3px;
   /* display: none; */
}

.ct_reg{
  flex-basis: 80%;
  resize: none;
}



/*댓글 등록 버튼*/
.ct_btn{
    flex-basis: 20%;
    font-size: revert;
}

.commentwriterbox{
  margin: 1rem 0 1rem 2rem;
}

.commentdetailbox{
   margin: 0 0 1rem 1rem;
}
/**/

.ct_wr_debox{
  display: flex;
    flex-direction: column;
  justify-content: space-between;

}

.commentwriterbox{
  display: flex;
  flex-direction: row;
}

/* 댓글 상세 */
#repliesListRE {
   margin-top: 10px;
}

#repliesListRE button{
   cursor: pointer;
}

.readReply {
   margin-top: 10px;
}
/*---------*/

/**/


/*댓글 삭제 버튼*/
#replyBtn {
   display: flex;
}

#removeReplyBtn {
   border: 1px solid #1F2550;
    width: 4vw;
    height: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    min-width: 6rem;
    min-height: 2rem;
    margin: 5px;
}

#modifyReplyBtn {
   background-color: #1F2550;
    color: rgb(255, 255, 255);
    width: 4vw;
    height: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    min-width: 6rem;
    min-height: 2rem;
    margin: 5px;
    
}

/*댓글 수정*/
#modifyContentDiv {
   display: flex;
}

#modifyContentBox {
   width: 300px;
    height: 25px;
    font-size: 12px;
}

#modifyContentBtn {
   background-color: #1F2550;
    color: rgb(255, 255, 255);
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    min-height: 1rem;
    margin: 3px;
}

#cancelContentBtn {
   border: 1px solid #1F2550;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    min-height: 1rem;
    margin: 3px;
}

#contentBtn {
   display: flex;
}
/*-------*/
.commentdeletebox{
  display: flex;
    flex-direction: row;
    flex-basis: 10%;
    height: 100%;
    align-items: center;
}

.commentdelete{
  flex-basis: 50%;
}


/*게시글 수정하기*/

.boardmodifybox .button {
  display: flex;
    flex-direction: row;
    justify-content: center;
}

.boardmodifybox .button button, a {
   cursor: pointer;
}


.boardmodifybox .button .on{
  background-color: #1F2550;
  color: rgb(255, 255, 255);
  width: 10vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 7rem;
  min-height: 3rem;
  margin: 1rem;
}

.boardmodifybox .button .cancel{
  border: 1px solid #1F2550;
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    min-width: 7rem;
    min-height: 3rem;
    margin: 1rem;
}

.boardmodify {
  border-top: 2px solid #000;
  margin-top: 30px;
}

.boardmodify .title,
.boardmodify .info {
  padding: 15px;
}

.boardmodify .info {
  border-top: 1px dashed #ddd;
  border-bottom: 1px solid #000;
}

.boardmodify .titlebox {
  padding: 15px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #000;
  
}


.boardmodify .titlebox dl {
  flex-basis: 50%;
}


.boardmodify .titlebox dt,
.boardmodify .titlebox dd
 {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}

.boardmodify .titlebox dt {
  width: 10vw;
}

.boardmodify .titlebox dd {
  
}

.boardmodify .titlebox input[type="text"],
.boardmodify .info input[type="text"],
.boardmodify .info input[type="password"] {
  padding: 10px;
  box-sizing: border-box;
}

.boardmodify .titlebox input[type="text"] {
  
}

.boardmodify .content {
  border-bottom: 1px solid #000;
}

.boardmodify .content textarea {
    display: flex;
    width: 100%;
    min-height: 50vh;
    padding: 15px;
    border: 0;
    font-size: 1.4rem;
}

#modifyBoard {
   justify-content: center;
}

@media screen and (max-width:768px){
  .boardmodify .titlebox {
    padding: 15px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boardmodify .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 

  .boardmodify .titlebox dl{
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boardmodify .titlebox dd{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-basis: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .boardmodify .info dl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%
  }

  .boardmodify .titlebox dt, .boardmodify .info dt {
    width: auto;
}

.boardmodify .titlebox input[type="text"], .boardmodify .info input[type="text"], .boardmodify .info input[type="password"] {
  padding: 10px;
  box-sizing: border-box;
  width: 40vw;
  margin: 1rem;
}
