/*********메인 바디***********/
main .body {
	display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}

/*메인 바디 가운데 */
main .body .body_center {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 80%;
    justify-content: center;
}

/*회원정보 타이틀*/
.sec1 {
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.sec1 .titlebox {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 2rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}


.sec1 .titlecommentbox {
    display: flex;
    margin-bottom: 4rem;
    font-size: 1rem;
    -webkit-transform: scale(0.7);
    justify-content: center;
}

.sec1 .titlebox .titletext {
    display: flex;
    margin-bottom: 1rem;
}


@media screen and (max-width: 1024px) {
    .sec1 .titlecommentbox {
        display: none;
    }

    .sec1 .titlebox {
        display: flex;
        flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	height: 50%;
    	padding: 30px;
    	margin: 2rem;
    	background-color: #f4f4f4;
    	border-radius: 10px;
    	box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
    	width:auto;
    }
}


@media screen and (max-width: 480px) {
    .sec1 .titlecommentbox {
        display: none
    }

    .sec1 .titlebox {
        display: flex;
        justify-content: center;
        font-weight: bold;

    }
}



/*회원정보 목록*/
.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    max-width: 80%;
    width: 50%;
    min-width: 200px;
}

.sec2 .profileimgbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .profileimgbox .profiletext {
    flex-basis: 30%;
}

.sec2 .profileimgbox .profileimg {
    flex-basis: auto;
    width: 8.5rem;
    height: 10rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px
}



/*아이디*/
.sec2 .idbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .idbox .idtext {
    flex-basis: 30%;


}

.sec2 .idbox .id {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}


/*비밀번호*/
.sec2 .passwordbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}


.sec2 .passwordbox .passwordtext {
    flex-basis: 30%;
}

.sec2 .passwordbox .password {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}




/*이름*/
.sec2 .namebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .namebox .nametext {
    flex-basis: 30%;
}

.sec2 .namebox .name {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}

/*닉네임*/
.sec2 .nicknamebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .nicknamebox .nicknametext {
    flex-basis: 30%;
}

.sec2 .nicknamebox .nickname {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}


/*나이*/
.sec2 .agebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .agebox .agetext {
    flex-basis: 30%;
}

.sec2 .agebox .age {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}

/*성별*/
.sec2 .genderbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .genderbox .gendertext {
    flex-basis: 30%;
}

.sec2 .genderbox .gender {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}

/*주소*/
.sec2 .addressbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .addressbox .addresstext {
    flex-basis: 30%;
}

.sec2 .addressbox .address {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}

/*전화번호*/
.sec2 .phonebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sec2 .phonebox .phonetext {
    flex-basis: 30%;
}

.sec2 .phonebox .phone {
    flex-basis: auto;
    width: 100%;
    height: 3.5rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    max-width: 500px;
}

/*소개*/
.sec2 .introducebox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-basis: auto;
    justify-content: center;
}

.sec2 .introducebox .introducetext {
    flex-basis: 30%;
    
}

.sec2 .introducebox .introduce {
    display: flex;
    flex-basis: auto;
    width: 100%;
    height: 15rem;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    padding: 2rem;
    max-width: 500px;
    overscroll-behavior: contain;
    overflow: auto;
    /*자동 줄바꿈*/
    white-space: pre-wrap;
    /*사용자가 세로로만 사이즈 조절 가능*/
    resize: vertical
}

.sec2 .buttonbox {
    display: flex;
    justify-content: center;
}

.sec2 .modifybox {
    flex-basis: auto;
    padding: 1rem;
}

.sec2 .modifybox .modify {
    flex-basis: auto;
    width: 13rem;
    height: 3rem;
}

.sec2 .deletebox {
    flex-basis: auto;
    padding: 1rem;
}

.sec2 .deletebox .delete {
    flex-basis: auto;
    width: 10rem;
    height: 3rem;

}


/*화면이 1024px 이하면 회원가입 입력칸 아래로 내리기 */
@media screen and (max-width: 1024px) {
    .sec2 {
        display: flex;
    }

    .sec2 .profileimgbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .sec2 .profileimgbox .profiletext {
        display: flex;
    }

    .sec2 .profileimgbox .profileimg {
        flex-basis: auto;
        width: 5.8rem;
        height: 7rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        display: flex;

    }

    /*아이디*/
    .sec2 .idbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;

    }

    .sec2 .idbox .idtext {
        flex-basis: 20%;
    }

    .sec2 .idbox .id {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;
    }


    /*비밀번호*/
    .sec2 .passwordbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }


    .sec2 .passwordbox .passwordtext {
        flex-basis: 20%;
    }

    .sec2 .passwordbox .password {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }




    /*이름*/
    .sec2 .namebox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sec2 .namebox .nametext {
        flex-basis: 20%;
    }

    .sec2 .namebox .name {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    /*닉네임*/
    .sec2 .nicknamebox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sec2 .nicknamebox .nicknametext {
        flex-basis: 20%;
    }

    .sec2 .nicknamebox .nickname {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }


    /*나이*/
    .sec2 .agebox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sec2 .agebox .agetext {
        flex-basis: 20%;
    }

    .sec2 .agebox .age {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    /*성별*/
    .sec2 .genderbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sec2 .genderbox .gendertext {
        flex-basis: 20%;
    }

    .sec2 .genderbox .gender {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    /*주소*/
    .sec2 .addressbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sec2 .addressbox .addresstext {
        flex-basis: 20%;
    }

    .sec2 .addressbox .address {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    /*전화번호*/
    .sec2 .phonebox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sec2 .phonebox .phonetext {
        flex-basis: 20%;
    }

    .sec2 .phonebox .phone {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    /*소개*/
    .sec2 .introducebox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sec2 .introducebox .introducetext {
        flex-basis: 20%;
    }

    .sec2 .introducebox .introduce {
        flex-basis: auto;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;


    }

    .sec2 .buttonbox {
        display: flex;
        justify-content: center;
    }

    .sec2 .modifybox {
        flex-basis: auto;
        padding: 1rem;
    }

    .sec2 .modifybox .modify {
        flex-basis: auto;
        width: 6rem;
        height: 2rem;
    }

    .sec2 .deletebox {
        flex-basis: auto;
        padding: 1rem;
    }

    .sec2 .deletebox .delete {
        flex-basis: auto;
        width: 6rem;
        height: 2rem;

    }


}

@media screen and (max-width: 480px) {

    /*상자 크기 조절*/
    .sec2 .idbox .id {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    .sec2 .passwordbox .password {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }



    .sec2 .passwordcheckbox .passwordcheck {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }




    .sec2 .namebox .name {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;
    }


    .sec2 .nicknamebox .nickname {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;
    }


    .sec2 .agebox .age {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }


    .sec2 .genderbox .gender {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    .sec2 .addressbox .address {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    .sec2 .phonebox .phone {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }


    .sec2 .introducebox .introduce {
        flex-basis: auto;
        width: 100%;
        height: 2rem;
        border-radius: 0.2rem;
        margin: 0 0 1rem 0;
        padding: 0;

    }

    .sec2 .buttonbox {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .sec2 .modifybox {
        flex-basis: auto;
        padding: 1;
    }

    .sec2 .modifybox .modify {
        flex-basis: auto;
        width: 100%;
        height: 2rem;

    }

    .sec2 .deletebox {
        flex-basis: auto;
        padding: 1;
    }

    .sec2 .deletebox .delete {
        flex-basis: auto;
        width: 100%;
        height: 2rem;

    }

    /*480px 이하일때 텍스트 제거*/
    .sec2 .idbox .idtext {
        display: none;
    }

    .sec2 .passwordbox .passwordtext {
        display: none;
    }

    .sec2 .namebox .nametext {
        display: none;
    }

    .sec2 .nicknamebox .nicknametext {
        display: none;
    }

    .sec2 .agebox .agetext {
        display: none;
    }

    .sec2 .genderbox .gendertext {
        display: none;
    }

    .sec2 .addressbox .addresstext {
        display: none;
    }

    .sec2 .phonebox .phonetext {
        display: none;
    }

    .sec2 .introducebox .introducetext {
        display: none;
    }



}




/*sec3*/
.sec3 {
    margin: auto;
    min-height: 30vh;
    width: 100%;
    
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  }
  
  .sec3 h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .shoppingcart {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .shoppingcart li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .shoppingcart .date {
    font-size: 14px;
    font-weight: bold;
  }
  
  .shoppingcart .product-name {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .shoppingcart .price,
  .shoppingcart .status {
    font-size: 14px;
  }
  
  .shoppingcart .edit-btn {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .shoppingcart .edit-btn:hover {
    background-color: #3e8e41;
  }
  
  .shoppingcart li:last-child {
    border-bottom: none;
  }
  
  @media screen and (max-width: 480px) {
    .shoppingcart li{
       width: 100%;
    }
    
}





/*sec4*/
.sec4{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 30vh;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    
}

/*캠핑장 정보*/
.sec4 .campgroundsbox{
    flex-basis: 27%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    justify-content: space-evenly;
    min-height: 20vh;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.sec4 .campgroundsbox .title{
   
   flex-basis: 50%;
}

.sec4 .campgroundsbox .campgrounds_name{
   display: flex;
   flex-basis: 10%;
}
.sec4 .campgroundsbox .campgrounds_date{
    display: flex;
    flex-basis: 10%;
   
}
.sec4 .campgroundsbox .campgrounds_expense{
   display: flex;
   flex-basis: 10%;
   justify-content: end;
   
}

/*예약자 정보*/
.sec4 .customerbox{
    flex-basis: 27%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    min-height: 20vh;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.sec4 .customer_namebox{
    display: flex;
    flex-direction: column;
}

.sec4 .customer_name{
    border: 1px solid black;
}

.sec4 .customer_phonebox{
    display: flex;
    flex-direction: column;
}

.sec4 .customer_phone{
    border: 1px solid black;
}


/*사용자 정보*/
.sec4 .userbox{
    flex-basis: 27%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    justify-content: space-evenly;
    min-height: 20vh;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.sec4 .userbox .checksamebox{
    display:flex;
    flex-direction: row;    
}

.sec4 .userbox .checksame{
    flex-basis: 10%;

}

.sec4 .user_namebox {
   display: flex;
   flex-direction: column;
    
}

.sec4 .user_namebox .user_name{
    display: flex;
    flex-direction: row;
    border: 1px solid black;

 }

 .sec4 .user_phonebox {
    display: flex;
    flex-direction: column;
 }

 .sec4 .user_phonebox .user_phone{
    display: flex;
    flex-direction: row;
    border: 1px solid black;

 }


.sec4 .reservebox{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-basis: 5%;
}

.sec4 .reserve{
    width: 25%;
    max-width: 20rem;
    height: 3rem;
    min-width: 8.0rem;
}
.footer {
    border: 3px solid red;
    background-color: black;
    color: aliceblue;
}


.sec5{
	width:80%;
    height: auto;
    margin: 1rem;
    min-height: 50vh;
}

.sec5 .titlebox .title{
    font-size: var(--font-size-md);
    font-weight: bold;
}

/*캠핑장*/
/* 데스크탑 화면 */

.tabs{
    min-width: 150px;
    width: 100%;
}


/*탭 버튼*/
.tab-button-outer {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  }
  
  #tab-button {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #tab-button li {
    margin-right: 1rem;
  }
  
  #tab-button li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: #555;
    border: 2px solid #555;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  #tab-button li a:hover {
    background-color: #fff;
    color: #555;
    border-color: #555;
  }
  

  .tab-select-outer {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .tab-button-outer {
      display: none;
    }
    .tab-select-outer {
        display: flex;
      }
   
  }

/*/탭 버튼*/




.tab-contents{
    min-width: 150px;
}

.tab-contents .campgroundsbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(5vh, auto);
    gap: 1rem;
    margin: 1rem;
  }
  
  .tab-contents .campgroundsbox .cg_textbox {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
  }

  .cg_imgbox img {
    height: auto;
  }
  
  /* 모바일 화면 */
  @media only screen and (max-width: 768px) {
    .tab-contents .campgroundsbox {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .tab-contents .campgroundsbox .cg_imgbox {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }

   
  
    .tab-contents .campgroundsbox .cg_textbox {
      width: 100%;
      text-align: center;
    }
  
    .tab-contents .campgroundsbox .cg_textbox .cg_texttitle {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  
    .tab-contents .campgroundsbox .cg_textbox .cg_view,
    .tab-contents .campgroundsbox .cg_textbox .cg_wish {
      font-size: 0.8rem;
    }
  }

  
/*아이템*/
.tab-contents .campporductbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(5vh, auto);
    gap: 1rem;
    margin: 1rem;
}

.tab-contents .campporductbox .cp_imgbox{
    display: flex;


}

.tab-contents .campporductbox .cp_textbox{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}


.cp_imgbox img {
    height: auto;
  }
  
  /* 모바일 화면 */
  @media only screen and (max-width: 768px) {
    .tab-contents .campporductbox {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .tab-contents .campporductbox .cp_imgbox {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }

   
  
    .tab-contents .campporductbox .cp_textbox {
      width: 100%;
      text-align: center;
    }
  
    .tab-contents .campporductbox .cp_textbox .cp_texttitle {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  
    .tab-contents .campporductbox .cp_textbox .cp_view,
    .tab-contents .campporductbox .cp_textbox .cp_wish {
      font-size: 0.8rem;
    }
  }




/*게시글*/
.tab-contents h2{
    border-bottom: 1px solid black;
}


.tab-contents .postgroupbox{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.tab-contents .postgroupbox .pg_textbox{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    width: 100%;
}

.tab-contents .postgroupbox .pg_textbox .pg_upline{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    
}

.tab-contents .postgroupbox .pg_textbox .pg_downline{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
}

.tab-contents .postgroupbox .pg_textbox .pg_upline .pg_views{ 
    display: flex;
    flex-basis: 25%;
}
.tab-contents .postgroupbox .pg_textbox .pg_upline .pg_write{ 
    display: flex;
    flex-basis: 50%;
}
.tab-contents .postgroupbox .pg_textbox .pg_upline .pg_date{ 
    display: flex;
    flex-basis: 25%;
}
.tab-contents .postgroupbox .pg_textbox .pg_upline .pg_num{ 
    display: flex;
    flex-basis: 25%;
    
}

.tab-contents .postgroupbox .pg_textbox .pg_downline .pg_num{ 
    display: flex;
    flex-basis: 10%;
}
.tab-contents .postgroupbox .pg_textbox .pg_downline .pg_texttitle{ 
    display: flex;
    flex-basis: 60%;
}
.tab-contents .postgroupbox .pg_textbox .pg_downline .pg_reviewnum{ 
    display: flex;
    flex-basis: 10%;
}



/*댓글*/
/* Desktop */
.reviewbox {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .rv_textbox {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
  }
  
  .rv_upline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .rv_date {
    font-size: 0.8rem;
    color: #aaa;
  }
  
  .rv_postgroup {
    font-size: 0.8rem;
    color: #333;
  }
  
  .rv_downline {
    margin-top: 1rem;
  }
  
  .rv_text {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #333;
  }
  
  /* Mobile */
  @media screen and (max-width: 768px) {
    .reviewbox {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .rv_textbox {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 1rem;
    }
  
    .rv_upline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
  
    .rv_date {
      font-size: 0.8rem;
      color: #aaa;
      margin-bottom: 0.5rem;
    }
  
    .rv_postgroup {
      font-size: 0.8rem;
      color: #333;
      margin-bottom: 0.5rem;
    }
  
    .rv_text {
      font-size: 0.9rem;
      line-height: 1.5;
      color: #333;
    }
  }
  






  /*숫자 버튼*/


  .boardpage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .boardpage a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  
  .boardpage a:hover {
    color: #fff;
    background-color: #333;
  }
  
  .boardpage .num {
    font-weight: bold;
  }
  
  .boardpage .bt_first,
  .boardpage .bt_prev,
  .boardpage .bt_last {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  
  .boardpage .bt_first:hover,
  .boardpage .bt_prev:hover,
  .boardpage .bt_last:hover {
    color: #fff;
    background-color: #333;
  }
  
  .boardpage .item_2,
  .boardpage .item_3,
  .boardpage .item_4,
  .boardpage .item_5 {
    border-left: none;
  }
  
  .boardpage .item_2:hover,
  .boardpage .item_3:hover,
  .boardpage .item_4:hover,
  .boardpage .item_5:hover {
    border-color: #333;
  }
  
  @media only screen and (max-width: 767px) {
    .boardpage {
      font-size: 16px;
    }
    .boardpage a {
      padding: 3px 6px;
      margin-right: 3px;
    }
    .boardpage .bt_first,
    .boardpage .bt_prev,
    .boardpage .bt_next,
    .boardpage .bt_last {
      padding: 3px 6px;
      margin-right: 3px;
    }
  }
  

  