  /*모달의 몸통 부분*/
  .popup-body{                /*몸통*/
    width:100%;
    background-color:#ffffff; /*컨텐츠 영역의 배경색*/
    overflow-y: auto;
}
  .body-content{              /*몸통 내부 컨텐츠 영역*/
    width:100%;
    padding:30px;             /*좌우에 내용이 붙으면 보기 안좋기 때문에 간격 띄움*/
  }
  .body-titlebox{             /*컨텐츠 타이틀 영역*/
    font-size: var(--font-size-sm);
    font-weight: bold;
    width:100%;
    height: 6vh;
    min-height: 50px;
    max-height: 100px;
    margin-bottom:10px;       /*내용과 간격 조정*/

  }
  .body-contentbox{           /*컨텐츠 내용 영역*/
    word-break:break-word;    /*단어가 짤리지 않음*/
    overflow-y:auto;          /*내부요소가 지정한 세로 값보다 클 경우 스크롤 생성*/
    min-height:10vh;         /*최소 높이*/
    max-height:60vh;         /*최대 높이*/
  }
    /*푸터*/
  .popup-foot{                      
    width:100%;
    height: 6vh;
    min-height: 50px;
    max-height: 100px;
  } 
  
  /*각각의 버튼*/
  .pop-btn{
    display:inline-flex;            /*한줄로 나열하기 위한 inline속성과 flex속성 혼합*/
    width:50%;                      /*2개 버튼 각각 50% 영역*/
    height:100%;                    /*50px*/
    justify-content:center;         /*수평정렬*/
    align-items:center;             /*수직정렬*/
    float:left;                     /*좌측배치*/
    color:#ffffff;                  /*글자색*/
    cursor:pointer;                 /*마우스 포인터 효과*/
  }
  
  /*확인버튼*/
  .pop-btn.close{                 
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
  }


  /*******컨텐츠 부분********/

  /*선 크기 조절*/
  hr{
    margin: 1rem 0;
    
  }

/*캠핑 사진, 설명 박스*/
.body-contentbox .campgroundsbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-contentbox .campgroundsbox .campimgbox{
    
    width: 10rem;
    height: 6rem;
}

.body-contentbox .campgroundsbox .campimgbox .campimg{
   
    width: 100%;
    height: 100%;
}


.body-contentbox .campgroundsbox .campexplainbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

/*캠핑 별점*/
.body-contentbox .starbox{
    display: flex;
    flex-direction: column;
   
}

.body-contentbox .starbox .star_title{
    font-weight: bold;
}

.body-contentbox .starbox .starsizeupbox{
   display: flex;
   width: 100%;
    height: 8rem;
   
}


.body-contentbox .starbox .starsizeupbox .star{
    width: 100%;
    height: 100%;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    display: flex;
}

/*캠핑 리뷰글 작성박스*/
.body-contentbox .textreviewbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-contentbox .textreviewbox .tr_texttitle{
    font-weight: bold;
    margin-bottom: 1rem;
}

.body-contentbox .textreviewbox .tr_text{
    
    height: 13vh;
}


@media screen and (max-width:480px) {
    .body-contentbox .campgroundsbox{
        display: flex;
        flex-direction: column;
    }

}