main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secbox{
    width: 80%;
}

/*sec1*/
.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 30px;
    margin: 2rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}

.sec1 .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 10%);
}


.sec1 .title{
    margin-bottom: 1rem;
    
}

/*sec2*/
.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/*sns로그인*/
.sec2 .loginapi{
    /* text-align: center;
    margin-bottom: 1rem;
    color: #333; */
    display:flex;
	flex-direction:column;
	align-items:center;
}


/*buttonbox 모음*/
.sec2 .loginapi .buttonbox_g,
.sec2 .loginapi .buttonbox_n,
.sec2 .loginapi .buttonbox_k{
    /* display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction:column; */
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.3rem;
    max-width: 12rem;
}
/*----------*/

.sec2 .loginapi .button_box:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}


/*logimg 모음*/

.sec2 .loginapi .buttonbox_g .button_g .logoimg_gw{
    border-radius: 5px;
}

.sec2 .loginapi .buttonbox_n .button_n .logoimg_nw{
	border-radius: 5px;
}
.sec2 .loginapi .buttonbox_k .button_k .logoimg_kw{
	border-radius: 5px;
}
/*----------*/








/*화면 480 이상일 때 가릴 것들 모음*/
.sec2 .loginapi .box3 .box4 .item_3{
    display: none;
}


.sec2 .loginapi .box3 .box4 .item_2{
    display: none;
}
/*----------*/






@media screen and (max-width:1024px) {
    .sec2{
        display: flex;
        flex-direction:column;
        justify-content:center;
        
        
    }
    
    
    .sec2 .loginapi{
        display: flex;
        height: auto;
        flex-direction:column;
        justify-content: center;
        
        align-items: center;
    }
    
    .sec2 .loginapi .box3 .box4{
  
        display: flex;
        justify-content: center;
        margin: 0.3rem;
        flex-basis: 35%;
    }

    .sec2 .loginapi .box3 .box4 .logotext{
        display: none;
    }
}

@media screen and (max-width:480px) {
    .sec2{
        display: flex;
        flex-direction:column;
        
        
        
        
    }

    .sec2 .loginapi{
        display: flex;
        justify-content: center;
        flex-direction:row;
        margin: 1rem;
    }
    
    .sec2 .loginapi .box3{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        max-width: 5rem;
}

    .sec2 .loginapi .box3 .box4{
        display: flex;
        
        

}




/**/
.sec2 .loginapi .buttonbox_g .button_g{
    margin: 0;
    
}

.sec2 .loginapi .buttonbox_n .button_n{
    margin: 0;

}


.sec2 .loginapi .buttonbox_k .button_k{
    margin: 0;
}


/*이미지 아이콘 보이기*/
.sec2 .loginapi .buttonbox_g .button_g .logoimg_g {
    display: block;
    

}

.sec2 .loginapi .buttonbox_n .button_n .logoimg_n {
    display: block;
   
    
 }

 .sec2 .loginapi .buttonbox_k .button_k .logoimg_k {
    display: block;
   
    
 }



 /*와이드 이미지 숨기기*/
 .sec2 .loginapi .buttonbox_g .button_g .logoimg_gw {
    display: none;
    flex-direction: row;
    
 }
 .sec2 .loginapi .buttonbox_n .button_n .logoimg_nw {
    display: none;
    flex-direction: row;
    
 }
 .sec2 .loginapi .buttonbox_k .button_k .logoimg_kw {
    display: none;
    flex-direction: row;
    
 }

}




/*섹션 크기 80%로 나누기*/    
.sectionbreak{
    display: flex;
    flex-basis: 80vh;
    padding: 0 8%;
    justify-content: center;
    flex-direction: column;
    
}


/*sec3*/
.sectionbreak .sec3{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
    flex-basis: 25%;
    align-items: center;

}

.sectionbreak .sec3 .line {
    width: 100%;
    height: auto;
    flex-basis: 30%;
}

.sectionbreak .sec3 .logintitle{
    font-size: 1rem;
    flex-basis: 40%;
}

.sectionbreak .sec3 .logintitle_mobile{
   display:none
}
@media screen and (max-width:480px) {
   /*480px 이하일 때 login 제목 바꾸기 (logintitle, logintitle_mobile의 display 속성 바꾸기)*/
    .sectionbreak .sec3 .logintitle{
        display: none;
    }
    /*480px 이하일 때 <hr> 선 간격 벌리기*/
    .sectionbreak .sec3 .logintitle_mobile{
        display: flex;
        flex-basis: 60%;
        justify-content: center;
    }

   
    .sectionbreak .sec3 .line {
        width: 100%;
        height: auto;
        flex-basis: 30%;
    }

   
}



/*sec4*/
input{
	width : 100%;
            box-sizing: border-box;
            padding: 15px;
 
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.233);
            margin-top:-10px;
           
}
/* input:focus {outline:none;} */

 input:hover{
            border: 1px solid dodgerblue;
            box-shadow: 0 0 5px dodgerblue;
}
 input:focus::placeholder{
            color:transparent;
}

input::placeholder {
    white-space: normal;
  
  }

button:disabled{
    background-color: #ccc;
    color: #999;
    
}       

.sectionbreak .sec4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    max-width: 80%;
}

.registerbox{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.registertext{
    margin-bottom:1rem ;
    font-size: var(--font-size-md);
    color: #333;
}

.sectionbreak .sec4 .profileimgbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .profileimgbox .profiletext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .profileimgbox .profileimg {
    width: 100%;
    border-radius: 0.2rem;
    margin: 0 0 1.5rem 0;
    padding: 1rem;
    max-width: 400px;
    
}


/*아이디*/
.sectionbreak .sec4 .idbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .idbox .idtext{
    flex-basis: 20%;
    

}

.sectionbreak .sec4 .idbox .id{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}

.input-container {
    position: relative;
    display: inline-block;
  }

/*비밀번호*/
.sectionbreak .sec4 .passwordbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}


.sectionbreak .sec4 .passwordbox .passwordtext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .passwordbox .password{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}

/*비밀번호 확인*/
.sectionbreak .sec4 .passwordcheckbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .passwordcheckbox .passwordchecktext{
    flex-basis: 20%;

}

.sectionbreak .sec4 .passwordcheckbox .passwordcheck{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}



/*이름*/
.sectionbreak .sec4 .namebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .namebox .nametext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .namebox .name{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}

/*닉네임*/
.sectionbreak .sec4 .nicknamebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .nicknamebox .nicknametext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .nicknamebox .nickname{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}


/*나이*/
.sectionbreak .sec4 .agebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .agebox .agetext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .agebox .age{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}

/*성별*/
.sectionbreak .sec4 .genderbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .genderbox .gendertext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .genderbox .gender{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}

/*주소*/
.sectionbreak .sec4 .addressbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .addressbox .addresstext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .addressbox .address{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}

/*전화번호*/
.sectionbreak .sec4 .phonebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .phonebox  .phonetext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .phonebox  .phone{
    width: 100%;
    border-radius: 0.2rem;
    padding: 1rem;
    max-width: 400px;
}

/*소개*/
.sectionbreak .sec4 .introducebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.sectionbreak .sec4 .introducebox  .introducetext{
    flex-basis: 20%;
}

.sectionbreak .sec4 .introducebox  .introduce{
    width: 100%;
    padding: 2rem;
    max-width: 400px;
    overscroll-behavior: contain;
    overflow: auto;
    white-space: pre-wrap;
    resize: none;
}   



/*화면이 1024px 이하면 회원가입 입력칸 아래로 내리기 */
@media screen and (max-width: 1024px){
    .sectionbreak .sec4 .profileimgbox{
        display: flex;
    width: 100%;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column
    }
    
    .sectionbreak .sec4 .profileimgbox .profiletext{
        flex-basis: 20%;
        
    }
    
    .sectionbreak .sec4 .profileimgbox .profileimg {
        flex-basis: 25%;
        width: 100%;
        
    }
    
    
    /*아이디*/
    .sectionbreak .sec4 .idbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .idbox .idtext{
        flex-basis: 20%;
        display: none;
    
    }
    
    .sectionbreak .sec4 .idbox .id{
        width: 100%;
    }
    
    
    /*비밀번호*/
    .sectionbreak .sec4 .passwordbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .sectionbreak .sec4 .passwordbox .passwordtext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .passwordbox .password{
        width: 100%;
    }
    
    /*비밀번호 확인*/
    .sectionbreak .sec4 .passwordcheckbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .passwordcheckbox .passwordchecktext{
        flex-basis: 20%;
        display: none;
    
    }
    
    .sectionbreak .sec4 .passwordcheckbox .passwordcheck{
        width: 100%;
    }
    
    
    
    /*이름*/
    .sectionbreak .sec4 .namebox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .namebox .nametext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .namebox .name{
        flex-basis: 25%;
    }
    
    /*닉네임*/
    .sectionbreak .sec4 .nicknamebox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .nicknamebox .nicknametext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .nicknamebox .nickname{
        flex-basis: 25%;
    }
    
    
    /*나이*/
    .sectionbreak .sec4 .agebox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .agebox .agetext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .agebox .age{
        flex-basis: 25%;
    }
    
    /*성별*/
    .sectionbreak .sec4 .genderbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .genderbox .gendertext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .genderbox .gender{
        flex-basis: 25%;
    }
    
    /*주소*/
    .sectionbreak .sec4 .addressbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .addressbox .addresstext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .addressbox .address{
        flex-basis: 25%;
    }
    
    /*전화번호*/
    .sectionbreak .sec4 .phonebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .phonebox  .phonetext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .phonebox  .phone{
        flex-basis: 25%;
    }
    
    /*소개*/
    .sectionbreak .sec4 .introducebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .introducebox  .introducetext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .introducebox  .introduce{
        flex-basis: 25%;
    }   
    
    


}


@media screen and (max-width: 480px){
	input{
        height:2em;
    }
    
    input::placeholder {
            white-space: normal;
            position:absolute;
            top:0;
            left:0;
    }
	
    .sectionbreak .sec4 .profileimgbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    
    .sectionbreak .sec4 .profileimgbox .profiletext{
        flex-basis: 20%;
        
    }
    
    .sectionbreak .sec4 .profileimgbox .profileimg {
        flex-basis: 25%;
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;

        max-width: 400px;
        
    }
    
    /*아이디*/
    .sectionbreak .sec4 .idbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .idbox .idtext{
        flex-basis: 20%;
        display: none;
    
    }
    
    .sectionbreak .sec4 .idbox .id{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        
        max-width: 400px;
    }
    
    
    /*비밀번호*/
    .sectionbreak .sec4 .passwordbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .sectionbreak .sec4 .passwordbox .passwordtext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .passwordbox .password{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        
        max-width: 400px;
    }
    
    /*비밀번호 확인*/
    .sectionbreak .sec4 .passwordcheckbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .passwordcheckbox .passwordchecktext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .passwordcheckbox .passwordcheck{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        
        max-width: 400px;
    }
    
    
    
    /*이름*/
    .sectionbreak .sec4 .namebox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .namebox .nametext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .namebox .name{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 400px;
    }
    
    /*닉네임*/
    .sectionbreak .sec4 .nicknamebox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .nicknamebox .nicknametext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .nicknamebox .nickname{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 400px;
    }
    
    
    /*나이*/
    .sectionbreak .sec4 .agebox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .agebox .agetext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .agebox .age{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 400px;
    }
    
    /*성별*/
    .sectionbreak .sec4 .genderbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .genderbox .gendertext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .genderbox .gender{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 400px;
    }
    
    /*주소*/
    .sectionbreak .sec4 .addressbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .addressbox .addresstext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .addressbox .address{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 400px;
    }
    
    /*전화번호*/
    .sectionbreak .sec4 .phonebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .phonebox  .phonetext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .phonebox  .phone{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 400px;
    }
    
    /*소개*/
    .sectionbreak .sec4 .introducebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionbreak .sec4 .introducebox  .introducetext{
        flex-basis: 20%;
        display: none;
    }
    
    .sectionbreak .sec4 .introducebox  .introduce{
        width: 100%;
        height: 3rem;
        border-radius: 0.2rem;
        margin: 0 0 1.5rem 0;
        max-width: 400px;
    }   
}

/*sec5*/
.sectionbreak .sec5{
    display: flex;
    justify-content: center;
}


/*회원가입 박스*/
.sectionbreak .buttonbox {
    display: flex;
    justify-content: center;
    
}

.sectionbreak .buttonbox .registerBtn{    
    background-color: #3498DB;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 80%;
    height: 3rem;
    text-align: center;

}

.id_ok{
color:#008000;
display: none;
}

.id_already{
color: red; 
display: none;
}

.nick_ok{
color:#008000;
display: none;
}

.nick_already{
color: red; 
display: none;
}

/*로그인 박스*/
.sectionbreak .sec7{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 1rem;
}

.ready{
	margin-bottom:1rem;
}

.rePwdErr{
	display:none;
}
.sectionbreak .sec7 .loginlink{
	display: flex;
    font-size: var(--font-size-sm);
    align-items: center;
    color:blue;
}