:root {
    --font-size-lg: clamp(1rem, 4vw, 3.5rem);
    --font-size-md: clamp(1.5rem, 3vw, 2.5rem);
    --font-size-sm: clamp(1rem, 2vw, 1.5rem);
  }
  
  h1 {
    font-size: var(--font-size-lg);
  }
  
  h2 {
    font-size: var(--font-size-md);
  }
  
  p {
    font-size: var(--font-size-sm);
    
  }
  
  blockquote {
    font-size: var(--font-size-md);
  }
  
  a {
    font-size: var(--font-size-sm);
  }


/* "{max-width: 100%;
    height: auto;}"를 사용한 이유
    -> 페이지 전체적으로 화면을 줄이거나 늘렸을 때 반응형처럼 보이게 하기 위해 사용, 화면을 줄이거나 늘렸을 때 밑에서 준 
    .box{}의 길이인 최대 가로 길이:80vw로 고정, 세로는 늘어난 만큼 보여짐  */
* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    max-width: 100%;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Varela Round', sans-serif;
    
	word-wrap: break-word;
    box-sizing: border-box;
}

/*리스트들의 특수기호 제거*/
li {
    list-style: none;
}


/*하이퍼링크 전체 밑줄 제거*/
a {
    text-decoration: none;
}



/*사용할 페이지 전체 범위(가로폭은 보이는 화면의 80%고정, 세로폭은 내용물이 많아지면 자동 증가)*/
body {
    max-width: 80vw;
    border: 1px solid red;
    margin: auto;
   
}  

/*페이지 내 헤더,메인,푸터의 틀 설정*/
.container{
    max-width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 6rem auto 3rem;
    grid-template-areas:
    'a a'
    'b b'
    'c c' 
}
header{
    grid-area: a;
}

main{
    grid-area: b;
}

footer{
    grid-area: c;
}


/**********메인 header(header 부분 전체)************/
.header{
    display: flex; 
    border: 5px solid orange;
    padding: 0.5rem 2rem;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}
.header .header_logo {
   
    border: 1px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}  


.header .header_menu {
    display: flex; 
    border: 3px solid yellow;
    justify-content: space-evenly;
    
}

.header .header_menu li {
    border: 1px solid blue;
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.2rem;
    display:flex; 
    align-items: center;
    justify-content: center;
}



.header .header_mypage {
    border: 5px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    padding: 0 2.5rem 0 2.5rem;
}


.header .header_hamburger{
    display: none;
    position: absolute;
    font-size: 1rem;
    top: 8px;
    left: auto;
    right: 8px;
    width:30px;
    height:30px;
    font-size: 1.5rem;
}

@media screen and (max-width:768px) {
    .header{
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem;
    }

    .header .header_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .header .header_menu li{
        width: 100%;
        
    }

    .header .header_mypage{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .header .header_hamburger{
        display: block;
       
    }

    .header_menu.active,
    .header_mypage.active{
        display: flex;
    }
}

/*********메인 바디***********/
main .body {
    display: flex;
    
    /* display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto; */
    border: 1px solid orange;
    flex-direction: row;
}

/*메인 바디 왼쪽*/
main .body .aside_l{
    border: 1px solid rgb(0, 255, 76);
    display: flex;
    flex-basis: 10%;
  
   

}

/*메인 바디 오른쪽*/
main .body .aside_r{
    border: 1px solid rgb(0, 64, 255);
   display: flex;
   flex-basis: 10%;
  
    
}
/*메인 바디 가운데 */
main .body .body_center{
    border: 1px solid rgb(158, 90, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 80%;
}








.footer{
    border: 3px solid red;
    background-color: black;
    color: aliceblue;
}