<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>게시판</title>

<!--css 연결-->
<link rel="stylesheet" type="text/css" href="../css/postgroup.css">
<!--js연결-->
<script type="text/javascript" src="../js/postgroup.js" defer></script>

<!--제이쿼리 연결-->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!--구글 폰트 링크-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Varela+Round&display=swap"
	rel="stylesheet">
<!--폰트 그림 링크-->
<script src="https://kit.fontawesome.com/bb87a5faf0.js"
	crossorigin="anonymous"></script>
<!-- moment - Date js 라이브러리 -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
</head>

<body>
	<div class="container">
		<!--====메인 header====-->
		<header>
			<div class="header box1">
				<!--네비게이션 로고-->
				<div class="header_logo box2">
					<a class="box3" href="#"><img src="" alt=""> 캠퍼스사진 </a>

				</div>


				<!--네비게이션 메뉴목록-->
				<ul class="header_menu box2_2">
					<li class="box3"><a class="item" href="">apple</a></li>
					<li class="box3_3"><a class="item" href="">cherry</a></li>
					<li class="box3_2"><a class="item" href="">banana</a></li>
					<li class="box3_4"><a class="item" href="">melon</a></li>

				</ul>

				<!--우측 상단 마이페이지-->
				<ul class="header_mypage box2_3">
					<li class="box3"><a href="" class="box3"> <i
							class="fa-solid fa-user item"></i>
					</a></li>
				</ul>

				<!--햄버거 메뉴-->
				<a href="#" class="header_hamburger box2_4"> <i
					class="fa-solid fa-bars item"></i>
				</a>
			</div>
		</header>
		<main>
			<div class="body box1">
				<!--메인 바디의 사이드 빈 공간왼쪽-->
				<div class="aside_l box2">aside_l</div>
				<!--메인 바디 가운데 공간-->
				<div class="body_center box2">
					<!--게시글 메뉴바-->

					<div class="sec1 box3 " name="test">
						<div class="titlebox box4">
							<div class="titleStrong">
								<strong class="titletext item">게시글 작성</strong>
							</div>
						</div>
						<div class="boardwritebox box4">
							<div class="boardwrite box5">
								<form th:action="@{/sample/register}" th:method="post">
									<input type="hidden" id="memberNickname" name="nickname"
										th:value="|${memInfo.nickname}|" readonly> <input
										type="hidden" name="mno" th:value="|${memInfo.mno}|" readonly>
									<div class="titlebox box6">
										<dl>
											<dt class="titletext item">제목</dt>
											<dd class="title item">
												<input name="title" type="text" placeholder="제목 입력">
											</dd>
											<dt class="titletext item">지역</dt>
											<dd class="title item">
												<select name="category">
													<option>서울특별시</option>
													<option>경기도</option>
													<option>부산광역시</option>
													<option>대구광역시</option>
													<option>인천광역시</option>
													<option>울산광역시</option>
													<option>세종특별자치시</option>
													<option>강원도</option>
													<option>충청도</option>
													<option>전라도</option>
													<option>경상도</option>
													<option>제주특별자치도</option>
												</select>
											</dd>
										</dl>
									</div>

									<div class="content">
										<textarea name="content" placeholder="내용 입력"></textarea>
									</div>
									<div class="buttonbox box5">
										<button type="submit" class="on">등록</button>
										<button type="reset" class="cancel">비우기</button>
									</div>
								</form>
							</div>

						</div>
					</div>

					<div class="sec2 box3" id="boardModifyForm">
						<div class="titlebox box4">
							<div class="titleStrong">
								<strong class="titletext item">게시글 수정 </strong>
							</div>
						</div>
						<div class="boardmodifybox box4">
							<div class="boardmodify box5">
								<div id="modifyBoard"></div>

							</div>
							<div class="button">
								<button type="button" id="boardModify" class="on">수정완료</button>
								<a href="" class="cancel">취소</a>
							</div>
						</div>

					</div>

					<div id="boardList" class="sec3 box3">

						<div id="readList"></div>

						<div id="repliesListRE"></div>
					</div>
					<a name="listlevel"></a>
					<div id="sec4" class="sec4 box3">

						<div class="titlebox box4">
							<div class="titleStrong">
								<strong class="titletext_item">게시판 목록</strong>
							</div>

							<div class="btnendbox box5">
								<div class="button box6">
									<!-- 검색 기능 시작 -->
									<div id="search">
										<form id="searchForm">
											<label for="category">지역</label> <select id='category'
												name="category">
												<option value="">전체</option>
												<option>서울특별시</option>
												<option>경기도</option>
												<option>부산광역시</option>
												<option>대구광역시</option>
												<option>인천광역시</option>
												<option>울산광역시</option>
												<option>세종특별자치시</option>
												<option>강원도</option>
												<option>충청도</option>
												<option>전라도</option>
												<option>경상도</option>
												<option>제주특별자치도</option>
											</select> <select name="type">
												<option value="" th:selected="${pageRequestDTO.type == null}">전체</option>
												<option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
												<option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
												<option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
												<option value="tc"
													th:selected="${pageRequestDTO.type == 'tc'}">제목 or
													내용</option>
												<option value="tw"
													th:selected="${pageRequestDTO.type == 'tw'}">제목 or
													작성자</option>
											</select> <input type="text" name="keyword"
												th:value="${pageRequestDTO.keyword}">
											<button type="submit">검색</button>
										</form>
									</div>
									<!-- 검색 기능 끝 -->
									<a class="on item" onclick="toggleBtn1()">글쓰기</a>
								</div>
							</div>
						</div>
						<table class="boardlistbox box4">
							<thead class="boardlist box5">
								<tr class="top box6">
									<th class="num item">번호</th>
									<th class="title item_2">제목</th>
									<th class="writer item_3">글쓴이</th>
									<th class="date item_4">작성일</th>
									<th class="count item_5">조회</th>
								</tr>
							</thead>
							<tbody class="boardlist box5" id="getList">
							</tbody>
						</table>

						<!-- 페이징 처리 시작 -->
						<div class="pagingEl"></div>
						<!-- 페이징 처리 끝 -->




					</div>

				</div>
			</div>

			<!--메인 바디의 사이드 빈 공간 오른쪽-->
			<div class="aside_r box2">
				<div class="listlevelbox">
					<a href="#listlevel" class="listlevel"><img
						src="../img/black1.jpg"></a>
				</div>
				<div class="toplevelbox">
					<a href="#" id="toplevel"><img src="../img/outdoor1.jpg"></a>
				</div>
			</div>
		</main>
		<!--====푸터====-->
		<footer>
			<div class="footer box1">푸터자리</div>
		</footer>


	</div>
</body>

</html>