<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{fragments/head_sec :: head-sec}"></div>
	
	<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="/css/postgroup.css">
	
	<!-- moment - Date js 라이브러리 -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <!--js연결-->
	<script type="text/javascript" src="../js/postgroup.js" defer></script>
    
</head>

<body>
	<div class="container">
	
		<!-- header fragment -->
		<div th:replace="~{/fragments/header :: headerFragment}"></div>
		
		
		
		<main>
			<div class="body box1">
				<!--메인 바디 가운데 공간-->
				<div class="body_center box2">
					<!--게시글 메뉴바-->
		
					<div th:replace="~{/fragments/board_sec :: section1Fragment}"></div>
					
					
					<div th:replace="~{/fragments/board_sec :: section2Fragment}"></div>
					
					
					<div th:replace="~{/fragments/board_sec :: section3Fragment}"></div>
					
					
					<div th:replace="~{/fragments/board_sec :: section4Fragment}"></div>
			
					<!-- <a name="listlevel"></a> -->
				</div>
			</div>

			<!--메인 바디의 사이드 빈 공간 오른쪽-->
			<div id="levelbox">
				<div class="listlevelbox">

					<a id="listlevel">게시판</a>

				</div>
				<div class="toplevelbox">
					<a id="toplevel">TOP</a>
				</div>
			</div>
		</main>
		</div>
		
	<!-- footer fragment -->
	<div th:replace="~{/fragments/footer :: footerFragment}"></div>
</body>

</html>