<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Page</title>

<!--css 연결-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--js연결-->
<script type="text/javascript" src="/js/main.js" defer></script>

<!--구글 폰트 링크-->
<link rel="preconnect"  href="https://fonts.googleapis.com" >
<link rel="preconnect"  href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Varela+Round&display=swap"
	rel="stylesheet">
<!--폰트 그림 링크-->
<script src="https://kit.fontawesome.com/bb87a5faf0.js" crossorigin="anonymous"></script>

</head>
<body>
	<div>
		<i class="fa-sharp fa-solid fa-plane-up"></i>
	</div>
	<h1>Camp에 오신것을 환영합니다.</h1>
	<h3>여러분의 캠핑을 도와줍니다.</h3>

	<p>sns 로그인</p>
	<div class="loginApi">	
		<input type="button"><a href="/oauth2/authorization/google" > Google</a></input>
		<input type="button"><a href="/oauth2/authorization/naver" >Naver</a></input>
		<input type="button"><a href="/oauth2/authorization/kakao" >Kakao</a></input>
	  </div>

	<div class="line">-</div>
	<div class="logintitle">camp 아이디로 로그인</div>
	<div class="line">-</div>
<form action ="/sample/login" method="POST">
	<table>
		<tr>			
			<td>
			  <label>아이디</label>
			  <input type="text" name="username" placeholder="아이디를 입력해주세요.">
			</td>
		  </tr>
		  <tr>
			<td>
				<label>비밀번호</label>
				<input type="password" name="password" placeholder="비밀번호를 입력해주세요.">
			</td>
		  </tr>
	</table>	
	<button>로그인</button>
</form>

	<div class="findid">
		<a href=""> 계정 찾기 </a>
	</div>

	<div>
		<a href="/sample/signup">
		회원가입을 아직 하지 않으셨나요????
		</a>
	</div>
</body>
</html>