<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modify Membership</title>
</head>
<body>
  <h1>회원 정보 수정 페이지입니다.</h1>
  
  <p>회원정보를 수정하십시오.</p>
  <form th:action="@{/sample/modify}" th:method="post">
    <table>
	  <tr>
		<td>
		  <label>프로필 사진</label>
		  <input type="text" name="image" th:value="${memberDTO.image}">
		</td>
	  </tr>
	  <tr>			
	    <td>
		  <label>아이디</label>
		  <input type="text" name="id" th:value="${memberDTO.id}" readonly>
		</td>
	  </tr>
	  <tr>
		<td>
			<label>비밀번호</label>
			<input type="password" name="pass" th:value="${memberDTO.pass}">
		</td>
	  </tr>
	  <tr>
		<td>
		  <label>이름</label>
		  <input type="text" name="name" th:value="${memberDTO.name}">
		</td>
	  <tr>
		<td>
		  <label>별명</label>
		  <input type="text" name="nickname" th:value="${memberDTO.nickname}">
		</td>
	  </tr>
	  <tr>
        <td>
		  <label>나이</label>
		  <input type="text" name="age" th:value="${memberDTO.age}" readonly>
		</td>
	  </tr>
	  <tr>
        <td>
		  <label>성별</label>
		  <!-- onFocus, onChange = select에 readonly 효과 줌 -->
		  <!-- 이거 db에 저장된 option으로 표출하고 싶은데 어떻ㄱ 하져? -->
		  <select name="gender" onFocus="this.initiaSelect = this.selectedIndex;" onChange="this.selectedIndex = this.initalSelect;">
		    <option value="true">남자</option>
			<option value="false">여자</option>
		  </select>
		</td>
	  </tr>
	  <tr>
        <td>
		  <label>주소</label>
		  <input type="text" name="address" th:value="${memberDTO.address}">
		</td>
	  </tr>
	  <tr>
		<td>
	      <label>전화번호</label>
		  <input type="text" name="phone" th:value="${memberDTO.phone}">
		</td>
	  </tr>
	  <tr>
	    <td>
		  <label>소개</label>
		  <input type="text" name="introduce" th:value="${memberDTO.introduce}">
		</td>
	  </tr>
    </table>
    <button type="button">수정</button>
    <button type="button">삭제</button>
  </form> 
	
	
	<!-- <a th:href="@{/sample/modify(id=${memberDTO.id})}">
	  <button type="button" name="modifypagebtn">조회하기</button>
	</a>
	<a th:href="@{/sample/mypage(id=${memberDTO.id})}">
	  <button type="button" name="mypagebtn">마이페이지로</button>
	</a>
	<a th:href="@{/sample/main(id=${memberDTO.id})}">
	  <button type="button" name="mainpagebtn">메인으로</button>
	</a>     -->
</body>
</html>