<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{fragments/head_sec :: head-sec}"></div>

	<!--swiper-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>

	
	<!--js연결-->
	<script type="text/javascript" src="../js/starrr.js" defer></script>
	<link rel="stylesheet" type="text/css" href="../css/starrr.css">
	<script type="text/javascript" src="../js/main.js" async></script>
	<script type="text/javascript" src="../js/camp.js" async></script>


	<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/starrr.css">
    <link rel="stylesheet" type="text/css" href="../css/camperproduct.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">

</head>

<body>
	<div class="container">
		<!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>
		<div th:replace="~{fragments/header :: cartFragment}"></div>

		<main>

			<!-- nav fragment -->
			<div th:replace="~{/fragments/nav :: navFragment}"></div>
			<div class="navimage">
				<swiper-container class="nav-mySwiper" pagination="true" pagination-clickable="true" navigation="false"
					space-between="30" centered-slides="true" autoplay-delay="3500" loop="true"
					autoplay-disable-on-interaction="false">
					<swiper-slide class="nav-swiper-slide"><img src="../img/nav_main_top1.jpg" alt=""></swiper-slide>
					<swiper-slide class="nav-swiper-slide"><img src="../img/nav_main_top2.jpg" alt=""></swiper-slide>
					<swiper-slide class="nav-swiper-slide"><img src="../img/nav_main_top3.jpg" alt=""></swiper-slide>
					<swiper-slide class="nav-swiper-slide"><img src="../img/nav_main_top4.jpg" alt=""></swiper-slide>
				</swiper-container>
			</div>

			<!----메인 바디---->
			<div class="body box1">

				<!--메인 바디 가운데 공간 안에 섹션 1, 2, 3이 나뉨-->
				<div class="body_center box2">
					<!--섹션나누기 캠핑용품 제목-->
					<div th:replace="~{/fragments/main_sec :: sectionFragment_T1}"></div>

					<!--섹션나누기 캠핑용품-->
					<div th:replace="~{/fragments/item_sec :: mainFragment}"></div>

					<!--섹션나누기 타이틀 캠핑장-->
					<div th:replace="~{/fragments/main_sec :: sectionFragment_T2}"></div>

					<!--섹션나누기 캠핑장-->
					<div th:replace="~{/fragments/main_sec :: section2Fragment}"></div>

					<!--섹션나누기 타이틀 게시판-->
					<div th:replace="~{/fragments/main_sec :: sectionFragment_T3}"></div>

					<!--섹션나누기 게시판-->
					<div th:replace="~{/fragments/main_sec :: section3Fragment}"></div>

					

				</div>
			</div>
		</main>
	</div>

	<!-- footer fragment -->
	<div th:replace="~{/fragments/footer :: footerFragment}"></div>

</body>

</html>