<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{fragments/head_sec :: head-sec}"></div>
	
	<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="../css/login.css">

	<!--js연결(필요하면 쓰세요)-->
	<script type="text/javascript" src="../js/login.js" defer></script>

</head>

<body>

	<div class="container">
		<!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>

		<main>
			<div class="container">
				<div class="sec1 box1">
					<div class="iconbox box2">
						<i class="fa-solid fa-user fa-2x"></i>
					</div>
					<h1 class="title item">Campers에 오신것을 환영합니다.</h1>
					<h4 class="content item_2">여러분의 캠핑을 도와줍니다.</h4>
				</div>


			<form th:action ="@{/loginProc}" method="post">
				<div class="sec2 box1">
					<div class="logintitlebox box2">
						<div class="logintitle_mobile item_2">campers 로그인</div>
						<div class="logintitle item_2">campers 아이디 로그인</div>
					</div>

				
					<table class="id_passbox box2">
						<tr class="idbox box3">
							<td class="idtext item">아이디
							</td>
							<td class="inputtd">
							<input type="text" class="id item_2" name="username" placeholder="아이디를 입력하세요">
							</td>
						</tr>
						<tr class="passwordbox box3">
							<td class="passwordtext item">비밀번호
							</td>
							<td class="inputtd"><input type="password" class="password item" name="password" placeholder="비밀번호를 입력하세요">
							</td>
						</tr>
					
					</table>
					<div th:if="${param.error}">
            			<div class="alert">사용자ID 또는 비밀번호를 확인해 주세요.</div>
        			</div>
					
					<div class="find_accountbox box3">
						<a href="" class="findaccount item"> 계정 찾기 </a>
					</div>
					<div class="login_rg_box box2">

						<div class="loginbuttonbox box3">
							<input type="submit"  class="loginbutton item" value="로그인"></input>
						</div>
						<div class="registerlinkbox box3">
							<div class="registertext item">아직 회원가입을 하지 않으셨나요?</div>
							<div class="registers box4">
								<a class="a item" href="/signup">회원가입</a>
							</div>
						</div>
					</div>
				</div>
			</form>

				<div class="sec3">
					<div class="login_api">
						<div class="button_box google">
							<a class="button" href="/oauth2/authorization/google">
								<img class="logo_img_wide" src="../img/googleLogoWide.png" alt="Google 로고">
								<img class="logo_img" src="../img/googleLogo.png" alt="Google 로고">
							</a>
						</div>
						<div class="button_box naver">
							<a class="button" href="/oauth2/authorization/naver">
								<img class="logo_img_wide" src="../img/naverLogoWide.png" alt="Naver 로고">
								<img class="logo_img" src="../img/naverLogo.png" alt="Naver 로고">
							</a>
						</div>
						<div class="button_box kakao">
							<a class="button" href="/oauth2/authorization/kakao">
								<img class="logo_img_wide" src="../img/kakaoLogoWide.png" alt="Kakao 로고">
								<img class="logo_img" src="../img/kakaoLogo.png" alt="Kakao 로고">
							</a>
						</div>
					</div>
				</div>

			</div>

		</main>

	</div>
	
	<!-- footer fragment -->
	<div th:replace="~{/fragments/footer :: footerFragment}"></div>
	
</body>

</html>