<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{fragments/head_sec :: head-sec}"></div>

	<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="../css/readmemember.css">
	<!--js연결-->
	<script type="text/javascript" th:src="@{../js/readmemember.js}" defer></script>
	
	
</head>

<body>
	<div class="container">
		<!--====메인 header====-->
		<div th:replace="~{fragments/header :: headerFragment}"></div>
		<div th:replace="~{fragments/header :: cartFragment}"></div>
		<main>
			<div class="body box1">
				
				<!--메인 바디 가운데 공간-->
				<div class="body_center box2">

					<!----------------메인바디 1번칸------------->
					<div class="sec1 box3">
						<div class="titlebox box4">
							<div class="titletext item">나의 정보</div>
						</div>
						<div class="titlecommentbox box4">
							<p class="titlecommenttext item">회원님의 개인정보를 확인하실 수 있습니다. </p>
						</div>
					</div>


					<div class="sec2 box3">
						<div class="profileimgbox box4">
							<!-- <p class="profiletext item"></p> -->
							<input class="profileimg item_2" type="text" name="image"
								th:value="${member.getProfileImg}" readonly>
						</div>


						<div class="idbox box4">
							<p class="idtext item">아이디</p>
							<input class="id item_2" type="text" name="id" th:value="${member.getId}" readonly>
						</div>

						<div class="namebox box4">
							<p class="nametext item">이름</p>
							<input class="name item_2" type="text" name="name" th:value="${member.getName}"
								readonly>
						</div>
						<div class="nicknamebox box4">
							<p class="nicknametext item">별명</p>
							<input class="nickname item_2" type="text" name="nickname"
								th:value="${member.getNickname}" readonly>
						</div>
						<div class="agebox box4">
							<p class="agetext item">나이</p>
							<input class="age item_2" type="text" name="age" th:value="${member.getAge}"
								readonly>
						</div>
						<div class="genderbox box4">
							<p class="gendertext item">성별</p>
							<input class="gender item_2" type="text" name="gender" th:value="${member.getGender}"
								readonly>
						</div>
						<div class="addressbox box4">
							<p class="addresstext item">주소</p>
							<input class="address item_2" type="text" name="address"
								th:value="${member.getAddress}" readonly>
						</div>
						<div class="phonebox box4">
							<p class="phonetext item">전화번호</p>
							<input class="phone item_2" type="text" name="phone" th:value="${member.getPhone}"
								readonly>
						</div>
						<div class="introducebox box4">
							<p class="introducetext item">소개</p>
							<textarea class="introduce item_2" name="introduce" readonly>[[${member.getIntroduce}]]</textarea>
						</div>
						<div class="buttonbox">
							<div class="modifybox box4">
								<button class="modify item" onclick="location.href='/modifymember'">나의 정보 수정</button>
							</div>

							<!--삭제버튼 나중에 (회원탈퇴) 등으로 변경 될 수 있음-->
							<div class="deletebox box4">
								<button class="delete item" type="button">삭제</button>
							</div>
						</div>
					</div>

					</div>

					<!-------------------메인바디 2번칸--------------------->


					<div class="sec3">
						<h2>결제 기록</h2>
						<ul class="shoppingcart box4">
						  <li>
							<div class="date">2023-02-20</div>
							<div class="product-name">맥북 프로</div>
							<div class="price">2,500,000원</div>
							<div class="status">완료</div>
							<div class="edit"><button class="edit-btn">수정</button></div>
						  </li>
						  <li>
							<div class="date">2023-02-15</div>
							<div class="product-name">아이폰 13</div>
							<div class="price">1,200,000원</div>
							<div class="status">미완료</div>
							<div class="edit"><button class="edit-btn">수정</button></div>
						  </li>
						  <!-- 결제 내역이 더 있을 경우, 추가로 항목을 생성하여 표시 -->
						</ul>
					  </div>

					<!---------------메인바디 3번칸-------------------->
					<div class="sec4 box3">
						<!--캠핑장-->
						<div class="campgroundsbox box4">
							<div class="campgrounds_title item">캠핑장</div>
							<div class="campgrounds_name item_2">봄날의 햇살</div>
							<div class="campgrounds_date item_3">2023-02-27(월)~2023-02-28(화)</div>
							<div class="campgrounds_expense item_4">비용:8000원</div>
						</div>
						<div class="customerbox box4">
							<div class="customer_title item">예약자 정보</div>
							<div class="customer_namebox box5">
								<div class="customer_nametext item">예약자 성명</div>
								<div class="customer_name item_2">대충 예약자가 누구인지 알려주는 상자</div>
							</div>
							<div class="customer_phonebox box5">
								<div class="customer_phonetext item">휴대폰 번호</div>
								<div class="customer_phone item_2">대충 예약자 휴대폰번호 써있는 상자</div>
							</div>
						</div>

						<div class="userbox box4">
							<div class="user_title item">사용자 정보</div>
							<div class="checksamebox box5">
								<input class="checksame item_2" type="checkbox">
								<div class="checksametext item">예약자와 사용자가 동일합니다
								</div>
							</div>
							<div class="user_namebox box4">
								<div class="user_nametext item">사용자 성명</div>
								<div class="user_name item_2">대충 사용자가 누구인지 알려주는 상자</div>
							</div>
							<div class="user_phonebox box4">
								<div class="user_phonetitle item">휴대폰 번호</div>
								<div class="user_phone item_2">대충 사용자 휴대폰번호 써있는 상자</div>
							</div>
						</div>


						<div class="reservebox box4">
							<button class="reserve item">예약하기</button>
						</div>
					</div>




					<!--좋아요 내역-->
					<div class="sec5 box3">
						<div class="titlebox">
							<div class="title">좋아요 내역</div>
						</div>

						<div class="tabs">
							<div class="tab-button-outer">
								<ul id="tab-button">
									<li><a href="#tab01">캠핑장</a></li>
									<li><a href="#tab02">아이템</a></li>
									<li><a href="#tab03">게시글</a></li>
									
								</ul>
							</div>
							<div class="tab-select-outer">
								표시 선택：
								<select id="tab-select">
									<option value="#tab01">CAMP</option>
									<option value="#tab02">ITEM</option>
									<option value="#tab03">BOARD</option>

								</select>
							</div>

							<div id="tab01" class="tab-contents">
								<h2>캠핑장</h2>
								<div class="campgroundsbox" id="tab_camp">
									<div class="cg_imgbox">
										<img src="../img/family20.jpg" alt="">
									</div>
									<div class="cg_textbox">
										<div class="cg_texttitle">
											기억캠핑장
										</div>
										<div class="cg_view">조회수 : 35</div>
										<div class="cg_wish list">찜 수 : 12</div>
									</div>
									<div class="cg_imgbox">
										<img src="../img/family20.jpg" alt="">
									</div>
									<div class="cg_textbox">
										<div class="cg_texttitle">
											기억캠핑장
										</div>
										<div class="cg_view">조회수 : 35</div>
										<div class="cg_wish list">찜 수 : 12</div>
									</div>
									<div class="cg_imgbox">
										<img src="../img/family20.jpg" alt="">
									</div>
									<div class="cg_textbox">
										<div class="cg_texttitle">
											기억캠핑장
										</div>
										<div class="cg_view">조회수 : 35</div>
										<div class="cg_wish list">찜 수 : 12</div>
									</div>
									<div class="cg_imgbox">
										<img src="../img/family20.jpg" alt="">
									</div>
									<div class="cg_textbox">
										<div class="cg_texttitle">
											기억캠핑장
										</div>
										<div class="cg_view">조회수 : 35</div>
										<div class="cg_wish list">찜 수 : 12</div>
									</div>
									<div class="cg_imgbox">
										<img src="../img/family20.jpg" alt="">
									</div>
									<div class="cg_textbox">
										<div class="cg_texttitle">
											기억캠핑장
										</div>
										<div class="cg_view">조회수 : 35</div>
										<div class="cg_wish list">찜 수 : 12</div>
									</div>
								</div>
								<!-- 페이지 번호
								<div class="boardpage box5">
									<a href="#" class="bt_first item">&lt;&lt;</a>
									<a href="#" class="bt_prev item_2">&lt;</a>
									<a href="#" class="num item_3">1</a>
									<a href="#" class="num">2</a>
									<a href="#" class="num">3</a>
									<a href="#" class="num">4</a>
									<a href="#" class="num">5</a>
									<a href="#" class="bt_next item_4">&gt;</a>
									<a href="#" class="bt_last item_5">&gt;&gt;</a>
								  </div> -->
							</div>

							<div id="tab02" class="tab-contents">
								<h2>아이템</h2>
								<div class="campporductbox" id="tab_item">
									<div class="cp_imgbox">
										<img src="../img/family31.jpg" alt="">
									</div>
									<div class="cp_textbox">
										<div class="cp_texttitle">
											니은화로
										</div>
										<div class="cp_view">조회수 : 35</div>
										<div class="cp_wish list">찜 수 : 12</div>
									</div>
									<div class="cp_imgbox">
										<img src="../img/family31.jpg" alt="">
									</div>
									<div class="cp_textbox">
										<div class="cp_texttitle">
											니은화로
										</div>
										<div class="cp_view">조회수 : 35</div>
										<div class="cp_wish list">찜 수 : 12</div>
									</div>
									<div class="cp_imgbox">
										<img src="../img/family31.jpg" alt="">
									</div>
									<div class="cp_textbox">
										<div class="cp_texttitle">
											니은화로
										</div>
										<div class="cp_view">조회수 : 35</div>
										<div class="cp_wish list">찜 수 : 12</div>
									</div>
									<div class="cp_imgbox">
										<img src="../img/family31.jpg" alt="">
									</div>
									<div class="cp_textbox">
										<div class="cp_texttitle">
											니은화로
										</div>
										<div class="cp_view">조회수 : 35</div>
										<div class="cp_wish list">찜 수 : 12</div>
									</div>
									<div class="cp_imgbox">
										<img src="../img/family31.jpg" alt="">
									</div>
									<div class="cp_textbox">
										<div class="cp_texttitle">
											니은화로
										</div>
										<div class="cp_view">조회수 : 35</div>
										<div class="cp_wish list">찜 수 : 12</div>
									</div>
								</div>
							</div>



							<!--게시글-->
							<div id="tab03" class="tab-contents">
								<h2>게시글</h2>
								<div class="postgroupbox">
									<div class="pg_textbox">
										<div class="pg_upline">
											<div class="pg_write">
												작성자
											</div>
											<div class="pg_date">
												작성일
											</div>
										</div>
										<div class="pg_downline">

											<div class="pg_texttitle">
												게시글 제목
											</div>

										</div>
									</div>
								</div>
								<div id="tab_board">
									<div class="postgroupbox">
										<div class="pg_textbox">
											<div class="pg_upline">
												<div class="pg_write">
													최석호
												</div>
												<div class="pg_date">
													2023-02-20
												</div>
											</div>
											<div class="pg_downline">
	
												<div class="pg_texttitle">
													가나다라마바사아자카타파하
												</div>
												<div class="pg_reviewnum">[2]</div>
											</div>
										</div>
									</div>
									<div class="postgroupbox">
										<div class="pg_textbox">
											<div class="pg_upline">
												<div class="pg_write">
													최석호
												</div>
												<div class="pg_date">
													2023-02-20
												</div>
											</div>
											<div class="pg_downline">
	
												<div class="pg_texttitle">
													아야어여오요우유으이
												</div>
												<div class="pg_reviewnum"></div>
											</div>
										</div>
									</div>
									<div class="postgroupbox">
										<div class="pg_textbox">
											<div class="pg_upline">
												<div class="pg_write">
													최석호
												</div>
												<div class="pg_date">
													2023-02-20
												</div>
											</div>
											<div class="pg_downline">
	
												<div class="pg_texttitle">
													도레미파솔라시도
												</div>
												<div class="pg_reviewnum">[6]</div>
											</div>
										</div>
									</div>
								</div>
							</div>



<!-- 							<div id="tab04" class="tab-contents">
								<h2>댓글</h2>
								<div class="reviewbox">
									<div class="rv_textbox">
										<div class="rv_upline">
											<div class="rv_date">
												작성일
											</div>
											<div class="rv_postgroup">
												어느 게시글에서 댓글 썼는지 보여주는 곳
											</div>
										</div>
										<div class="rv_downline">

											<div class="rv_text">
												내용
											</div>

										</div>
									</div>
								</div>
								<div class="reviewbox">
									<div class="rv_textbox">
										<div class="rv_upline">
											<div class="rv_date">
												2023-02-24
											</div>
											<div class="rv_postgroup">
												대충게시판제목써있는글
											</div>
										</div>
										<div class="rv_downline">

											<div class="rv_text">
												내용
											</div>

										</div>
									</div>
								</div>
								<div class="reviewbox">
									<div class="rv_textbox">
										<div class="rv_upline">
											<div class="rv_date">
												2023-02-24
											</div>
											<div class="rv_postgroup">
												대충게시판제목써있는글
											</div>
										</div>
										<div class="rv_downline">

											<div class="rv_text">
												내용
											</div>

										</div>
									</div>
								</div>
								<div class="reviewbox">
									<div class="rv_textbox">
										<div class="rv_upline">
											<div class="rv_date">
												2023-02-24
											</div>
											<div class="rv_postgroup">
												대충게시판제목써있는글
											</div>
										</div>
										<div class="rv_downline">

											<div class="rv_text">
												내용
											</div>

										</div>
									</div>
								</div>
								<div class="reviewbox">
									<div class="rv_textbox">
										<div class="rv_upline">
											<div class="rv_date">
												2023-02-24
											</div>
											<div class="rv_postgroup">
												대충게시판제목써있는글
											</div>
										</div>
										<div class="rv_downline">

											<div class="rv_text">
												내용
											</div>

										</div>
									</div>
								</div>
								<div class="reviewbox">
									<div class="rv_textbox">
										<div class="rv_upline">
											<div class="rv_date">
												2023-02-24
											</div>
											<div class="rv_postgroup">
												대충게시판제목써있는글
											</div>
										</div>
										<div class="rv_downline">

											<div class="rv_text">
												내용
											</div>

										</div>
									</div>
								</div>
								페이지 번호
								<div class="boardpage box5">
									<a href="#" class="bt_first ">&lt;&lt;</a>
									<a href="#" class="bt_prev ">&lt;</a>
									<a href="#" class="num ">1</a>
									<a href="#" class="num">2</a>
									<a href="#" class="num">3</a>
									<a href="#" class="num">4</a>
									<a href="#" class="num">5</a>
									<a href="#" class="bt_prev">&gt;</a>
									<a href="#" class="bt_last">&gt;&gt;</a>
								</div>
							</div>
 -->						</div>

					</div>

				</div>
			</main>

		<!-- footer fragment -->
		<div th:replace="~{/fragments/footer :: footerFragment}"></div>

	</div>
</body>

</html>