<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<!--  캠핑장 정보 -->
	<section th:fragment="campGroundsSection1">
		<div class="titlebox box4">
			<div class="title item">Camper Product Details</div>
		</div>

		<div
			th:if="${#strings.arraySplit(result.thumbnail, ',').length == 1 and #strings.arraySplit(result.thumbnail, ':').length == 1}">
			<img class="campgroundimg item"
				th:src="@{'/display?fileName=&folderType=camp'}">
		</div>
		<div th:if="${#strings.arraySplit(result.thumbnail, ':').length != 1}">
			<img class="campgroundimg item" th:src="${result.thumbnail}">
		</div>

		<div
			th:if="${#strings.arraySplit(result.thumbnail, ',').length != 1 and #strings.arraySplit(result.thumbnail, ':').length == 1}"
			class="campgroundimgbox box4"
			th:each="image : ${#strings.arraySplit(result.thumbnail, ',')}">
			<img class="campgroundimg item"
				th:src="@{'/display?fileName=' + ${image} + '&folderType=camp'}">
		</div>

		<div class="cg_titlebox box4">
			<div class="cg_title item">[[${result.name}]]</div>
		</div>


		<div class="cg_starbox box4">
			<div class="cg_star item" id="item_star">
				<div id="sync_star">[[${avg}]]</div>
			</div>
		</div>

		<div class="cg_explainbox box4">
			<div class="cg_explain item">[[${result.campintroduce}]]</div>
		</div>

		<div class="cg_hashtagbox box4">
			<div class="cg_hashtag item">#[[${result.camptype}]]</div>
		</div>
	</section>
	<!--  캠핑장 정보 끝 -->


	<!--  예약 -->
	<section class="section2" th:fragment="campGroundsSection2">
		<div class="cal-info">
			<h4>※ 예약 주의사항</h4>
			<p> 1.&nbsp;텐트내에 화재나 어린이 놀이사고 등<br> &nbsp;&nbsp;&nbsp;&nbsp;각종 안전사고에 유의하시기 바랍니다.<br><br>
				2.&nbsp;예약자 본인이 신분증지참하시어<br>&nbsp;&nbsp;&nbsp;&nbsp;관리실에 입실체크후 입장하시기바랍니다.<br><br>
				3.&nbsp;양수, 양도 불가하며 발각 즉시<br>&nbsp;&nbsp;&nbsp;&nbsp;탈퇴 조치합니다.</p>
		</div>
		<div id="calendar">
			<div id="month-year"></div>
			<div id="weekdays">
				<div class="1">Mon</div>
				<div class="2">Tue</div>
				<div class="3">Wed</div>
				<div class="4">Thu</div>
				<div class="5">Fri</div>
				<div class="6">Sat</div>
				<div class="7">Sun</div>
			</div>
			<div id="days"></div>
			<div id="buttons">
				<button id="prev-month">Prev</button>
				<button id="next-month">Next</button>
				<button id="reservation">reservation</button>
				<button id="reset">RE</button>
			</div>
		</div>
		
	</section>
	<!--  예약 끝 -->


	<!--  지도 -->
	<section class="section3" th:fragment="campGroundsSection3">
		
		<div class="map-info">
			<h4>※ 지도 이용 방법</h4>
			<p> 1.&nbsp;해당 캠핑장의 위치에 마커가 있고,<br> &nbsp;&nbsp;&nbsp;&nbsp;그 위에 길찾기를 누르면 됩니다.<br><br>
				2.&nbsp;길찾기를 누르면 사이트로 이동되며<br>&nbsp;&nbsp;&nbsp;&nbsp;도착지는 자동으로 입력됩니다.<br><br>
				3.&nbsp;자차, 대중교통, 보도 등을 선택하시고,<br>&nbsp;&nbsp;&nbsp;&nbsp;출발지를 입력하여 경로를 검색합니다.</p>
		</div>
		
		<div class="sec2 box3" style="max-width: none; z-index: 1;">

			<div id="map" style="width: 350px; height: 350px; max-width: none"></div>
			
		</div>
	</section>
	<!-- 지도 끝 -->
	
	
	<!-- 날씨 -->
	<section th:fragment="campGroundsSection4">

			<div class="weather-container">
				<button class="prev">prev</button>
				<div class="date">3월 4일</div>	
				<div class="weather-re">
					<div class="weatherbox">
						<div class="weather-info">
							<div class="date">15:00</div>
							<img class="weather-img" src="sunny.png">
							<div class="weather">맑음</div>
							<div class="wind">풍속: 5m/s</div>
						</div>
					</div>
				</div>
				<button class="next">next</button>
			</div>
	</section>
	<!--  날씨 끝 -->

	<!--  댓글 -->
	<section th:fragment="campGroundsSection5"></section>
	<!--  댓글 끝 -->


</body>
</html>