<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

<footer th:fragment="footerFragment">
    <div class="footer box1">
        <div class="logobox">
            <div class="logo">Campers</div>
        </div>
        <div class="footerbox">
            <span>|</span>
            <a class="login">로그인</a>
            <span>|</span>
            <a class="register">회원가입</a>
            <span>|</span>
            <div class="phone">010-1234-5678</div>
            <span>|</span>
            <div class="email">abc123@naver.com</div>
            <span>|</span>
        </div>
        <div class="copyright">
            <div class="">Copyright © 2023 www.campers.com. All rights reserved.</div>
        </div>
    </div>
</footer>

</body>
</html>