<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
	<div th:replace="~{fragments/head_sec :: head-sec}"></div>
</head>
<body>

<header th:fragment="headerFragment">
	<div class="header box1">
				<!-- 네비게이션 로고 -->
				<div class="header_logomenu box2">
					<a class="header_logo box3" href="/">
						<img src="../img/logo.svg" class="logoimg">
					</a>
				</div>

				<!-- 화면 작을 때 나오는 사이드메뉴 -->
				<div class="sidebar_box">
					<input type="checkbox" id="check">
					<div class="btn_one">
						<label for="check">
							<i class="fas fa-bars"></i>
						</label>
					</div>
					<div class="sidebar_menu">
						<div class="logo">
							<a href="#">Campers</a>
						</div>
						<div class="btn_two">
							<label for="check">
								<i class="fas fa-times"></i>
							</label>
						</div>
						<div class="menu">
							<ul>
								<li class="campgroundbox">
									<i class="campground fa-solid fa-campground"></i>
									<a href="/camp/campgrounds" class="item">캠핑장</a>
								</li>
								<li class="productbox">
									<i class="product fa-solid fa-box"></i>
									<a href="/item/list">상품</a>
								</li>
								<li class="postgroupbox">
									<i class="postgroup fa-solid fa-comment"></i>
									<a href="/sample/list">게시판</a>
								</li>
								<li class="loginbox"  sec:authorize ="isAnonymous()" >
									<i class="login fa-solid fa-right-to-bracket"></i>
									<a href="/login">로그인</a>
								</li>
								<li class="logoutbox" sec:authorize ="isAuthenticated()">
									<i class="logout fa-solid fa-right-from-bracket"></i>
									<a href="/logout">로그아웃</a>
								</li>
								<li class="signupbox" sec:authorize ="isAnonymous()">
									<i class="signup fa-solid fa-user-plus"></i>
									<a href="/signup">회원가입</a>
								</li>
								<li class="readmemeberbox" sec:authorize ="isAuthenticated()">
									<i class="readmemeber fa-solid fa-user"></i>
									<a href="/readmember">내 정보</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!---->

				<!-- 네비게이션 메뉴목록 -->
				<ul class="header_menu box2">
					<li class="menu1 box3"><a class="item" href="/camp/campgrounds">캠핑장</a></li>
					<li class="menu2 box3"><a class="item" href="/item/list">상품</a></li>
					<li class="menu3 box3"><a class="item" href="/sample/list">게시판</a></li>
				</ul>

				<!-- 우측 상단 마이페이지 -->
				<ul class="header_mypage box2">
					<li class="signuplogbox box3">
						<a class="login"   sec:authorize ="isAnonymous()" href="/login">로그인</a>
						<a class="logout"  sec:authorize ="isAuthenticated()" href="/logout">로그아웃</a>
						<a class="signup box4"  sec:authorize ="isAnonymous()"  href="/signup">회원가입</a>
						<!--내정보 페이지 링크 아이콘-->
						<a class="readmemeberlinkbox"  sec:authorize ="isAuthenticated()" href="/readmember">
							<i class="fa-solid fa-user fa-2x"></i>
						</a>
						<a class="cart-popup" id="cart-popup" sec:authorize ="isAuthenticated()">
							<img src="../img/shoppingcart.png">
						</a>
					</li>

				</ul>

			</div>
	

</header>

<div th:fragment="cartFragment">
	<div class="cart-popup-wrap" id="cart-modal">
        <!--실질적 모달팝업-->
        <div class="cart-popup">
            <!--로고 영역-->
            <div class="cart-popup-head">
                <span class="cart-head-title"> 로고</span>
            </div>
            <!--컨텐츠 영역-->
            <div class="cart-popup-body">
                <div class="cart-body-content">
                    <div class="cart-body-titlebox">장바구니</div>
                    <hr>
                    <div class="cart-body-contentbox">
                        <table>
                        </table>
                        <div class="cart-sumbox">
                            <div class="cart-sumcount" id="cartCount"></div>
                            <div class="cart-sumprice" id="txt_getChkList"></div>
                        </div>

                        <div class="cart-btnbox">
                            <div class="cart-delete" onclick="deleteCart()">선택 상품 삭제</div>
                            <div class="cart-selectorder" onclick="orderCart()">선택 상품 주문</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--푸터 버튼 영역-->
            <div class="cart-popup-foot">
                <span class="cart-pop-btn close" id="cart-close">창 닫기</span>
                <span class="cart-pop-btn confirm">임시저장</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>
