<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<section th:fragment="list1Fragment">
		<!-- 본문 내용 -->
	</section>
	
	
	<section th:fragment="list2Fragment">
		<!-- 본문 내용 -->
	</section>
	
	
	<section th:fragment="list3Fragment">
		<!-- 본문 내용 -->
	</section>
	
	<section th:fragment="list4Fragment">
		<!-- 본문 내용 -->
	</section>
	
	<!-- ------------ 구분선 ------------------>
	
	<section th:fragment="detail1Fragment">
		<!-- 본문 내용 -->
	</section>
	
	
	<section th:fragment="detail2Fragment">
		<!-- 본문 내용 -->
	</section>
	
	
	<section th:fragment="detail3Fragment">
		<!-- 본문 내용 -->
	</section>
	
	
	
	
	
	

</body>
</html>