<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- 카테고리, 키워드, 정렬 설정 -->
	<section th:fragment="list1Fragment">
		<script type="text/javascript" src="../js/itemList.js" defer></script>
		<link rel="stylesheet" type="text/css" href="../css/cart.css">
    <link rel="stylesheet" type="text/css" href="../css/camperproduct.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
		<div class="sec1 box3">
           <div class="titlebox box4">
               <div class="title item">Camper Product</div>
           </div>
           <div class="line">
               <hr>
           </div>
           <div class="producttypebox box4">
               <div class="allselect item">카테고리</div>
               <div class="tent box5">
                   <button class="tentitem1 item" value="취사용품" onclick="search('취사용품','','',1)">취사용품</button>
                   <button class="tentitem2 item_2" value="랜턴" onclick="search('랜턴','','',1)">랜턴</button>
                   <button class="tentitem3 item_3" value="캠핑가구" onclick="search('캠핑가구','','',1)">캠핑가구</button>
               </div>
               <div class="tent box5">
                   <button class="tentitem1 item" value="기타캠핑용품" onclick="search('기타캠핑용품','','',1)">기타캠핑용품</button>
                   <button class="tentitem1 item_2" value="텐트" onclick="search('텐트','','',1)">텐트</button>
                   <button class="tentitem1 item_3" value="캠핑매트" onclick="search('캠핑매트','','',1)">캠핑매트</button>
               </div>
               <div class="tent box5">
                   <button class="tentitem1 item" value="아이스박스" onclick="search('아이스박스','','',1)">아이스박스</button>
                   <button class="tentitem1 item_2" value="침낭" onclick="search('침낭','','',1)">침낭</button>
                   <button class="tentitem1 item_3" value="텐트/타프용품" onclick="search('텐트/타프용품','','',1)">텐트/타프용품</button>
               </div>
               <div class="tent box5">
                   <button class="tentitem1 item" value="타프" onclick="search('타프','','',1)">타프</button>
                   <button class="tentitem1 item_2" value="천막" onclick="search('천막','','',1)">천막</button>
                   <button class="tentitem1 item_3" value="캠핑왜건" onclick="search('캠핑왜건','','',1)">캠핑왜건</button>
               </div>
           </div>
           <hr>
       </div>

       <div class="sec2 box3">
           <div class="dropdownsearchbox box4">
               <div class="dropdownbox box5">
                   <div class="dropdown box6">
                       <a href="#" class="dropbtn item">정렬</a>
                       <div class="subdropdown box7">
                           <button class="dropitem item" onclick="search('', '', 'count', 1)"><a>조회순</a></button>
                           <button class="dropitem item_2" onclick="search('', '', 'heart', 1)"><a>찜순위</a></button>
                           <button class="dropitem item_3" onclick="search('', '', 'price', 1)"><a>가격순</a></button>
                           <button class="dropitem item_4" onclick="search('', '', '', 1)"><a>최신순</a></button>
                       </div>
                   </div>
               </div>
               <div class="searchbox box5">
               	<input  type="text" class="search item" placeholder="검색상자" onblur="search('',this,'',1)"></input>
               </div>
           </div>
       </div>
	</section>
	
	<!-- 아이템 리스트 -->
	<section th:fragment="list2Fragment">
		<script type="text/javascript" src="../js/itemList.js" defer></script>
			<link rel="stylesheet" type="text/css" href="../css/cart.css">
    <link rel="stylesheet" type="text/css" href="../css/camperproduct.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
	
		<div class="sec3 box3" id="list"></div>
        <div class="pagingEl"></div>
	</section>
	
	<!-- 아이템 추가 모달 -->
	<section th:fragment="list3Fragment">
		<script type="text/javascript" src="../js/itemList.js" defer></script>
		<link rel="stylesheet" type="text/css" href="../css/cart.css">
    <link rel="stylesheet" type="text/css" href="../css/camperproduct.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
		<div class="modal-btn-box" sec:authorize="isAuthenticated()">
	     	<button type="button" id="item-modal-open">아이템 추가</button>
		</div>
		<!--모달을 감쌀 박스-->
		<div class="popup-wrap" id="item-popup">
	        <!--실질적 모달팝업-->
	        <div class="popup"> 
	            <!--로고 영역-->
	            <div class="popup-head"> 
	                <span class="head-title"> 로고</span>
	            </div>
	            <!--컨텐츠 영역-->
	            <div class="popup-body"> 
	                <div class="body-content">
	                 <div class="body-titlebox">아이템 추가하기</div>
	                    <hr>
	                    <div class="body-contentbox">
	                       <div class="campgroundsbox">
	                            <div class="campimgbox">
	                                <img id="imageChange" class="campimg" src="/display?fileName=null">
	                            </div>
	                            <div class="campexplainbox">
	                                <div class="ce_title">이름 : </div> 
	                                <div class="ce_preice">
	                                  가격 : 
	                                </div>
	                               
	                            </div>
	                       </div>
	                       <hr>
	                       <div class="itemnamebox">
	                            <div class="tr_texttitle">아이템 이름*</div>
	                            <input type="text" id="name" placeholder="아이템 이름을 적어주세요">
	                       </div>
	                       <hr>
	                       <div class="itempricebox">
	                            <div class="tr_texttitle">아이템 가격*</div>
	                            <input type="text" id="price" placeholder="가격은 숫자만 적어주세요">
	                       </div>
	                       <hr>
	                       <div class="itembrandbox">
	                            <div class="tr_texttitle">브랜드명</div>
	                            <input type="text" id="brand" placeholder="생략가능" value="">
	                       </div>
	                       <hr>
	                       <div class="itemmakerbox">
	                            <div class="tr_texttitle">메이커명</div>
	                            <input type="text" id="maker" placeholder="생략가능" value="">
	                       </div>
	                       <hr>
	                       <div class="textreviewbox">
	                            <div class="tr_texttitle">아이템 링크</div>
	                            <textarea class="tr_text" id="link" placeholder="아이템 소개 링크를 입력해주세요"></textarea>
	                       </div>
	                       <hr>
	                       <div class="addimgbox">
	                            <div class="addimgtitle">이미지 추가</div>
	                            <input type="file" id="thumbnail" class="addimg" multiple>
	                       </div>
	                       <hr>
	                       <div class="itemcategorybox">
	                            <div class="addimgtitle">카테고리 설정</div>
	                            <select name="category">
	                            	<option value="기타캠핑용품" selected>기타캠핑용품</option>
	                            	<option value="캠핑왜건">캠핑왜건</option>
	                            	<option value="취사용품">취사용품</option>
	                            	<option value="랜턴">랜턴</option>
	                            	<option value="캠핑가구">캠핑가구</option>
	                            	<option value="텐트">텐트</option>
	                            	<option value="캠핑매트">캠핑매트</option>
	                            	<option value="아이스박스">아이스박스</option>
	                            	<option value="텐트/타프용품">텐트/타프용품</option>
	                            	<option value="침낭">침낭</option>
	                            	<option value="타프">타프</option>
	                            	<option value="천막">천막</option>
	                            </select>
	                       </div>
	                       <hr>
	                    </div>
	                </div>
	            </div>
	            <!--푸터 버튼 영역-->
	            <div class="popup-foot">  
	                <span class="pop-btn close" id="close">창 닫기</span>
	                <span class="pop-btn confirm" id="confirm">확인</span>
	               	<span class="pop-btn confirm" id="modify">수정</span>
	          	</div>
			</div>
		</div>
	</section>
	
	<!--  -->
	<section th:fragment="list4Fragment">
		<!-- 본문 내용 -->
	</section>
	
	<!-- ------------ 구분선 ------------------>
	
	<!-- 아이템 상세 내용 -->
	<section th:fragment="detail1Fragment">
	    <link rel="stylesheet" type="text/css" href="../css/campgroundsdetail.css">
	    <script type="text/javascript" src="../js/itemDetail.js" defer></script>
        <script type="text/javascript" th:inline="javascript" src="../js/itemDetail.js"></script>
		<div class="sec1 box3">
	        <div class="titlebox box4">
	            <div class="title item">Camper Product Details</div>
	        </div>
			<div th:if="${#strings.arraySplit(detail.thumbnail, ',').length == 1 and #strings.arraySplit(detail.thumbnail, ':').length == 1}">
			    <img class="campgroundimg item" th:src="@{'/display?fileName=&folderType=item'}">
			</div>
			<div th:if="${#strings.arraySplit(detail.thumbnail, ':').length != 1}">
			    <img class="campgroundimg item" th:src="${detail.thumbnail}">
			</div>
			<div th:if="${#strings.arraySplit(detail.thumbnail, ',').length != 1 and #strings.arraySplit(detail.thumbnail, ':').length == 1}" class="campgroundimgbox box4" th:each="image : ${#strings.arraySplit(detail.thumbnail, ',')}">
			    <img class="campgroundimg item" th:src="@{'/display?fileName=' + ${image} + '&folderType=item'}">
			</div>

            <div class="cg_titlebox box4">
                <div class="cg_title item">[[${detail.name}]]</div>
            </div>
            <div class="cg_starbox box4">
                <div class="cg_star item" id="item_star"><div id="sync_star">[[${detail.star}]]</div></div>
            </div>
            
            <div class="cg_heartbox box4">
            	<div class="cg_heart item" id="item_heart" th:onclick="clickItemHeart('[[${detail.ino}]]')">
            		
            		[[${detail.heart}]]
            	</div>
            </div>
            
            <div class="cg_heart box4" th:onclick="clickItemCart('[[${detail.ino}]]')">
            	<img alt='<a href="https://www.flaticon.com/free-icons/cart" title="cart icons">Cart icons created by Freepik - Flaticon</a>' src="../img/shoppingcart.png">
            </div>

            <div class="cg_explainbox box4">
                <a class="cg_explain item" th:href="${detail.link}">[[${detail.link}]]</a>
            </div>

            <div class="cg_hashtagbox box4">
                <div class="cg_hashtag item">[[${detail.category1}]] | [[${detail.category2}]]</div>
            </div>
        </div>
	</section>
	
	
	<!-- 리뷰 내용 -->
	<section th:fragment="detail2Fragment">
	    <link rel="stylesheet" type="text/css" href="../css/campgroundsdetail.css">
	    <script type="text/javascript" th:inline="javascript" src="../js/itemDetail.js" defer></script>
		<div class="sec4 box3">
            <div class="rv box4" id="reviewGroup"></div>
        </div>
	</section>
	
	
	<!-- 리뷰 모달 -->
	<section th:fragment="detail3Fragment">
		<link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
		<script type="text/javascript" th:inline="javascript" src="../js/itemDetail.js" ></script>
		<div class="modal-btn-box" sec:authorize="isAuthenticated()">
			<button type="button" id="modal-open">리뷰 작성</button>
		</div>
	     <!--모달을 감쌀 박스-->
		<div class="popup-wrap" id="popup">
	        <!--실질적 모달팝업-->
			<div class="popup"> 
	            <!--로고 영역-->
				<div class="popup-head"> 
					<span class="head-title"> 로고</span>
				</div>
	            <!--컨텐츠 영역-->
				<div class="popup-body"> 
					<div class="body-content">
	                	<div class="body-titlebox">리뷰 작성하기</div>
	                	<hr>
	                	<div class="body-contentbox">
	                		<div class="campgroundsbox">
	                    		<div class="campimgbox" th:with="images=${#strings.arraySplit(detail.thumbnail, ',')}">
	                        		<img class="campimg" th:src="@{'/display?fileName=' + (${images.length == 0 ? '' : images[images.length-1]}) + '&folderType=item'}">
	                    		</div>
	                        	<div class="campexplainbox">
	                        		<div class="ce_title">[[${detail.name}]]</div> 
	                            	<div class="ce_preice">
	                            		[[${detail.price}]]원
	                            	</div>
								</div>
							</div>
							<hr>
							<div class="starbox">
								<div class="star_title">별점을 선택하세요</div>
									<div class="starsizeupbox">
										<div class="starrr star" id="select_star"></div>  
									</div>  
								</div>
								<hr>
								<div class="textreviewbox">
									<div class="tr_texttitle">리뷰 내용</div>
									<textarea class="tr_text" id="content" placeholder="솔직한 이용후기를 작성해주세요"></textarea>
								</div>
								<hr>
                       			<div class="addimgbox">
                            		<div class="addimgtitle">이미지 추가</div>
                            		<input type="file" id="capture" class="addimg" multiple>
                       			</div>
	                       		<hr>
	                    	</div>
						</div>
					</div>
	            	<!--푸터 버튼 영역-->
		            <div class="popup-foot">  
		                <span class="pop-btn close" id="close">창 닫기</span>
		                <span class="pop-btn confirm" id="confirm">확인</span>
		               	<span class="pop-btn confirm" id="modify">수정</span>
		            </div>
	</section>
	
	
	
	
	
	

</body>
</html>