<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<!--swiper-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js" defer></script>
</head>

<body>

	<!-- <section th:fragment="section1Fragment">
		<div class="cp box3 swit">
			<div class="cp_textbox">

				<h1 class="cp_title item "> 캠핑 용품</h1>
				<p class="cp_comment item2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<a class="cp_link" href="/item/list">캠핑 물품 구매</a><br>
			</div>

			<div class="cp_imgbox box5">
				<a class="cp_link item" href="">
				</a>
			</div>

		</div>
		<div id="sec1-container">
			<script src="../js/sec1.js"></script>
		</div>
	</section> -->

	<section th:fragment="section2Fragment">

		<!--캠핑장 바로가기-->
		<div class="cg box3">
			<div class="cg_imgbox">
				<a class="cp_link" href="">
					<img src="../img/background4.jpg" alt="">
				</a>
			</div>

			<div class="cg_textbox">
				<!---------------캠핑장 등록-------------------->

				<h1 class="cg_title scroll"> 캠핑장</h1>

				<p class="cg_comment">
					베스트 캠핑 장소 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit iste et
					ullam veritatis qui odit optio, dicta nihil, quae illum commodi repellat aperiam nisi
					laboriosam nostrum quaerat magnam beatae eius.
				</p>
				<a class="cg_link" href="/camp/campgrounds">캠핑장 바로가기</a>

			</div>

		</div>

	</section>

	<!--게시판 (영상)-->
	<section th:fragment="section3Fragment">
		<div class="video-section">
			<video autoplay loop muted>
				<source src="../video/main3.mp4" type="video/mp4">
			</video>
			<div class="text-overlay">
				<h1>게시판 바로가기<a class="video_textbtn" href="/sample/list">click</a></h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</div>
		</div>
	</section>

	<!--캠핑용품 제목-->
	<section th:fragment="sectionFragment_T1">
		<div class="text_titlebox">
			<div class="text_title01">
				캠핑 용품 <strong>확인하기</strong>
				<div class="underbar"></div>
			</div>
			<div class="text_title02">
				<strong>이번 주 </strong>쓸만한<strong class="text_warning"> 캠핌용품 보러가기 <a href="/item/list"> click</a></strong>
			</div>
		</div>
	</section>

	<!--캠핑장 제목-->
	<section th:fragment="sectionFragment_T2">
		<div class="text_titlebox02">
			<div class="text_title03">
				캠핑장 <strong>확인하기</strong>
				<div class="underbar2"></div>
			</div>
			<div class="text_title04">
				<strong>이번 주</strong> 가볼만한<strong class="text_warning">캠핌장은?</strong>
			</div>
		</div>
	</section>

	<!--게시판 제목-->
	<section th:fragment="sectionFragment_T3">
		<div class="text_titlebox03">
			<div class="text_title05">
				게시판 <strong>확인하기</strong>
				<div class="underbar3"></div>
			</div>
			<div class="text_title06">
				<strong>여행에</strong>대해<strong class="text_warning">함께 이야기 해요</strong>
			</div>
		</div>
	</section>

	<section th:fragment="section4Fragment">

	</section>
	
</body>

</html>