<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

<section th:fragment="section1Fragment">

	        <!----------------캠핑 판매물품 박스------------->
	        <div class="cp box3 ">
	            <div class="cp_textbox">
	
	                <h1 class="cp_title item "> 캠핑 용품</h1>
	                <p class="cp_comment item2"> 베스트 인기 상품 Lorem ipsum dolor sit amet consectetur adipisicing
	                    elit. Unde molestiae, minima iure provident culpa, soluta expedita autem numquam sequi
	                    excepturi nam cupiditate architecto earum veniam blanditiis voluptatum eveniet quisquam
	                    quos.</p>
	                <a class="cp_link" href="">캠핑 물품 구매</a><br>
	            </div>
	
	            <div class="cp_imgbox box5">
	                <a class="cp_link item" href="">
	                    <img class="cp_img item" src="../img/family4.jpg" >
	                </a>
	            </div>
	
	        </div>

</section>

<section th:fragment="section2Fragment">

	<!--캠핑장 바로가기-->
	   <div class="cg box3">
	       <div class="cg_imgbox">
	           <a class="cp_link" href="">
	               <img src="../img/background4.jpg" alt="">
	           </a>
	       </div>
	
	       <div class="cg_textbox">
	           <!---------------캠핑장 등록-------------------->
	           <div class="campregisterbox">
	               <a class="campregister" href="">캠핑장 불태우러하러 가기</a>
	           </div>
	           <h1 class="cg_title scroll"> 캠핑장</h1>
	
	           <p class="cg_comment">
	               베스트 캠핑 장소 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit iste et
	               ullam veritatis qui odit optio, dicta nihil, quae illum commodi repellat aperiam nisi
	               laboriosam nostrum quaerat magnam beatae eius.
	           </p>
	           <a class="cg_link" href="">캠핑장 예약</a>
	
	       </div>
	
	   </div>

</section>

<section th:fragment="section3Fragment">

	

</section>


</body>
</html>