<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<nav th:fragment="navFragment">
		<div class="navimage">
		       <img src="../img/mainbackground.jpg" alt="">
		</div>
		   
		<div class="navimageadd">
			<div class="ni_textbox">
			    <div class="ni_text">캠프하는 사람들<p></p> Campers와 함께 </div>
		    </div>
		    <div class="ni_btnbox">
		    	<a class="ni_btn" href="">캠핑장 보러 가기</a>
		    </div>
		</div>
</nav>

</body>
</html>