<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head_sec :: head-sec}"></div>
    
    <!--js연결-->
    <script type="text/javascript" src="/js/main.js" defer></script>
    
    <!--css 연결-->
    <link rel="stylesheet" type="text/css" href="../css/campgroundsdetail.css">
    
     <!-- starrr -->
	<script th:src="@{../js/starrr.js}"></script>
    <link th:href="@{../css/starrr.css}" rel="stylesheet">
</head>

<body>



    <div class="container">
       	<!-- header fragment -->
			<div th:replace="~{fragments/header :: headerFragment}"></div>
			<div th:replace="~{fragments/header :: cartFragment}"></div>
        
        <main>
        
            <div class="body box1">
            
                <!--메인 바디 가운데 공간-->
                <div class="body_center box2">
                
                    <!----------------캠핑장 사진------------->
                    <div class="sec1 box3">
					<div th:replace="~{fragments/campDetail_sec :: campGroundsSection1}"></div>

                        
                   <!------------------ 달력--------------------->

					<div th:replace="~{fragments/campDetail_sec :: campGroundsSection2}"></div>
                        
                    <!------------------지도 + 출발지 + 날씨--------------------->
                    
					<div th:replace="~{fragments/campDetail_sec :: campGroundsSection3}"></div>

                    <!---------------후기-------------------->

                    <div class="sec3 box3">
                        <div class="reviewwritebox box4">
                           <div class="modal-btn-box">
        						<button type="button" id="modal-open">리뷰 작성</button>
						   </div>
                        </div>
                    </div>
                    
                    <div class="sec4 box3">
                    
                        <div class="rv box4"></div>
                        
                        
                        	<a class="list-group replyList">
								<!-- rest 로 들어옴 -->
							</a>
                          
                        </div>
                    </div>
                </div>
						     <!--모달을 감쌀 박스-->
						    <div class="popup-wrap" id="popup" style="z-index: 1;">
						        <!--실질적 모달팝업-->
						        <div class="popup"> 
						            <!--로고 영역-->
						            <div class="popup-head"> 
						                <span class="head-title"> 로고</span>
						            </div>
						            
						            <!--컨텐츠 영역-->
						            <div class="popup-body"> 
						                <div class="body-content">
						                 <div class="body-titlebox">리뷰 작성하기</div>
						                    <hr>
						                    <div class="body-contentbox">
						                       <div class="campgroundsbox">
						                            <div class="campimgbox">	    
						                               <img class="campgroundimg item" src="../img/happy13.jpg" th:src="${result.thumbnail}">                            
						                            </div>
						                            <div class="campexplainbox">
						                                <div class="ce_name">
						                                	[[${result.name}]]
						                                </div> 
												 <div class="cg_starbox box4">
							                            <div class="cg_star item" id="item_star">
							                            <div id="sync_star">[[${avg}]]</div
							                            ></div>
							                        </div>
						                               
						                            </div>
						                       </div>
						                       <hr>
						                       <div class="starbox">
						                            <div class="star_title">별점을 선택하세요</div>
						                            <div class="starsizeupbox">
						                                <div class="starrr star" id="select_star"></div>  
						                            </div>  
						                       </div>
						                       
						                       <hr>
						                       <div class="textreviewbox">
						                            <div class="tr_texttitle">리뷰 내용</div>
						                            <textarea class="tr_text" id="content" placeholder="솔직한 이용후기를 작성해주세요"></textarea>
						
						                       </div>
						                       <hr>
						                       <div class="addimgbox">
						                            <div class="addimgtitle">이미지 추가</div>
						                            <input type="file" id="picture" class="addimg">
						                       </div>
						                    </div>
						                </div>
						            </div>
						            <!--푸터 버튼 영역-->
						            <div class="popup-foot">  
						                <span class="pop-btn close" id="close">창 닫기</span>
						                <span class="pop-btn confirm" id="confirm">확인</span>
						               
						            </div>
						        </div>
						    </div>
						    
						     <!--예약 모달을 감쌀 박스-->
						    <div class="popup-wrap" id="RVpopup" style="z-index: 1;">
						        <!--실질적 모달팝업-->
						        <div class="popup"> 
						            <!--로고 영역-->
						            <div class="popup-head"> 
						                <span class="head-title"> 로고</span>
						            </div>
						            <!--컨텐츠 영역-->
						            <div class="popup-body"> 
						                <div class="body-content">
						                 <div class="body-titlebox">예약하기</div>
						                    <hr>
						                    <div class="body-contentbox">
						                       <div class="campgroundsbox">
						                            <div class="campimgbox">	    
						                               <img class="campgroundimg item" src="../img/happy13.jpg" th:src="${result.thumbnail}">                            
						                            </div>
						                            <div class="campexplainbox">
						                                <div class="ce_name">
						                                	[[${result.name}]]
						                                </div> 
						                             	<div class="cg_starbox box4">
                           						 			<div class="cg_star item" id="item_address">
                           						 				<div id="sync_star">[[${result.address}]]</div>
                           						 			</div>
                        								</div>
						                               
						                            </div>
						                       </div>
						                       <hr>
						                       <div class="starbox">
						                            <div class="star_title">예약일 을 확인하세요</div>
						                            <br><br>
						                            <div class="starsizeupbox">
						                                <div class="start-day" id="start-day">
						                                 	<b> 입실 일 </b><br><br>
						                                 	<cite> 안녕 </cite>
						                                 </div>  
						                                <div class="end-day" id="end-day">
						                                 	<b> 퇴실 일 </b><br><br>
						                                 	<cite> 안녕 </cite>
						                                </div>  
						                            </div>  
						                       </div>
						                       
						                       <hr>
						                       <div class="textreviewbox">
						                            <div class="tr_texttitle">캠핑 소개</div>
						                            <div class="cg_explain item">[[${result.campintroduce}]]</div>
						                       </div>
						                       <hr>

						                    </div>
						                </div>
						            </div>
						            <!--푸터 버튼 영역-->
						            <div class="popup-foot">  
						                <span class="pop-btn close" id="RVclose">창 닫기</span>
						                <span class="pop-btn confirm" id="RVconfirm">예약</span>
						               
						            </div>
						        </div>
						    </div>
						    
					<!--수정모달 감쌀 박스-->
					<div class="popup-wrap" id="modify-popup" style="z-index: 1;">
						<!--실질적 모달팝업-->
						<div class="popup">
							<!--로고 영역-->
							<div class="popup-head">
								<span class="head-title"> 로고</span>
							</div>
							<!--컨텐츠 영역-->
							<div class="popup-body">
								<div class="body-content">
									<div class="body-titlebox">리뷰 수정하기</div>
									<hr>
						                    <div class="body-contentbox">
						                       <div class="campgroundsbox">
						                            <div class="campimgbox">	    
						                               <img class="campgroundimg item" src="../img/happy13.jpg" th:src="${result.thumbnail}">                            
						                            </div>
						                            <div class="campexplainbox">
						                                <div class="ce_name">
						                                	[[${result.name}]]
						                                </div> 
						                                <input type="hidden" class="crno">
						                                <input type="hidden" class="regdate">
						                                <input type="hidden" class="heart">
						                                <input type="hidden" class="reviewer">
								                       <div class="cg_starbox box4">
								                            <div class="cg_star item" id="item_star">
								                            <div id="sync_star">[[${avg}]]</div
								                            ></div>
								                        </div>
														                               
						                            </div>
						                       </div>
						                       <hr>
						                       <div class="starbox">
						                            <div class="star_title">별점을 선택하세요</div>
						                            <div class="starsizeupbox">
						                                <div class="starrr star" id="modify-select_star"></div>  
						                            </div>  
						                       </div>
						                       
						                       <hr>
						                       <div class="textreviewbox">
						                            <div class="tr_texttitle">리뷰 내용</div>
						                            <textarea class="tr_text" id="modify-content" placeholder="솔직한 이용후기를 작성해주세요"></textarea>
						
						                       </div>
						                       <hr>
						                       <div class="addimgbox">
						                            <div class="addimgtitle">이미지 추가</div>
						                            <input type="file" id="modify-picture" class="addimg">
						                       </div>
						                    </div>	
						                </div>
							</div>
							<!--푸터 버튼 영역-->
							<div class="popup-foot">
								<span class="pop-btn modify-close" id="close">창 닫기</span> <span
									class="pop-btn modify-confirm" id="confirm">수정</span>

							</div>
						</div>
					</div>
                <!--메인 바디의 사이드 빈 공간 오른쪽-->
                <div class="aside_r box2">aside_r</div>


            </div>


        </main>
    </div>
    
    <script th:inline="javascript">
    
    // 카카오 지도 API 따로 놓았음
    var address = /*[[${result.address}]]*/null;
    console.log(address);

	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	mapOption = {
    	center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    	level: 13 // 지도의 확대 레벨
	};  

	// 지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption); 

	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();

	// 주소로 좌표를 검색합니다
	geocoder.addressSearch(address, function(result, status) {
		
		let x = 0;
		let y = 0;
		
		try{
			x = result[0].x;
			y = result[0].y;
			
		} catch{
			console.log("KAKAO API 문제 발생");
			console.log("지역 : " + address);
			alert("지역을 표시하는데 문제가 생겼습니다.");
			
			x = 10;
			y = 10;
		}
		
		console.log(y);
		console.log(x);
			
	 	// 정상적으로 검색이 완료됐으면 
 	if (status === kakao.maps.services.Status.OK) {

    	var coords = new kakao.maps.LatLng(y, x);
    	// 결과값으로 받은 위치를 마커로 표시합니다
    	var marker = new kakao.maps.Marker({
       		map: map,
    	    position: coords
    	});

    	var iwContent = '<div class="map" style="max-width :none; height:100px" "> <a href="https://map.kakao.com/link/to/'+address+','+x+','+y+'" style="color:blue; " target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        iwPosition = new kakao.maps.LatLng(33.450701, 126.570667); //인포윈도우 표시 위치입니다

    	// 인포윈도우를 생성합니다
    	var infowindow = new kakao.maps.InfoWindow({
        	position : iwPosition, 
        	content : iwContent 
    	});
      
    	// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
    	infowindow.open(map, marker); 
		} 
		////////////////////////////////API 끝//////////////////////////////
	});    
    </script>
	
	<script th:inline="javascript">
      const clenderList = /*[[${calender}]]*/ null;
      const cno = /*[[${result.cno}]]*/ null;
      const result = /*[[${result}]]*/ null;
    </script>
    
    <script th:src="@{../js/campDetail.js}"></script>
    		
</body>
</html>