<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="~{fragments/head_sec :: head-sec}"></div>
	
	<!--  별점 관련도 일단 있어야함 -->
	<script th:src="@{../js/starrr.js}"></script>
	<link th:href="@{../css/starrr.css}" rel="stylesheet">
	
	<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="../css/campgrounds.css">
	
	<!--js연결-->
	<script type="text/javascript" src="../js/camp.js" defer></script>
</head>

<body>
	<div class="container">
	
		<!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>
		<div th:replace="~{fragments/header :: cartFragment}"></div>
		
	<main>
	
		<div th:replace="~{fragments/camp_sec :: campGroundsSection1}"></div>
		
		<div th:replace="~{fragments/camp_sec :: campGroundsSection2}"></div>
		
		<div th:replace="~{fragments/camp_sec :: campGroundsSection3}"></div>
		
		<div th:replace="~{fragments/camp_sec :: campGroundsSection4}"></div>

			<!--예약 모달을 감쌀 박스-->
			<div class="popup-wrap" id="popup" style="z-index: 1;">
				<!--실질적 모달팝업-->
				<div class="popup">
					<!--로고 영역-->
					<div class="popup-head">
						<span class="head-title"> 로고</span>
					</div>
					<!--컨텐츠 영역-->
					<div class="popup-body">
						<div class="body-content">
							<div class="body-titlebox">캠핑장 등록하기</div>
							<hr>
							<div class="body-contentbox">
								<div class="campgroundsbox">
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 이름</div>
										<input type="text" class="campName">
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 종류 (중복 가능합니다.)</div>
										<div class="makeType">
											<button id="type">일반</button>
											<button id="type">카라반</button>
											<button id="type">글램핑</button>
											<button id="type">자동차</button>
										</div>
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">지역 선택</div>
										<div class="makeLocation" style="line-height: 40px">
											<button id="type">서울시</button>
											<button id="type">부산시</button>
											<button id="type">대구시</button>
											<button id="type">인천시</button>
											<button id="type">광주시</button>
											<button id="type">대전시</button>
											<button id="type">울산시</button>
											<button id="type">세종시</button>
											<button id="type">경기도</button>
											<button id="type">강원도</button>
											<button id="type">충청북도</button>
											<button id="type">충청남도</button>
											<button id="type">전라북도</button>
											<button id="type">전라남도</button>
											<button id="type">경상북도</button>
											<button id="type">경상남도</button>
											<button id="type">제주도</button>
										</div>
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 위치</div>
										<input type="text" class="address">
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 소개</div>
										<textarea rows="15" cols="30" class="campintorduce"></textarea>
									</div>
									<hr>
									<div class="addimgbox">
										<div class="tr_texttitle">이미지 추가</div>
										<label for="thumbnail" class="custom-file-upload"> <i
											class="fas fa-cloud-upload-alt"></i> 파일 선택
										</label> <input type="file" id="thumbnail" class="addimg" multiple
											style="display: none">
									</div>
									<hr>
								</div>

							</div>
						</div>
					</div>
					
					<!--푸터 버튼 영역-->
					<div class="popup-foot">
						<span class="pop-btn close" id="close">창 닫기</span> <span
							class="pop-btn confirm" id="confirm">등록</span>

					</div>
				</div>
			</div>
					
					
			<!--수정모달 감쌀 박스-->
			<div class="popup-wrap" id="modify-popup" style="z-index: 1;">
				<!--실질적 모달팝업-->
				<div class="popup">
					<!--로고 영역-->
					<div class="popup-head">
						<span class="head-title"> 로고</span>
					</div>
					<!--컨텐츠 영역-->
					<div class="popup-body">
						<div class="body-content">
							<div class="body-titlebox">캠핑장 수정하기</div>
							<hr>
							<div class="body-contentbox">
								<div class="campgroundsbox">
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 이름</div>
										<input type="text" class="modify-campName">
										<input type="hidden" class="modify-cno">
										<input type="hidden" class="modify-star">
										<input type="hidden" class="modify-count">
										<input type="hidden" class="modify-heart">
										<input type="hidden" class="modify-unit">
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 종류 (중복 가능합니다.)</div>
										<div class="modifyType">
											<button id="type">일반</button>
											<button id="type">카라반</button>
											<button id="type">글램핑</button>
											<button id="type">자동차</button>
										</div>
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">지역 선택</div>
										<div class="modifyLocation" style="line-height: 40px">
											<button id="type">서울시</button>
											<button id="type">부산시</button>
											<button id="type">대구시</button>
											<button id="type">인천시</button>
											<button id="type">광주시</button>
											<button id="type">대전시</button>
											<button id="type">울산시</button>
											<button id="type">세종시</button>
											<button id="type">경기도</button>
											<button id="type">강원도</button>
											<button id="type">충청북도</button>
											<button id="type">충청남도</button>
											<button id="type">전라북도</button>
											<button id="type">전라남도</button>
											<button id="type">경상북도</button>
											<button id="type">경상남도</button>
											<button id="type">제주도</button>
										</div>
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 위치</div>
										<input type="text" class="modify-address">
									</div>
									<hr>
									<div class="textreviewbox">
										<div class="tr_texttitle">캠핑장 소개</div>
										<textarea rows="15" cols="30" class="modify-campintorduce"></textarea>
									</div>
									<hr>
									<div class="addimgbox">
										<div class="tr_texttitle">이미지 추가</div>
										<label for="thumbnail" class="custom-file-upload"> <i
											class="fas fa-cloud-upload-alt"></i> 파일 선택
										</label> <input type="file" id="modify-thumbnail" class="addimg" multiple
											style="display: none">
									</div>
									<hr>
								</div>

							</div>
						</div>
					</div>
					<!--푸터 버튼 영역-->
					<div class="popup-foot">
						<span class="pop-btn modify-close" id="close">창 닫기</span> <span
							class="pop-btn modify-confirm" id="confirm">수정</span>

					</div>
				</div>
			</div>
		</main>
	
	
	<!-- footer fragment -->
	<div th:replace="~{/fragments/footer :: footerFragment}"></div>
	</div>
</body>

<script th:inline="javascript">
	
</script>

</html>