<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무슨페이지인가요?</title>

    <!--css 연결-->
    <link rel="stylesheet" type="text/css" href="../css/campgroundsdetail.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

     <!-- starrr -->
	<script th:src="@{../js/starrr.js}"></script>
    <link th:href="@{../css/starrr.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
    
    <!--js연결-->
    <script type="text/javascript" src="/js/main.js" defer></script>
     <!--api 연결-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aa8506f7754a9c4a3ff7ed61e6db518a&libraries=services"></script>
									
    <!--구글 폰트 링크-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Varela+Round&display=swap"rel="stylesheet">
    <!--폰트 그림 링크-->
    <script src="https://kit.fontawesome.com/bb87a5faf0.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <div class="container">
        <!--====메인 header====-->
        <header>
            <div class="header box1">
                <!--네비게이션 로고-->
                <div class="header_logo box2">
                    <a class="box3" href="#"><img src="" alt="">
                        캠퍼스사진 </a>

                </div>


                <!--네비게이션 메뉴목록-->
                <ul class="header_menu box2_2">
                    <li class="box3"><a class="item" href="">apple</a></li>
                    <li class="box3_3"><a class="item" href="">cherry</a></li>
                    <li class="box3_2"><a class="item" href="">banana</a></li>
                    <li class="box3_4"><a class="item" href="">melon</a></li>
                </ul>

                <!--우측 상단 마이페이지-->
                <ul class="header_mypage box2_3">
                    <li class="box3">
                        <a href="" class="box3">
                            <i class="fa-solid fa-user item"></i>
                        </a>
                    </li>

                </ul>
                <!--햄버거 메뉴-->
                <a href="#" class="header_hamburger box2_4">
                    <i class="fa-solid fa-bars item"></i>
                </a>
            </div>
        </header>
        <main>
            <div class="body box1">
                <!--메인 바디의 사이드 빈 공간왼쪽-->
                <div class="aside_l box2">aside_l</div>



                <!--메인 바디 가운데 공간-->
                <div class="body_center box2">
                
                    <!----------------캠핑장 사진------------->
                    <div class="sec1 box3">
                        <div class="titlebox box4">
                            <div class="title item">Camper Product Details</div>
                        </div>

                        <div class="campgroundimgbox box4">
                            <img class="campgroundimg item" src="../img/happy13.jpg" th:src="${result.thumbnail}">
                        </div>

                        <div class="cg_titlebox box4">
                            <div class="cg_title item">[[${result.name}]]</div>
                        </div>
                        
                        <div class="cg_starbox box4">
                            <div class="cg_star item">★★★★☆</div>
                        </div>

                        <div class="cg_explainbox box4">
                            <div class="cg_explain item">[[${result.campintroduce}]]</div>
                        </div>

                        <div class="cg_hashtagbox box4">
                            <div class="cg_hashtag item"> #[[${result.camptype}]]</div>
                        </div>
                        
                   <!------------------ 달력--------------------->
				<div id="calendar">
 			    <div id="month-year"></div>
  				<div id="weekdays">
    				<div class="1">Mon</div>
    				<div class="2">Tue</div>
    				<div class="3">Wed</div>
    				<div class="4">Thu</div>
    				<div class="5">Fri</div>
    				<div class="6">Sat</div>
    				<div class="7">Sun</div>
  				</div>
  				<div id="days"></div>
  				<div id="buttons">
   					<button id="prev-month">Prev</button>
    		    	<button id="next-month">Next</button>
    		    	<button id="reservation">reservation</button>
    		    	<button id="reset">RE</button>
  				</div>
				</div>
				</div>
                        
                    <!------------------지도 + 출발지 + 날씨--------------------->
                    <div class="sec2 box3" style="max-width : none; z-index: 1;">
                         
                         <div id="map" style="width:40%;height:350px;max-width : none"></div>
							
                        <div class="mapweatherbox box4">
                            <div class="startbox box5">
                                <div class="startplacetext item">출발지</div>
                                <input type="text" class="startplace item_2">
                            </div>
                            <div class="starttimebox box5">
                                <div class="starttimetext item">출발 시간</div>
                                <input type="time" class="starttime item_2">
                            </div>


                            <div class="totaltimebox box5">
                                <div class="totaltime item">총 소요 시간</div>
                            </div>



                            <div class="weatherbox box5">
                                <div class="weatherplacebox box6">
                                    <div class="weatherplace item">부산 날씨</div>
                                </div>
                                <div class="comerainbox box6">
                                    <div class="comerain item">강수 확률 70%</div>
                                </div>
                                <div class="windspeedbox box6">
                                    <div class="windspeed item">북풍1.4m</div>
                                </div>

                                <div class="searchbox box6">
                                    <button type="button" class="search item">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------------후기-------------------->
                    <div class="sec3 box3">
                        <div class="reviewwritebox box4">
                           <div class="modal-btn-box">
        						<button type="button" id="modal-open">리뷰 작성</button>
						   </div>
                        </div>
                    </div>
                    
                    <div class="sec4 box3">
                    
                        <div class="rv box4"></div>
                        
                        
                        	<a class="list-group replyList">
								<!-- rest 로 들어옴 -->
							</a>
                          
                        </div>
                    </div>
                </div>
						     <!--모달을 감쌀 박스-->
						    <div class="popup-wrap" id="popup" style="z-index: 1;">
						        <!--실질적 모달팝업-->
						        <div class="popup"> 
						            <!--로고 영역-->
						            <div class="popup-head"> 
						                <span class="head-title"> 로고</span>
						            </div>
						            
						            <!--컨텐츠 영역-->
						            <div class="popup-body"> 
						                <div class="body-content">
						                 <div class="body-titlebox">리뷰 작성하기</div>
						                    <hr>
						                    <div class="body-contentbox">
						                       <div class="campgroundsbox">
						                            <div class="campimgbox">	    
						                               <img class="campgroundimg item" src="../img/happy13.jpg" th:src="${result.thumbnail}">                            
						                            </div>
						                            <div class="campexplainbox">
						                                <div class="ce_name">
						                                	[[${result.name}]]
						                                </div> 
						                             	<div class="cg_starbox box4">
                           						 			<div class="cg_star item" id="item_star">
                           						 				<div id="sync_star">[[${result.star}]]</div>
                           						 			</div>
                        								</div>
						                               
						                            </div>
						                       </div>
						                       <hr>
						                       <div class="starbox">
						                            <div class="star_title">별점을 선택하세요</div>
						                            <div class="starsizeupbox">
						                                <div class="starrr star" id="select_star"></div>  
						                            </div>  
						                       </div>
						                       
						                       <hr>
						                       <div class="textreviewbox">
						                            <div class="tr_texttitle">리뷰 내용</div>
						                            <textarea class="tr_text" id="content" placeholder="솔직한 이용후기를 작성해주세요"></textarea>
						
						                       </div>
						                       <hr>
						                       <div class="addimgbox">
						                            <div class="addimgtitle">이미지 추가</div>
						                            <input type="file" id="picture" class="addimg">
						                       </div>
						                    </div>
						                </div>
						            </div>
						            <!--푸터 버튼 영역-->
						            <div class="popup-foot">  
						                <span class="pop-btn close" id="close">창 닫기</span>
						                <span class="pop-btn confirm" id="confirm">확인</span>
						               
						            </div>
						        </div>
						    </div>
						    
						     <!--예약 모달을 감쌀 박스-->
						    <div class="popup-wrap" id="RVpopup" style="z-index: 1;">
						        <!--실질적 모달팝업-->
						        <div class="popup"> 
						            <!--로고 영역-->
						            <div class="popup-head"> 
						                <span class="head-title"> 로고</span>
						            </div>
						            <!--컨텐츠 영역-->
						            <div class="popup-body"> 
						                <div class="body-content">
						                 <div class="body-titlebox">예약하기</div>
						                    <hr>
						                    <div class="body-contentbox">
						                       <div class="campgroundsbox">
						                            <div class="campimgbox">	    
						                               <img class="campgroundimg item" src="../img/happy13.jpg" th:src="${result.thumbnail}">                            
						                            </div>
						                            <div class="campexplainbox">
						                                <div class="ce_name">
						                                	[[${result.name}]]
						                                </div> 
						                             	<div class="cg_starbox box4">
                           						 			<div class="cg_star item" id="item_address">
                           						 				<div id="sync_star">[[${result.address}]]</div>
                           						 			</div>
                        								</div>
						                               
						                            </div>
						                       </div>
						                       <hr>
						                       <div class="starbox">
						                            <div class="star_title">예약일 을 확인하세요</div>
						                            <br><br>
						                            <div class="starsizeupbox">
						                                <div class="start-day" id="start-day">
						                                 	<b> 입실 일 </b><br><br>
						                                 	<cite> 안녕 </cite>
						                                 </div>  
						                                <div class="end-day" id="end-day">
						                                 	<b> 퇴실 일 </b><br><br>
						                                 	<cite> 안녕 </cite>
						                                </div>  
						                            </div>  
						                       </div>
						                       
						                       <hr>
						                       <div class="textreviewbox">
						                            <div class="tr_texttitle">캠핑 소개</div>
						                            <div class="cg_explain item">[[${result.campintroduce}]]</div>
						                       </div>
						                       <hr>

						                    </div>
						                </div>
						            </div>
						            <!--푸터 버튼 영역-->
						            <div class="popup-foot">  
						                <span class="pop-btn close" id="RVclose">창 닫기</span>
						                <span class="pop-btn confirm" id="RVconfirm">예약</span>
						               
						            </div>
						        </div>
						    </div>
						    
						    
						    
						    

                <!--메인 바디의 사이드 빈 공간 오른쪽-->
                <div class="aside_r box2">aside_r</div>


            </div>


        </main>
        <!--====푸터====-->
        <footer>
            <div class="footer box1">
                푸터자리
            </div>
        </footer>


    </div>
    
    <script th:inline="javascript">
    
    // 카카오 지도 API 따로 놓았음
    var address = /*[[${result.address}]]*/null;
    
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	mapOption = {
    	center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    	level: 13 // 지도의 확대 레벨
	};  

	// 지도를 생성합니다    
	var map = new kakao.maps.Map(mapContainer, mapOption); 

	// 주소-좌표 변환 객체를 생성합니다
	var geocoder = new kakao.maps.services.Geocoder();

	// 주소로 좌표를 검색합니다
	geocoder.addressSearch(address, function(result, status) {

		let x = result[0].road_address.x;
		let y = result[0].road_address.y;
		
		console.log(y);
		console.log(x);
			
	 	// 정상적으로 검색이 완료됐으면 
 	if (status === kakao.maps.services.Status.OK) {

    	var coords = new kakao.maps.LatLng(y, x);
    	// 결과값으로 받은 위치를 마커로 표시합니다
    	var marker = new kakao.maps.Marker({
       		map: map,
    	    position: coords
    	});

    	var iwContent = '<div class="map" style="max-width :none; height:100px" "> <a href="https://map.kakao.com/link/to/'+address+','+x+','+y+'" style="color:blue; " target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        iwPosition = new kakao.maps.LatLng(33.450701, 126.570667); //인포윈도우 표시 위치입니다

    	// 인포윈도우를 생성합니다
    	var infowindow = new kakao.maps.InfoWindow({
        	position : iwPosition, 
        	content : iwContent 
    	});
      
    	// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
    	infowindow.open(map, marker); 
		} 
		////////////////////////////////API 끝//////////////////////////////
	});    
    </script>
	
	<script th:inline="javascript">
      const clenderList = /*[[${calender}]]*/ null;
      const cno = /*[[${result.cno}]]*/ null;
    </script>
    
    <script th:src="@{../js/campDetail.js}"></script>
    		
</body>
</html>