<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무슨페이지인가요?</title>
    
    <!--구글 폰트 링크-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Varela+Round&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		
	<!--typeit(페이지에 글씨입력되는것처럼 보이는 것)-->
	<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js" loop="true"></script>

	<!--scrollOut(스크롤 내릴때 효과주는것)
	<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script> -->

	<!--스크롤 내릴때 요소마다 다르게 주는 스크립트
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script> -->

	<!--폰트 그림 링크-->
	<script src="https://kit.fontawesome.com/bb87a5faf0.js" crossorigin="anonymous"></script>
    
    <!--css 연결-->
    <link rel="stylesheet" type="text/css" href="../css/campgroundsdetail.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    
    <!--js연결-->
    <script type="text/javascript" th:inline="javascript" src="../js/itemDetail.js" defer></script>
    
	<!-- jquery -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
  
  	<!-- starrr(임시) -->
	<script th:src="@{../js/starrr.js}"></script>
    <link th:href="@{../css/starrr.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
</head>

<body>
    <div class="container">
       
       <!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>
       
        <main>
            <div class="body box1">
                <!--메인 바디 가운데 공간-->
                <div class="body_center box2">
                    <!----------------캠핑장 사진------------->
                    <div th:replace="~{fragments/item_sec :: detail1Fragment}"></div>
					<!-- 리뷰 추가 모달창 -->
                    <div th:replace="~{fragments/item_sec :: detail3Fragment}"></div>
		        </div>
		    </div>
            <!---------------후기-------------------->
            <div th:replace="~{fragments/item_sec :: detail2Fragment}"></div>
        </main>
        
        <!-- footer fragment -->
		<div th:replace="~{/fragments/footer :: footerFragment}"></div>

    </div>
</body>

</html>