<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{fragments/head_sec :: head-sec}"></div>
    
    <!--css 연결-->
    <link rel="stylesheet" type="text/css" href="../css/campgroundsdetail.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
    <script type="text/javascript" th:inline="javascript" src="../js/itemDetail.js" defer></script>


<!-- starrr(임시) -->
	<script th:src="@{../js/starrr.js}"></script>
    <link th:href="@{../css/starrr.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
</head>

<body>
    <div class="container">
       
       <!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>
		<div th:replace="~{fragments/header :: cartFragment}"></div>
       
        <main>
            <div class="body box1">
                <!--메인 바디 가운데 공간-->
                <div class="body_center box2">
                    <!----------------캠핑장 사진------------->
                    <div th:replace="~{fragments/item_sec :: detail1Fragment}"></div>
					<!-- 리뷰 추가 모달창 -->
                    <div th:replace="~{fragments/item_sec :: detail3Fragment}"></div>
		        </div>
		    </div>
            <!---------------후기-------------------->
            <div th:replace="~{fragments/item_sec :: detail2Fragment}"></div>
        </main>
        
        <!-- footer fragment -->
		<div th:replace="~{/fragments/footer :: footerFragment}"></div>

    </div>
</body>

</html>