<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="~{fragments/head_sec :: head-sec}"></div>
	
	<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="../css/cart.css">
    <link rel="stylesheet" type="text/css" href="../css/camperproduct.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
	
	<!--js연결-->
    <script type="text/javascript" src="../js/itemList.js"></script>
    
    <!-- starrr(임시) -->
	<script th:src="@{../js/starrr.js}"></script>
    <link th:href="@{../css/starrr.css}" rel="stylesheet">
</head>

<body>
    <div class="container">

		<!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>
		<div th:replace="~{fragments/header :: cartFragment}"></div>
		
        <main>
        <div class="body box1">
            <!--메인 바디 가운데 공간-->
            <div class="body_center box2">
		<div th:replace="~{fragments/item_sec :: list1Fragment}"></div>
		<div th:replace="~{fragments/item_sec :: list2Fragment}"></div>
		<div th:replace="~{fragments/item_sec :: list3Fragment}"></div>
    <!--모달을 감쌀 박스-->
    
        </main>
            </div>

	<!-- footer fragment -->
	<div th:replace="~{/fragments/footer :: footerFragment}"></div>

        
        
</body>
</html>