<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camper Product</title>
    
    <!--구글 폰트 링크-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Varela+Round&display=swap"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		
	<!--typeit(페이지에 글씨입력되는것처럼 보이는 것)-->
	<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js" loop="true"></script>

	<!--scrollOut(스크롤 내릴때 효과주는것)
	<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script> -->

	<!--스크롤 내릴때 요소마다 다르게 주는 스크립트
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"></script> -->

	<!--폰트 그림 링크-->
	<script src="https://kit.fontawesome.com/bb87a5faf0.js" crossorigin="anonymous"></script>
	
	<!--css 연결-->
	<link rel="stylesheet" type="text/css" href="../css/header.css">
	<link rel="stylesheet" type="text/css" href="../css/cart.css">
    <link rel="stylesheet" type="text/css" href="../css/camperproduct.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
	
	<!--js연결-->
    <script type="text/javascript" src="../js/itemList.js" defer></script>
    
    <!-- jquery -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    
    <!-- starrr(임시) -->
	<script th:src="@{../js/starrr.js}"></script>
    <link th:href="@{../css/starrr.css}" rel="stylesheet">
</head>

<body>
    <div class="container">

		<!-- header fragment -->
		<div th:replace="~{fragments/header :: headerFragment}"></div>
		
        <main>
        <div class="body box1">
            <!--메인 바디 가운데 공간-->
            <div class="body_center box2">

                <!----------------캠핑 상품 목록------------->
                <div class="sec1 box3">
                    <div class="titlebox box4">
                        <div class="title item">Camper Product</div>
                    </div>
                    <div class="line">
                        <hr>
                    </div>

                    <div class="producttypebox box4">
                        <div class="allselect item">카테고리</div>
                        <div class="tent box5">
                            <button class="tentitem1 item" value="취사용품" onclick="search('취사용품','','',1)">취사용품</button>
                            <button class="tentitem2 item_2" value="랜턴" onclick="search('랜턴','','',1)">랜턴</button>
                            <button class="tentitem3 item_3" value="캠핑가구" onclick="search('캠핑가구','','',1)">캠핑가구</button>
                        </div>
                        <div class="tent box5">
                            <button class="tentitem1 item" value="기타캠핑용품" onclick="search('기타캠핑용품','','',1)">기타캠핑용품</button>
                            <button class="tentitem1 item_2" value="텐트" onclick="search('텐트','','',1)">텐트</button>
                            <button class="tentitem1 item_3" value="캠핑매트" onclick="search('캠핑매트','','',1)">캠핑매트</button>
                        </div>
                        <div class="tent box5">
                            <button class="tentitem1 item" value="아이스박스" onclick="search('아이스박스','','',1)">아이스박스</button>
                            <button class="tentitem1 item_2" value="침낭" onclick="search('침낭','','',1)">침낭</button>
                            <button class="tentitem1 item_3" value="텐트/타프용품" onclick="search('텐트/타프용품','','',1)">텐트/타프용품</button>
                        </div>
                        <div class="tent box5">
                            <button class="tentitem1 item" value="타프" onclick="search('타프','','',1)">타프</button>
                            <button class="tentitem1 item_2" value="천막" onclick="search('천막','','',1)">천막</button>
                            <button class="tentitem1 item_3" value="캠핑왜건" onclick="search('캠핑왜건','','',1)">캠핑왜건</button>
                        </div>
                    </div>
                    <hr>
                    <!-- <div class="campingtypebox box4">
                        <div class="allselect item">전체선택</div>
                        <div class="glamping item">글램핑</div>
                        <div class="wildcamping item_2">와일드 캠핑</div>
                        <div class="caravan item_3">카라반</div>
                        <div class="carcamping item_4">차박</div>
                    </div>
                    <div class="line">
                        <hr>
                    </div> -->

                </div>

                <div class="sec2 box3">
                    <div class="dropdownsearchbox box4">
                        <div class="dropdownbox box5">
                            <div class="dropdown box6">
                                <a href="#" class="dropbtn item">정렬</a>
                                <div class="subdropdown box7">
                                    <button class="dropitem item" onclick="search('', '', 'count', 1)"><a>조회순</a></button>
                                    <button class="dropitem item_2" onclick="search('', '', 'heart', 1)"><a>찜순위</a></button>
                                    <button class="dropitem item_3" onclick="search('', '', 'price', 1)"><a>가격순</a></button>
                                    <button class="dropitem item_4" onclick="search('', '', '', 1)"><a>최신순</a></button>
                                </div>
                            </div>
                        </div>
                        <div class="searchbox box5">
                        	<input  type="text" class="search item" placeholder="검색상자" onblur="search('',this,'',1)"></input>
                        </div>
                    </div>
                </div>
                <!-------------------판매상품 목록--------------------->
                <div class="sec3 box3" id="list">
                <!-- th:attr="onclick=|showDetail(${item.ino})|" -->
                </div>
                <div class="pagingEl"></div>
                
				<!-- ---------판매상품 목록 끝------------ -->
            </div> 
            <!-- 메인 바디 가운데 공간 끝 -->
                </div>
                <!--판매 상품 등록-->
                <!-- 리뷰 추가 모달창 -->
                <div class="modal-btn-box" sec:authorize="isAuthenticated()">
        			<button type="button" id="item-modal-open">아이템 추가</button>
				</div>
				<!--모달을 감쌀 박스-->
				<div class="popup-wrap" id="item-popup">
			        <!--실질적 모달팝업-->
			        <div class="popup"> 
			            <!--로고 영역-->
			            <div class="popup-head"> 
			                <span class="head-title"> 로고</span>
			            </div>
			            <!--컨텐츠 영역-->
			            <div class="popup-body"> 
			                <div class="body-content">
			                 <div class="body-titlebox">아이템 추가하기</div>
			                    <hr>
			                    <div class="body-contentbox">
			                       <div class="campgroundsbox">
			                            <div class="campimgbox">
			                                <img id="imageChange" class="campimg" src="/display?fileName=null">
			                            </div>
			                            <div class="campexplainbox">
			                                <div class="ce_title">이름 : </div> 
			                                <div class="ce_preice">
			                                  가격 : 
			                                </div>
			                               
			                            </div>
			                       </div>
			                       <hr>
			                       <div class="itemnamebox">
			                            <div class="tr_texttitle">아이템 이름*</div>
			                            <input type="text" id="name" placeholder="아이템 이름을 적어주세요">
			                       </div>
			                       <hr>
			                       <div class="itempricebox">
			                            <div class="tr_texttitle">아이템 가격*</div>
			                            <input type="text" id="price" placeholder="가격은 숫자만 적어주세요">
			                       </div>
			                       <hr>
			                       <div class="itembrandbox">
			                            <div class="tr_texttitle">브랜드명</div>
			                            <input type="text" id="brand" placeholder="생략가능" value="">
			                       </div>
			                       <hr>
			                       <div class="itemmakerbox">
			                            <div class="tr_texttitle">메이커명</div>
			                            <input type="text" id="maker" placeholder="생략가능" value="">
			                       </div>
			                       <hr>
			                       <div class="textreviewbox">
			                            <div class="tr_texttitle">아이템 링크</div>
			                            <textarea class="tr_text" id="link" placeholder="아이템 소개 링크를 입력해주세요"></textarea>
			                       </div>
			                       <hr>
			                       <div class="addimgbox">
			                            <div class="addimgtitle">이미지 추가</div>
			                            <input type="file" id="thumbnail" class="addimg" multiple>
			                       </div>
			                       <hr>
			                       <div class="itemcategorybox">
			                            <div class="addimgtitle">카테고리 설정</div>
			                            <select name="category">
			                            	<option value="기타캠핑용품" selected>기타캠핑용품</option>
			                            	<option value="캠핑왜건">캠핑왜건</option>
			                            	<option value="취사용품">취사용품</option>
			                            	<option value="랜턴">랜턴</option>
			                            	<option value="캠핑가구">캠핑가구</option>
			                            	<option value="텐트">텐트</option>
			                            	<option value="캠핑매트">캠핑매트</option>
			                            	<option value="아이스박스">아이스박스</option>
			                            	<option value="텐트/타프용품">텐트/타프용품</option>
			                            	<option value="침낭">침낭</option>
			                            	<option value="타프">타프</option>
			                            	<option value="천막">천막</option>
			                            </select>
			                       </div>
			                       <hr>
			                    </div>
			                </div>
			            </div>
			            <!--푸터 버튼 영역-->
			            <div class="popup-foot">  
			                <span class="pop-btn close" id="close">창 닫기</span>
			                <span class="pop-btn confirm" id="confirm">확인</span>
			               	<span class="pop-btn confirm" id="modify">수정</span>
			          	</div>
					</div>
				</div>
				<!-- 추가 모달 끝 -->
				
    <!--모달을 감쌀 박스-->
    <div class="popup-wrap" id="cart-popup">
        <!--실질적 모달팝업-->
        <div class="popup">
            <!--로고 영역-->
            <div class="popup-head">
                <span class="head-title"> 로고</span>
            </div>
            <!--컨텐츠 영역-->
            <div class="popup-body">
                <div class="body-content">
                    <div class="body-titlebox">장바구니</div>
                    <hr>
                    <div class="body-contentbox">
                        <table>
                        </table>
                        <div class="sumbox">
                            <div class="sumcount" id="cartCount"></div>
                            <div class="sumprice" id="txt_getChkList"></div>
                        </div>

                        <div class="btnbox">
                            <div class="delete" onclick="deleteCart()">선택 상품 삭제</div>
                            <div class="selectorder" onclick="orderCart()">선택 상품 주문</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--푸터 버튼 영역-->
            <div class="popup-foot">
                <span class="pop-btn close" id="cart-close">창 닫기</span>
                <span class="pop-btn confirm">임시저장</span>
            </div>
        </div>
    </div>
        </main>
            </div>

	<!-- footer fragment -->
	<div th:replace="~{/fragments/footer :: footerFragment}"></div>

        
        
</body>
</html>