<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camper Product</title>

	<!-- jquery -->
	<script
	  src="https://code.jquery.com/jquery-3.6.3.min.js"
	  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	  crossorigin="anonymous"></script>
	<!-- starrr(임시) -->
	<script th:src="@{../js/starrr.js}"></script>
    <link th:href="@{../css/starrr.css}" rel="stylesheet">
	  
    <!--css 연결-->
    <link rel="stylesheet" type="text/css" href="../css/cart.css">
    <link rel="stylesheet" type="text/css" href="../css/camperproduct.css">
    <link rel="stylesheet" type="text/css" href="../css/reviewwrite.css">
    <!--js연결-->
    <script type="text/javascript" src="../js/itemList.js" ></script>

    <!--구글 폰트 링크-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Varela+Round&display=swap"
        rel="stylesheet">
    <!--폰트 그림 링크-->
    <script src="https://kit.fontawesome.com/bb87a5faf0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <!--====메인 header====-->
        <header>
            <div class="header box1">
                <!--네비게이션 로고-->
                <div class="header_logo box2">
                    <a class="box3" href="#"><img src="" alt="">
                        캠퍼스사진 </a>

                </div>


                <!--네비게이션 메뉴목록-->
                <ul class="header_menu box2_2">
                    <li class="box3"><a class="item" href="">apple</a></li>
                    <li class="box3_3"><a class="item" href="">cherry</a></li>
                    <li class="box3_2"><a class="item" href="">banana</a></li>
                    <li class="box3_4"><a class="item" href="">melon</a></li>
                </ul>

                <!--우측 상단 마이페이지-->
                <ul class="header_mypage box2_3">
                    <li class="box3">
                        <a class="box3" id="cart-modal-open" onclick="cartModal()">
                            <i class="fa-solid fa-user item"></i>
                        </a>
                    </li>
                </ul>

                <!--햄버거 메뉴-->
                <a href="#" class="header_hamburger box2_4">
                    <i class="fa-solid fa-bars item"></i>
                </a>
            </div>
        </header>
        <main>
        <div class="body box1">
            <!--메인 바디의 사이드 빈 공간왼쪽-->
            <div class="aside_l box2">aside_l</div>



            <!--메인 바디 가운데 공간-->
            <div class="body_center box2">

                <!----------------캠핑 상품 목록------------->
                <div class="sec1 box3">
                    <div class="titlebox box4">
                        <div class="title item">Camper Product</div>
                    </div>
                    <div class="line">
                        <hr>
                    </div>

                    <div class="producttypebox box4">
                        <div class="allselect item">카테고리</div>
                        <h1 sec:authorize="!isAuthenticated()">이스터에그</h1>
                        <div class="tent box5">
                            <div class="tentitem1 item">돔 텐트</div>
                            <div class="tentitem2 item_2">리빙쉘 텐트</div>
                            <div class="tentitem3 item_3">터널형 텐트</div>
                        </div>
                        <div class="pole box5">
                            <div class="poleitem1 item">스틸</div>
                            <div class="poleitem2 item_2">알루미늄</div>
                            <div class="poleitem3 item_3">화이버 글라스</div>
                        </div>
                        <div class="hammer box5">
                            <div class="hammeritem1 item">나무망치</div>
                            <div class="hammeritem2 item_2">쇠망치</div>
                            <div class="hammeritem3 item_3">우레탄(고무)망치</div>
                        </div>
                        <div class="caravan box5">
                            <div class="caravanitem1 item">카고 트레일러</div>
                            <div class="caravanitem2 item_2">폴딩 트레일러</div>
                            <div class="caravanitem3 item_3">일반 캠핑 트레일러</div>
                        </div>
                    </div>
                    <hr>
                    <!-- <div class="campingtypebox box4">
                        <div class="allselect item">전체선택</div>
                        <div class="glamping item">글램핑</div>
                        <div class="wildcamping item_2">와일드 캠핑</div>
                        <div class="caravan item_3">카라반</div>
                        <div class="carcamping item_4">차박</div>
                    </div>
                    <div class="line">
                        <hr>
                    </div> -->

                </div>

                <div class="sec2 box3">
                    <div class="dropdownsearchbox box4">
                        <div class="dropdownbox box5">
                            <div class="dropdown box6">
                                <a href="#" class="dropbtn item">정렬</a>
                                <div class="subdropdown box7">
                                    <div class="dropitem item" onclick="search('', '', 'count', 1)"><a>조회순</a></div>
                                    <div class="dropitem item_2" onclick="search('', '', 'heart', 1)"><a>찜순위</a></div>
                                    <div class="dropitem item_3" onclick="search('', '', 'price', 1)"><a>가격순</a></div>
                                    <div class="dropitem item_4" onclick="search('', '', '', 1)"><a>최신순</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="searchbox box5">
                        	<input  type="text" class="search item" placeholder="검색상자"></input>
                        </div>
                    </div>
                </div>
                <!-------------------판매상품 목록--------------------->
                <div class="sec3 box3" id="list">
                <!-- th:attr="onclick=|showDetail(${item.ino})|" -->
                </div>
                <div class="pagingEl"></div>
                
				<!-- ---------판매상품 목록 끝------------ -->
            </div> 
            <!-- 메인 바디 가운데 공간 끝 -->
                </div>
                <!--판매 상품 등록-->
                <!-- 리뷰 추가 모달창 -->
                <div class="modal-btn-box" sec:authorize="isAuthenticated()">
        			<button type="button" id="item-modal-open">아이템 추가</button>
				</div>
				<!--모달을 감쌀 박스-->
				<div class="popup-wrap" id="item-popup">
			        <!--실질적 모달팝업-->
			        <div class="popup"> 
			            <!--로고 영역-->
			            <div class="popup-head"> 
			                <span class="head-title"> 로고</span>
			            </div>
			            <!--컨텐츠 영역-->
			            <div class="popup-body"> 
			                <div class="body-content">
			                 <div class="body-titlebox">아이템 추가하기</div>
			                    <hr>
			                    <div class="body-contentbox">
			                       <div class="campgroundsbox">
			                            <div class="campimgbox">
			                                <img id="imageChange" class="campimg" src="/display?fileName=null">
			                            </div>
			                            <div class="campexplainbox">
			                                <div class="ce_title">이름 : </div> 
			                                <div class="ce_preice">
			                                  가격 : 
			                                </div>
			                               
			                            </div>
			                       </div>
			                       <hr>
			                       <div class="itemnamebox">
			                            <div class="tr_texttitle">아이템 이름*</div>
			                            <input type="text" id="name" placeholder="아이템 이름을 적어주세요">
			                       </div>
			                       <hr>
			                       <div class="itempricebox">
			                            <div class="tr_texttitle">아이템 가격*</div>
			                            <input type="text" id="price" placeholder="가격은 숫자만 적어주세요">
			                       </div>
			                       <hr>
			                       <div class="itembrandbox">
			                            <div class="tr_texttitle">브랜드명</div>
			                            <input type="text" id="brand" placeholder="생략가능" value="">
			                       </div>
			                       <hr>
			                       <div class="itemmakerbox">
			                            <div class="tr_texttitle">메이커명</div>
			                            <input type="text" id="maker" placeholder="생략가능" value="">
			                       </div>
			                       <hr>
			                       <div class="textreviewbox">
			                            <div class="tr_texttitle">아이템 링크</div>
			                            <textarea class="tr_text" id="link" placeholder="아이템 소개 링크를 입력해주세요"></textarea>
			                       </div>
			                       <hr>
			                       <div class="addimgbox">
			                            <div class="addimgtitle">이미지 추가</div>
			                            <input type="file" id="thumbnail" class="addimg" multiple>
			                       </div>
			                       <hr>
			                       <div class="itemcategorybox">
			                            <div class="addimgtitle">카테고리 설정</div>
			                            <select name="category">
			                            	<option value="기타캠핑용품" selected>기타캠핑용품</option>
			                            	<option value="캠핑왜건">캠핑왜건</option>
			                            	<option value="취사용품">취사용품</option>
			                            	<option value="랜턴">랜턴</option>
			                            	<option value="캠핑가구">캠핑가구</option>
			                            	<option value="텐트">텐트</option>
			                            	<option value="캠핑매트">캠핑매트</option>
			                            	<option value="아이스박스">아이스박스</option>
			                            	<option value="텐트/타프용품">텐트/타프용품</option>
			                            	<option value="침낭">침낭</option>
			                            	<option value="타프">타프</option>
			                            	<option value="천막">천막</option>
			                            </select>
			                       </div>
			                       <hr>
			                    </div>
			                </div>
			            </div>
			            <!--푸터 버튼 영역-->
			            <div class="popup-foot">  
			                <span class="pop-btn close" id="close">창 닫기</span>
			                <span class="pop-btn confirm" id="confirm">확인</span>
			               	<span class="pop-btn confirm" id="modify">수정</span>
			          	</div>
					</div>
				</div>
				<!-- 추가 모달 끝 -->
				
    <!--모달을 감쌀 박스-->
    <div class="popup-wrap" id="cart-popup">
        <!--실질적 모달팝업-->
        <div class="popup">
            <!--로고 영역-->
            <div class="popup-head">
                <span class="head-title"> 로고</span>
            </div>
            <!--컨텐츠 영역-->
            <div class="popup-body">
                <div class="body-content">
                    <div class="body-titlebox">장바구니</div>
                    <hr>
                    <div class="body-contentbox">
                        <table>
                        </table>
                        <div class="sumbox">
                            <div class="sumcount" id="cartCount"></div>
                            <div class="sumprice" id="txt_getChkList"></div>
                        </div>

                        <div class="btnbox">
                            <div class="delete" onclick="deleteCart()">선택 상품 삭제</div>
                            <div class="selectorder" onclick="orderCart()">선택 상품 주문</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--푸터 버튼 영역-->
            <div class="popup-foot">
                <span class="pop-btn close" id="cart-close">창 닫기</span>
                <span class="pop-btn confirm">임시저장</span>
            </div>
        </div>
    </div>
            </div>


            <!--메인 바디의 사이드 빈 공간 오른쪽-->
            <div class="aside_r box2">aside_r</div>






        </div>
        
        </main><!--====푸터====-->
        <footer>
            <div class="footer box1">
                푸터자리
            </div>
        </footer>
        
    </div>
</body>
</html>